.cq-Editable-dom {
  &.newpar {
    display: block;
  }
}
/* Edit Mode */
.aem-AuthorLayer-Edit {
  .cmp-container-alignment {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .button {
    .cmp-button {
      border: none;
      background: transparent;
    }
  }
  @include respond-to(tablet) {
    header.cmp-experiencefragment--header-mobile {
      display: block;
    }
    #navigationMenuMobile {
      .wrapper {
        #mobileNavbar {
          display: grid;
          grid-template-columns: 15rem 25rem;
          justify-content: space-between;
        }
      }
      /* &:first-of-type {
          .cmp-container {
            display: grid;
            
            .xf-master-building-block {
              display: grid;
              grid-template-columns: 1fr 1fr;
              justify-content: space-between;
              .button {
                display: block;
                width: 100%;
                .cmp-button {
                  width: 100%;
                  .cmp-button__icon {
                    margin-left: initial;
                  }
                }
              }
            }
          }
        } */
    }
  }
}

/* Preview Mode */
.aem-AuthorLayer-Preview {
}

/* Layout Mode */
.aem-AuthorLayer-Layouting {
}

/* Developer Mode */
.aem-AuthorLayer-Developer {
}
/* Structure Mode */
.aem-AuthorLayer-structure {
  header.experiencefragment {
    position: relative;
  }
}
/* Initial Content Mode */
.aem-AuthorLayer-initial {
}
/* Container Experience Fragment*/
.xf-web-container {
}
