.section {
  container-type: inline-size;
  container-name: section-container;
  z-index: 3;
  position: relative;
}

.wrapper {
  width: 100%;
  padding: 0 1.429rem;
  margin: 0 auto;
  container-type: inline-size;
  container-name: wrapper-container;
  transition: $standard-transition;
}

@include respond-to(tablet) {
  .wrapper {
    max-width: 117.143rem;
  }
}
@include respond-to($breakpoint-high-definition) {
  .wrapper {
    padding: 0;
  }
}
