header.cmp-experiencefragment--header-desktop {
  #logo {
    .cmp-image__image {
      max-width: 10.7rem;
    }
  }
  #header--tablist {
    .cmp-tabs__tablist {
      justify-content: center;
      flex-wrap: nowrap;
      border-bottom: 0;
      margin: 0;
      .cmp-tabs__tab {
		position: relative;
        width: -moz-fit-content;
        width: fit-content;
        font-size: 1.214rem;
        text-transform: uppercase;
        font-family: $title-medium;
		.cmp-button{
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
      }
    }
  }
  #navbar {
    //transition: $standard-transition;
  }
  #navigation-menu {
    margin-top: 2.2rem;
    border-bottom: 1px solid;
    border-color: rgba(11, 29, 44, 0.2);
  }
  .cmp-button__icon--search {
    width: 2rem;
    height: 2rem;
    margin-left: auto;
  }
  .menu-desktop {
    display: none;

    &.menu-desktop--opened {
      display: block;
    }
  }
  &.scrolled {
    #navbar {
      opacity: 0;
      transition: display 300ms;
      display: none;
      animation: fadeOut 0.3s ease-in-out;
    }
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    display: flex;
  }

  33% {
    opacity: 0.6;
    display: flex;
  }
  66% {
    opacity: 0.3;
    display: flex;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
