header.cmp-experiencefragment--header-desktop {
  z-index: 10 !important;

  #header--tablist {
    .cmp-tabs__tablist {
      justify-content: center;
      flex-wrap: nowrap;
      border-bottom: 0;
      margin: 0;
      .cmp-tabs__tab {
        position: relative;
        width: -moz-fit-content;
        width: fit-content;
        font-size: 1.214rem;
        text-transform: uppercase;
        font-family: $title-medium;
        .cmp-button {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
        }
      }
    }
  }
  #navbar {
    //transition: $standard-transition;
  }
  #navigation-menu {
    padding-top: 1.7rem;
    border-bottom: 1px solid;
    border-color: rgba(11, 29, 44, 0.2);
    #logo {
      .cmp-image__image {
        max-width: 10.7rem;
        .cmp-image__link {
          display: block;
          height: 100%;
        }
      }
    }
    .cmp-button {
      width: -moz-fit-content;
      width: fit-content;
      display: block;
      margin-left: auto;
      .cmp-button__icon--search {
        width: 2rem;
        height: 2rem;
        margin-left: auto;
      }
    }
  }
  .menu-desktop {
    display: none;

    &.menu-desktop--opened {
      display: block;
      .cmp-tabs {
        .cmp-tabs__tabpanel--active {
          max-width: 100%;
          min-height: 30rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
  &.scrolled {
    #navbar {
      opacity: 0;
      transition: display 300ms;
      display: none;
      animation: fadeOut 0.3s ease-in-out;
    }
  }
  .teaser {
    flex: 1;
    .cmp-teaser {
      .cmp-teaser__link {
        text-decoration: none;
        .cmp-teaser__title {
          text-align: left;
          font-size: 1rem;
          font-family: $title-light;
          font-weight: normal;
          margin: 0.357rem 0;
        }
      }
    }
  }
  .text {
    text-align: left;
    font-size: 1rem;
    font-family: $title-light;
    .cmp-text {
      p {
        margin: 0.357rem 0;
        a {
          text-decoration: none;
          b {
            font-family: $title-bold;
          }
        }
      }
    }
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    display: flex;
  }

  33% {
    opacity: 0.6;
    display: flex;
  }
  66% {
    opacity: 0.3;
    display: flex;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
