%btn-primary {
    display: inline-flex;
    align-items: center;
    font-family: $font-default;
    background-color: $primary;
    font-weight: $font-medium;
    font-size: $text-size;
    line-height: $text-line-height;
    text-align: center;
    color: $white;
    padding: 10px 50px;
    border: none;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color $transition-duration-default $transition-ease-in-out;

    &:hover {
        background-color: $primary-hover;
    }
}

.button-cta {
  &--primary {
    a,
    button {
      @extend %btn-primary;
    }
  }
}

.cmp-form-button {
  @extend %btn-primary;
}
