%flex-row-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

%flex-column-start {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

%flex-row-start {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}