@import "../../site/variables/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.cmp-editimage {

    padding-left: 15px;
    padding-right: 15px;

    .edit-image-cta-wrapper {

        min-width: 500px !important;

        @include media-breakpoint-down(lg) {
            min-width: 200px !important;
        }

        .cmp-editimage__addEdit {
            width: 40%;

            @include media-breakpoint-down(lg) {
                width: 100%;
            }

            a, #editProfileLinkLogout {
                padding-left: 0px;
            }


        }
    }

    @include media-breakpoint-down(lg) {
        flex-direction: column;
        align-items: start !important;
    }

    .cmp-editimage__imgWrapper {
        width: 120px;
        aspect-ratio: 1/1;
        background-position: center;
        background-repeat: no-repeat;
        color: $fm-color-text;
        background-color: $gray;
        background-image: url($resources-path + "/icon_profile_black.svg");
    }


    .cmp-editimage__addEdit {
        background-image: url($resources-path + "/icons/arrow_long_right.svg"); 
        background-repeat: no-repeat;
        background-position: right;
        border-bottom: solid $fm-color-blue-link 2px;
        width: 180px;

        &:hover {
            cursor: pointer;
        }

        p {
            font-family: $font-default !important;
            padding-left: 0;
        }
    }

    .cmp-editimage__cta {
        @include media-breakpoint-down(lg) {
           justify-content: center;
        }
    }
}

#cmp-editImage__errorsAlert,
#cmp-editImage__successAlert {
    max-width: 350px;
    min-width: 200px;
}
