.cmp-signupform {

    .cmp-signupform__subtitle {
        margin-top: 0.5rem;
        color: $fm-color-text;

        span {
            color: $primary;
        }
    }

    .cmp-signupform__formItemTitle {
        font-weight: 300;
        color: $fm-color-text;

        span {
            color: $primary;
        }

        .cmp-signupform__formItemLabel {
            margin-bottom: 12px;
            font-family: $font-arimo;
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            color: $fm-color-text
        }
    }

    .cmp-signupform__countryTitle {
        margin-bottom: 37px;

        @include media-breakpoint-down(lg) {
            margin-bottom: 12px;
        }
    }

    .cmp-signupform__privacywrapper {

        h6 {
            color: $fm-color-text;
        }

        p {
            font-size: 15px;
            font-weight: 400;
            line-height: 25px;
            letter-spacing: 0.25px;

            a {
                color: $fm-color-blue-link;
            }

            span {
                color: $primary;
            }
        }

        label {
            font-weight: 400;
            font-size: 1rem;
            line-height: 25px;
            font-family: $font-arimo;
            color: $fm-color-text;
        }

        span {
            color: $primary;
        }
    }

    .cmp-signupform__customError {
        font-family: $font-arimo;
        color: #dc3545;
        font-size: .875em;
    }

    .cmp-signupform__borderRed {
        border-color: #dc3545 !important;
    }

    .cmp-signupform__borderGreen {
        border-color: #198754 !important;
    }

    .invalid-feedback {
        font-family: $font-arimo;
    }
}