.cmp-signupform {

    .cmp-signupform__subtitle {
        margin-top: 0.5rem;
        color: $body-color;

        span {
            color: $primary;
        }
    }

    .cmp-signupform__formwrapper {
        .cmp-signupform__formItemWrapper {
            height: 50px;

            .cmp-signupform__formItemTitle {
                font-weight: 300;

                span {
                    color: $primary;
                }

                .cmp-signupform__formItemLabel {
                    margin-bottom: 12px;
                    font-family: $font-family-base;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 25px;
                    color: $body-color;
                }
            }

            .cmp-signupform__textField {
                height: 65px;
                border: solid $body-color 1px;

                &:focus {
                    box-shadow: none;
                }
            }

            .form-control::placeholder {
                font-family: Oswald;
                font-size: 20px;
                font-weight: 300;
                line-height: 25px;
                color: $color-fondazione-text-light;
            }

            .cmp-signupform__datepicker {
                border: solid $body-color 1px;
                height: 65px;

                &:focus {
                    box-shadow: none;
                }
            }

            input[type="number"] {
                -moz-appearance: textfield;
            }

            input[type="number"]::-webkit-inner-spin-button,
            input[type="number"]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    }

    .cmp-signupform__privacywrapper {

        p {
            font-size: 15px;
            font-weight: 400;
            line-height: 25px;
            letter-spacing: 0.25px;

            a {
                color: $blue-link;
            }

            span {
                color: $primary;
            }
        }

        label {
            font-weight: 400;
            font-size: 1rem;
            line-height: 25px;
        }

        span {
            color: $primary;
        }
    }

    .dropdown-toggle {
        height: 65px;
        border: solid black 1px;
        padding: 0.375rem 0.75rem;
        cursor: pointer;
        font-size: 20px;
        font-weight: 300;
        line-height: 25px;
        color: $color-fondazione-text-light;
        background-color: transparent;
    
        &::after {
            display: none;
        }
    }
    
    .dropdown-toggle-filled {
        font-family: Oswald;
        font-size: 20px;
        font-weight: 300;
        line-height: 25px;
        color: $body-color !important;
    }
    
    .dropdown-menu {
        max-height: 200px;
        background-color: $white;
        z-index: 1000;
        top: 100%;

        li {
            height: 65px !important;
        }
    }
    
    .active-dropdown {
        background-color: rgba(20, 63, 89, 0.2) !important;
    }
    
    .dropdown-item {
        height: 100%;
        color: $body-color;
        padding: 0.5rem 1rem;
        cursor: pointer;
    
        &:hover {
            background-color: $color-hover-li;
        }
    }
    
    .form-check-input {
        margin-right: 10px;
        border: solid 2px $body-color;
        appearance: none;
    
        &:focus {
            box-shadow: none;
            border-color: $body-color;
        }
    
        &:checked {
            background-color: transparent;
            border-color: $blue-link;
            accent-color: $blue-link;
        }
    }
    
    input[type="checkbox"]:not(:disabled):checked {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 32 32" xml:space="preserve"><path style="fill: %230783FF" d="M11.941,28.877l-11.941-11.942l5.695-5.696l6.246,6.246l14.364-14.364L32,8.818"/></svg>');
    }
}



