<sly data-sly-resource="${ 'timeLineObject_1' @ resourceType='laboratorio-guidotti/components/timeline_object', decorationTagName='div', cssClassName='cmp-timeline--obj'}" data-sly-unwrap></sly>
<sly data-sly-resource="${ 'timeLineObject_2' @ resourceType='laboratorio-guidotti/components/timeline_object', decorationTagName='div', cssClassName='cmp-timeline--obj'}" data-sly-unwrap></sly>
<sly data-sly-resource="${ 'timeLineObject_3' @ resourceType='laboratorio-guidotti/components/timeline_object', decorationTagName='div', cssClassName='cmp-timeline--obj'}" data-sly-unwrap></sly>

