.cmp-form-button {
  font-family: $font-default;
  font-size: $text-size;
  line-height: 1.5;
  font-weight: $font-medium;
  background-color: $primary;
  padding: 10px 50px;
  border: 0;
  text-transform: uppercase;
  box-shadow: none;
  border-radius: 0;
  color: white;
  text-align: center;
  cursor: pointer;
  transition: opacity .3s;

  &:hover {
      opacity: 0.8;
  }
}
