@import "../../site/variables/variables";
@import "./button";
@import "./options";

.cmp-form {
    margin: $xl auto;

    input,
    textarea {
        &:focus {
            border-color: $fm-color-border;
            outline: 0;
        }
    }

    input[type="text"],
    input[type="email"],
    textarea {
        width: 100%;
    }

    span.text-danger {
        font-size: 16px;
        color: $primary;
        display: block;
    }

    .cmp-form-text {
        position: relative;
        display: block;
        padding-right: $xs;
        margin-bottom: $xl;

        label {
            display: block;
            margin-bottom: $s;
            font-family: $font-default;
            font-size: $title-small-font-size;
            line-height: 1.5;
            font-weight: $font-light;
            color: $fm-color-text;
        }

        &__text,
        &__textarea {
            padding: $xs/2 $xs $xs/2 20px;
            border: 1px solid $fm-color-text;
            font-family: $font-default;
            font-weight: $font-light;
        }

        &__text {
            height: 65px;
        }

        &:has(input[required], textarea[required], select[required]) {
            label::after {
                content: " *";
                margin: 0 7px;
                color: $primary;
                font-weight: $font-semi-bold;
            }
        }
    }

    .cmp-text {
        margin-bottom: $s;

        p {
            font-size: $small-text-size;
        }
    }

    .options {
        margin-bottom: $s;
        padding: 0 16px;
    }

    .button {
        display: flex;
        justify-content: center;
    }

    .error-message {
      position: absolute;
      bottom: -24px;
      left: 0;
      font-size: $super-small-text-size;
      color: $fm-form-error;
    }
}
