.customform {

    .customform__signincol {
        border-right: solid 1px $fm-color-gray-light;

        @include media-breakpoint-down(lg) {
            border-right: none;
            border-bottom: solid 1px $fm-color-gray-light;
        }
    }

    h3 {
        color: $fm-color-text;
    }

    .cmp-signinform__formItemTitle {
        font-weight: 300;
    }

    .forgot-password-link {
        font-family: $font-arimo;
    }

}