<div>
    <h2 class="h2 h2-light cmp-editprofileform__editProfileTitle">${'change_your_password' @ i18n}</h2>

    <form class="customform needs-validation mt-4" id="passwordForm" method="post" novalidate>
        <div class="row g-4 m-0 p-0">
            <div class="col-12 px-0">
                <h3 class="cmp-editprofileform__formItemTitle h3 h3-light">${'current_password' @ i18n}
                    <span>${'mandatory' @ i18n}</span>
                </h3>
                <div>
                    <input required placeholder="${'current_password_label' @ i18n}" name="currentPassword"
                        type="password" class="form-control cmp-form__textField mt-2 rounded-0" id="currentPassword"
                        aria-describedby="linkedinProfileHelp">
                    <div id="currentPasswordErrorString" class="cmp-editprofile__customError"></div>

                </div>
            </div>
            <div class="col-12 col-lg-6 px-0 pe-lg-2">
                <h3 class="cmp-editprofileform__formItemTitle h3 h3-light">
                    ${'new_password' @ i18n} <span>${'mandatory' @ i18n}</span>
                </h3>
                <div>
                    <input required placeholder="${'new_password_label' @ i18n}" name="newPassword" type="password"
                        class="form-control cmp-form__textField mt-2 rounded-0" id="newPassword"
                        aria-describedby="newPasswordHelp">
                    <div id="newPasswordErrorString" class="cmp-editprofile__customError"></div>
                </div>
            </div>
            <div class="col-12 col-lg-6 px-0 ps-lg-2">
                <h3 class="cmp-editprofileform__formItemTitle h3 h3-light">
                    ${'confirm_password' @ i18n} <span>${'mandatory' @ i18n}</span>
                </h3>
                <div>
                    <input required placeholder="${'confirm_password_label' @ i18n}" name="newPasswordConfirmation"
                        type="passwordConfirmation" class="form-control cmp-form__textField mt-2 rounded-0"
                        id="newPasswordConfirmation" aria-describedby="newPasswordConfirmationHelp">
                    <div id="newPasswordConfirmationErrorString" class="cmp-editprofile__customError"></div>

                </div>
            </div>
        </div>
        <div id="cmp-editprofileform__errorsAlert" class="alert alert-danger mt-4 d-none" role="alert"></div>
        <div class="mt-4">
            <button class="btn btn-primary cmp-form__cta" type="submit">${'save' @ i18n}</button>
        </div>
    </form>

</div>