src/main/content/jcr_root/apps/fondazione/clientlibs/clientlib-site
src/main/content/jcr_root/apps/fondazione/clientlibs/clientlib-dependencies
src/main/content/jcr_root/apps/fondazione/clientlibs/clientlib-forms
# ignore all clientlib-*?
