src/main/content/jcr_root/apps/fondazione/clientlibs/clientlib-*
!src/main/content/jcr_root/apps/fondazione/clientlibs/clientlib-base
!src/main/content/jcr_root/apps/fondazione/clientlibs/clientlib-grid
