.cmp-overlay{
	&::after{
		content: "";
		position: absolute;
		width: 100%;
		height: calc(100% - 40px);
		top: 40px;
		background: -moz-linear-gradient(top,
			rgba(2, 93, 100, 1) 0%,
			rgba(2, 93, 100, 0.5) 50%,
			rgba(255, 255, 255, 0) 100%
		); /* FF3.6-15 */
		background: -webkit-linear-gradient(top,
			rgba(2, 93, 100, 1) 0%,
			rgba(2, 93, 100, 0.5) 50%,
			rgba(255, 255, 255, 0) 100%
		); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom,
			rgba(2, 93, 100, 1) 0%,
			rgba(2, 93, 100, 0.5) 50%,
			rgba(255, 255, 255, 0) 100%
		); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-corporate', endColorstr='#007881',GradientType=0 ); /* IE6-9 */
	}
}