src/main/content/jcr_root/apps/menarinimaster/clientlibs/clientlib-site
/src/main/content/jcr_root/apps/menarinimaster/clientlibs/clientlib-stemline
/src/main/content/jcr_root/apps/menarinimaster/clientlibs/clientlib-relifede
/src/main/content/jcr_root/apps/menarinimaster/clientlibs/clientlib-biotech

src/main/content/jcr_root/apps/menarinimaster/clientlibs/clientlib-dependencies
/src/main/content/jcr_root/apps/menarinimaster/clientlibs/clientlib-dependencies-stemline
/src/main/content/jcr_root/apps/menarinimaster/clientlibs/clientlib-dependencies-relifede
/src/main/content/jcr_root/apps/menarinimaster/clientlibs/clientlib-dependencies-biotech

