# Created by https://www.gitignore.io/api/eclipse,java,maven

### Eclipse ###
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Escape dummy_sdk bin folder
!dispatcher.cloud/test/dummy_sdk/bin

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse


### Java ###
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties


### Vault ###
.vlt


### IntelliJ ###
.idea/
*.iml


### Node.js ###

# Log files
*.log

# NPM
node_modules/
yarn.lock

# Webpack
build/
dist/
actions/common/

# Frontend Maven Plugin
node/

# Tests
coverage/
reports/

# Others
dispatcher/src/conf.d/variables/default.vars
ui.tests/test-module/assets/form/themes/**/*diff.png
ui.tests/test-module/assets/form/themes/**/*current.png
menarini-master-template/ui.content.demo/src/main/content/jcr_root/content/dam/menarini-demo/assets/icons/consumerhelthcare.svg/_jcr_content/renditions/cqdam.machine.metadata.tags.json.dir/_jcr_content/metadata/.content.xml
menarini-master-template/ui.content.minisite/src/main/content/jcr_root/conf/menarini-minisite/settings/wcm/templates/xf-web-variation/thumbnail.png.dir/.content.xml
menarini-master-template/ui.content.minisite/src/main/content/jcr_root/conf/menarini-minisite/settings/wcm/templates/xf-web-variation/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_128.png
menarini-master-template/ui.content.minisite/src/main/content/jcr_root/conf/menarini-minisite/settings/wcm/templates/xf-web-variation/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_300.png
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/menarini---details-news/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_480.png
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/menarini---details-news/thumbnail.png.dir/.content.xml
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/menarini---content-page/thumbnail.png.dir/.content.xml
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/menarini---content-page/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_300.png
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/menarini---content-page/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_319.png
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/menarini---content-page/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_48.png
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/menarini---content-page/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_480.png
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/menarini---content-news/thumbnail.png.dir/.content.xml
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/menarini---content-news/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_480.png
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/menarini---details-news/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_300.png
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/menarini---details-news/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_319.png
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/menarini---details-news/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_48.png
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/menarini---details-page/thumbnail.png.dir/.content.xml
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/menarini---details-page/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_480.png
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/menarini---details-product/thumbnail.png.dir/.content.xml
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/menarini---homepage/thumbnail.png.dir/.content.xml
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/menarini---homepage/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_480.png
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/menarini---product-area/thumbnail.png.dir/.content.xml
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/menarini---product-category/thumbnail.png.dir/.content.xml
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/menarini---product-list-healthcare/thumbnail.png.dir/.content.xml
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/menarini---product-list-healthcare/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_480.png
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/menarini---product-list-pharmaceutical/thumbnail.png.dir/.content.xml
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/menarini---product-list-pharmaceutical/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_480.png
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/page-content/thumbnail.png.dir/.content.xml
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/page-content/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_480.png
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/xf-web-variation/thumbnail.png.dir/.content.xml
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/xf-web-variation/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_480.png
menarini-master-template/ui.content.minisite/src/main/content/jcr_root/conf/menarini-minisite/settings/wcm/templates/menarini---content-page/thumbnail.png.dir/.content.xml
menarini-master-template/ui.content.minisite/src/main/content/jcr_root/conf/menarini-minisite/settings/wcm/templates/menarini---content-page/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_300.png
menarini-master-template/ui.content.minisite/src/main/content/jcr_root/conf/menarini-minisite/settings/wcm/templates/menarini---content-page/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_48.png
menarini-master-template/ui.content.minisite/src/main/content/jcr_root/conf/menarini-minisite/settings/wcm/templates/menarini---details-page/thumbnail.png.dir/.content.xml
menarini-master-template/ui.content.minisite/src/main/content/jcr_root/conf/menarini-minisite/settings/wcm/templates/menarini---details-page/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_300.png
menarini-master-template/ui.content.minisite/src/main/content/jcr_root/conf/menarini-minisite/settings/wcm/templates/menarini---details-page/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_48.png
menarini-master-template/ui.content.minisite/src/main/content/jcr_root/conf/menarini-minisite/settings/wcm/templates/menarini---homepage/thumbnail.png.dir/.content.xml
menarini-master-template/ui.content.minisite/src/main/content/jcr_root/conf/menarini-minisite/settings/wcm/templates/menarini---homepage/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_300.png
menarini-master-template/ui.content.minisite/src/main/content/jcr_root/conf/menarini-minisite/settings/wcm/templates/menarini---homepage/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_319.png
menarini-master-template/ui.content.minisite/src/main/content/jcr_root/conf/menarini-minisite/settings/wcm/templates/menarini---homepage/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_48.png
menarini-master-template/ui.content.minisite/src/main/content/jcr_root/conf/menarini-minisite/settings/wcm/templates/page-content/thumbnail.png.dir/.content.xml
menarini-master-template/ui.content.minisite/src/main/content/jcr_root/conf/menarini-minisite/settings/wcm/templates/page-content/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_300.png
menarini-master-template/ui.content.minisite/src/main/content/jcr_root/conf/menarini-minisite/settings/wcm/templates/page-content/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_48.png
menarini-master-template/ui.content.minisite/src/main/content/jcr_root/conf/menarini-minisite/settings/wcm/templates/xf-web-variation/thumbnail.png.dir/.content.xml
menarini-master-template/ui.content.minisite/src/main/content/jcr_root/conf/menarini-minisite/settings/wcm/templates/xf-web-variation/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_128.png
menarini-master-template/ui.content.minisite/src/main/content/jcr_root/conf/menarini-minisite/settings/wcm/templates/xf-web-variation/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_300.png
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/menarini---details-page/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_300.png
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/menarini---details-page/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_319.png
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/menarini---details-page/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_48.png
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/menarini---details-product/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_300.png
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/menarini---details-product/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_319.png
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/menarini---details-product/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_48.png
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/menarini---homepage/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_300.png
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/menarini---homepage/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_319.png
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/menarini---homepage/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_48.png
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/menarini---product-area/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_300.png
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/menarini---product-area/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_319.png
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/menarini---product-area/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_48.png
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/menarini---product-area/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_480.png
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/menarini---product-category/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_300.png
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/menarini---product-category/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_319.png
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/menarini---product-category/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_48.png
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/menarini---product-list-healthcare/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_300.png
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/menarini---product-list-healthcare/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_319.png
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/menarini---product-list-healthcare/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_48.png
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/menarini---product-list-pharmaceutical/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_300.png
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/menarini---product-list-pharmaceutical/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_319.png
menarini-master-template/ui.content.demo/src/main/content/jcr_root/conf/menarini-demo/settings/wcm/templates/menarini---product-list-pharmaceutical/thumbnail.png.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_48.png
menarini-master-template/ui.content.demo/src/main/content/jcr_root/content/menarini-demo/_jcr_content/image/file.dir/.content.xml
menarini-master-template/ui.content.demo/src/main/content/jcr_root/content/menarini-demo/_jcr_content/image/file.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_300.png
menarini-master-template/ui.content.demo/src/main/content/jcr_root/content/menarini-demo/_jcr_content/image/file.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_48.png
menarini-master-template/ui.content.demo/src/main/content/jcr_root/content/menarini-demo/_jcr_content/image/file.dir/_jcr_content/_dam_thumbnails/_dam_thumbnail_480.png

