<a
  data-sly-use.btnLink="${'com.jakala.menarini.core.models.LinkFormatter' @ authoredLink=properties.link}"
  class="cmp-link cmp-link--${properties.linkType}"
  href="${btnLink.formattedLink}"
  target="${properties.target}"
>
  <sly data-sly-test="${properties.linkType != 'standard'}">
    <sly data-sly-test.isIconLink="${properties.linkType == 'onRadar'}">
      <span class="cmp-link__divider"></span>
      <img
        class="cmp-link__icon-onRadar"
        src="${properties.imageLink}"
        alt="On radar"
        loading="lazy"
      />
      <span class="cmp-link__final-arrow"></span>
    </sly>
    <sly data-sly-test="${!isIconLink}">
      <i class="cmp-link__icon-asset"></i>
    </sly>
  </sly>
  <sly
    data-sly-test="${properties.linkType && properties.linkType != 'onRadar'}"
  >
    <span class="cmp-link--text">${properties.label || 'LINK TITLE'}</span>
  </sly>
</a>
