.cq-Editable-dom {
	.internalmenu {
		.cmp-internalmenu__button {
			position: relative;
		}
	}
}
.internalmenu {
	position: relative;

	/* BUTTON */
	.cmp-internalmenu__button {
		display: block;
		left: 0;
		top: 0px;
		position: absolute;
		transition: all 0.3s;
		background-color: $color-six;
		padding: 20px;
		z-index: 1;
		&.cmp-internalmenu__button-opened {
			left: 70%;
			.cmp-button{
				.cmp-button__icon {
					background-image: url($resources-path + "/images/icons/icon_side_menu_open.svg");
				}
			}
		}
		.cmp-button {
			color: $color-text;
			font-weight: normal;
			text-decoration: none;
			background-color: transparent;
			padding: 0;
			transition: all 0.6s;
			display: block;

			.cmp-button__text {
				font-family: $font-family-oswald;
				font-weight: $font-medium;
				font-size: 14px;
				text-transform: uppercase;
				text-align: center;
				color: $color-corporate;
			}
			.cmp-button__icon {
				width: 42px;
				height: 36px;
				background-image: url($resources-path + "/images/icons/icon_side_menu_close.svg");
				background-position: center center;
				background-size: contain;
				background-repeat: no-repeat;
			}
		}
	}

	/* NAVIGATION */
	.cmp-navigation {
		width: 100%;
		left: -110%;
		display: none;
		top: 0px;
		position: relative;
		transition: all 0.6s;
		transition-delay: -0.6s;
		background-color: $color-six;
		float: left;
		padding: 0;
		&.cmp-navigation--opened {
			left: 0%;
			display: block;
		}
		.cmp-navigation__group {
			list-style: none;
			margin-left: 0px;
			visibility: visible;
			font-family: $font-family-arimo;
			font-size: 16px;
			line-height: 25px;
			margin-bottom: .5rem;
			text-transform: uppercase;

			.cmp-navigation__item-link {
				font-weight: $font-regular;
				font-family: $font-family-oswald;
				text-transform: uppercase;
				font-size: 16px;
				line-height: 1.5;
				color: $color-corporate;
				text-decoration: none;
			}
			.cmp-navigation__item {
				padding-top: 7px;
				padding-bottom: 7px;
				position: relative;

				&--level-0 {
					> .cmp-navigation__item-link {
						font-family: $font-family-oswald;
						font-size: 20px;
						font-style: normal;
						color: $color-primary;
						text-transform: inherit;
						margin-bottom: 15px;
						display: flex;
					}
					width: 100%;
					float: left;
					margin-top: 24px;
					padding-right: 1em;
					.cmp-navigation__group {
						padding: 0;
					}
					&:hover {
						> .cmp-navigation__group {
							background-color: $color-six;
						}
					}
				}
				&--level-1 {
					.cmp-navigation__item-link {
						/*color: $color-primary;*/
					}
				}
				&--level-2,
				&--level-3 {
					padding-left: 46px;
					.cmp-navigation__item-link {
						color: $color-text;
						text-transform: inherit;
						font-size: 16px;
						font-weight: $font-light;
					}
					&::before {
						content: "";
						position: absolute;
						left: 0px;
						top: 20px;
						height: 1px;
						width: 36px;
						background-color: $color-text;
					}
				}

				&--active {
					> .cmp-navigation__item-link {
						color: $color-primary;
						//text-transform: inherit;
					}
				}
			}
		}
	}
}
/*Menu visibile solo se attivo*/
.internalmenu .cmp-navigation__item--level-1 .cmp-navigation__group {
	display: none;
}
.internalmenu .cmp-navigation__item--level-1.cmp-navigation__item--active .cmp-navigation__group {
	display: block;
}
/**/
@media (max-width: 1200px) {
	.internalmenu {
		margin-bottom: 80px;
		&:has(.cmp-internalmenu__button-opened) {
			margin-bottom: 30px;
		}
		.cmp-internalmenu__button-opened {
			left: 80%;
		}
	}
}
@media (min-width: 768px) and (max-width: 1199px) {
	.internalmenu {
		.cmp-navigation {
			.cmp-navigation__group {
				.cmp-navigation__item--level-0 {
					margin-top: 5em;
				}
			}
		}
		.cmp-internalmenu__button {
			padding: 15px;
			&.cmp-internalmenu__button-opened {
				left: 60%;
			}
		}
	}
}

@media (min-width: 1200px) and (max-width: 1364px) {
	.breadcrumb {
		margin-bottom: 60px;
	}
	.internalmenu {
		top: -100px;
	}
}