.cmp-icon{
	display: block;
	width: 1.5rem;
	height: 1.5rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size:contain;
}
.cmp-icon__pin{
	background-image: url(/etc.clientlibs/laboratorio-guidotti/clientlibs/clientlib-site/resources/icons/icon-pin.svg);
}
.cmp-icon__pin-map{
	background-image: url(/etc.clientlibs/laboratorio-guidotti/clientlibs/clientlib-site/resources/icons/icon-pin-map.svg);
}
.cmp-icon__calendar{
	background-image: url(/etc.clientlibs/laboratorio-guidotti/clientlibs/clientlib-site/resources/icons/icon-calendar.svg);
}