.topics-container {
    text-align: center;
    padding: 0 $xs;
    @include media-breakpoint-up(sm) {
        padding: 0;
    }

    &__title {
        @extend %h2;
        color: $secondary-hover;
        text-transform: uppercase;
    }

    &__description {
        @extend %text;
        margin-bottom: $l;
        color: $fm-color-text;
    }

    &__wrapper {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .cmp-button {
        @extend %btn-primary;
        padding: 10px 50px;
        text-transform: uppercase;
        display: inline-block;
        margin-top: 40px;
        transition: background-color $transition-duration-default $transition-ease-in-out;
    
        &:hover {
            background-color: $primary-hover;
        }
    }
    
    .text {
        margin-top: 30px;
        font-size: $small-text-size;
        color: $fm-color-gray-light;
    
        a {
            color: $fm-color-blue-link;
            text-decoration: none;
    
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.topics {
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
        list-style-type: none;
        padding: 0;
        margin: 0;

        &--item {
            margin: 0;

            .active {
                background-color: $secondary;
                color: $white;
            }

            &--button {
                @extend %text;
                cursor: pointer;
                font-size: $small-text-size;
                border: $border-width-thin solid $fm-color-border;
                border-radius: $border-radius-medium;
                background-color: $white;
                padding: 5px 25px;
                color: $fm-color-text;
                transition: background-color $transition-duration-default $transition-ease-in-out;

                &:hover {
                    background-color: $secondary;
                    color: $white;
                }

                &:disabled {
                    color: $fm-color-border;
                    border-color: $fm-color-border;
                    cursor: not-allowed;
                    pointer-events: none;
                    opacity: 0.6;
                }
            }
        }

        &--not-found {
            @extend %text;
            font-size: $small-text-size;
            color: $fm-color-gray-light;
            margin-top: $m;
        }
    }
}
