.cmp-form {
	background-color: #FFF;
	padding: 60px 0;
	margin: 0 auto;
}
.cmp-form p.label_required, .cmp-form p.label_email_not_valid, .cmp-form p.label_file_too_big, .cmp-form p.label_file_extension_not_allowed{
	margin-top:4px;
	color:#a94442;
	font-family: Oswald, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.cmp-form .button .cmp-form-button:hover {
	-webkit-transform: none;
			transform: none;
  }
  .cmp-form #myFiles{
    width: 100%;
    padding: 1%;
    margin: 0px;
	display:inline-block;
  }
  .cmp-form #myFiles:not(:empty){
		background: #F7F6F4;
		margin-bottom: 1%;
	}
