.cmp-form-text {
	display: block;
	padding: 0 15px;
	margin-bottom: 27px;
	label {
		font-family: $font-family-oswald;
		font-size: 30px;
		font-weight: 300;
		color: $color-text;
		margin-bottom: 18px;
		display: block;
	}
}
.cmp-form-text__help-block {
}
.cmp-form-text__textarea {
	max-height: 180px;
	width: 100%;
		&:focus {
			border-color: $color-form-border;
			outline: 0;
		}
	
}
.cmp-form-text__text {
	display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: $color-text;
    background-color: $white;
    background-image: none;
    border: 1px solid $color-background;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	font-family: $font-family-oswald;
    font-size: 20px;
    font-weight: 300;
    color: $color-text;
    border: 0px;
    background: $white;
    box-shadow: none;
    width: 100%;
    height: 65px;
    padding-left: 20px;
    border-radius: 0px;
    border: 1px solid $color-text;
}
