.message-viewer{
    .cmp-text{
        color: $color-text;
        font-family: Arimo,sans-serif;
        font-size: 18px;
        font-weight: $font-regular;
        line-height: 25px;
        padding-right: 30px;
    }
}