@use 'card' as *;

.cmp-card--product {
  max-width: 25rem;
  min-width: 16rem;
  width: 100%;
  flex: 1;
  margin: 0.5rem 0 !important;
  .cmp-teaser {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    .cmp-teaser__image {
      .cmp-image {
        height: clamp(21.429rem, 6.25vw + 20rem, 28.571rem);
        .cmp-image__image {
          object-fit: cover;
          height: 100%;
        }
      }
    }
    .cmp-teaser__content {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      height: auto;
      max-height: 7.5rem;
      &.expanded {
        max-height: 100%;
        .cmp-teaser__description {
          p {
            -webkit-line-clamp: initial;
          }
        }
      }
      .cmp-teaser__title {
        font-family: $title-bold;
        font-size: 1.125rem;
        text-transform: uppercase;
      }
      .cmp-teaser__description {
        font-family: $title-light;
        font-size: 1rem;
        p {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .cmp-teaser__action-container {
        .cmp-teaser__action-link {
          font-family: $title-bold;
          text-decoration-color: rgba(28, 29, 29, 0.3);
          text-underline-offset: 0.5rem;
          font-size: 0.938rem;
        }
      }
    }
    .cmp-button__show-more {
      display: flex;
      gap: 0.5rem;
      font-family: $title-book;
      font-size: 1rem;
      background: transparent;
      border: none;
      text-align: start;
      font-weight: bold;
      &:after {
        position: initial;
        content: " ";
        background: url("/etc.clientlibs/relife/clientlibs/clientlib-site/resources/icons/chevron-down.svg")
          center center no-repeat;
        width: clamp(1.429rem, 1.119vw + 0.609rem, 2.143rem);
        height: clamp(1.429rem, 1.119vw + 0.609rem, 2.143rem);
        background-size: contain;
        transition: $standard-transition;
      }
      &.content-expanded {
        &:after {
          background: url("/etc.clientlibs/relife/clientlibs/clientlib-site/resources/icons/chevron-down.svg")
            center center no-repeat;
          background-size: contain;
          transform: rotate(180deg);
        }
      }
    }
  }
}

@include respond-to(tablet) {
  .cmp-card--product {
    .cmp-teaser {
      .cmp-teaser__content {
		max-height: 100%;
        .cmp-teaser__description {
          p {
            -webkit-line-clamp: initial;
          }
        }
      }
      .cmp-button__show-more {
        display: none;
      }
    }
  }
}
