@use 'card' as *;

$font-size-style: clamp($font-size-med, 0.5vw + 1.029rem, 1.714rem);
.cmp-card--style {
	width: 100%;
  .cmp-teaser {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;
    .cmp-teaser__image {
      .cmp-image {
        &::before {
        }
        .cmp-image__image {
			object-fit: cover;
			min-height: 16.857rem;
          
        }
      }
    }
    .cmp-teaser__content {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      &:not(:only-child) {
        position: absolute; 
        z-index: 5;
        top: 0;
        bottom: .7rem;
		padding-top:0;
		padding-left: clamp($size-24, 1.553vw + 1.298rem, 3.429rem);
		padding-right: clamp($size-24, 1.553vw + 1.298rem, 3.429rem);
        padding-bottom: clamp($size-16, 2.071vw + 0.588rem, 3.429rem);
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 44.19%, rgba(0, 0, 0, 0.3) 100%);
        left: 0;
        right: 0;
        min-height: auto;
        min-width: auto;
        color: $white;
		    align-items: center;
        transition: $standard-transition;
        
      }
      .cmp-teaser__title {
        text-transform: uppercase;
        font-family: $title-medium;
        font-size: clamp($font-size-med, 0.518vw + 1.004rem, $size-24);
		text-align: center;
		font-weight: 400;
		margin-bottom: 0.286rem;
      }
      .cmp-teaser__description {
        text-align: center;
        padding: 0 10%;
      }
      .cmp-teaser__action-container {
        .cmp-teaser__action-link {
          color: $white;
          font-family: $title-light;
          font-size: $font-size-style;
          text-decoration: underline;
          text-decoration-color: rgba(255,255,255,.3);
          text-underline-offset: 0.8rem;
          transition:  $standard-transition;
            &:hover{
                text-decoration-color: $white;
            }
        }
      }

      &:hover {
        &:not(:only-child) {
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 44.19%, rgba(0, 0, 0, 0.7) 100%);
        }
        .cmp-teaser__action-container {
          .cmp-teaser__action-link {
            text-decoration-color: $white;
          }
        }      
      }

    }
  }
}

@include respond-to(tablet) {
	.cmp-card--style{
		.cmp-teaser{
			.cmp-teaser__content {
				&:not(:only-child) {
				}
				
			}
		}
	}
}