<sly data-sly-use.model="com.jakala.menarini.core.models.EventListingModel">
  <div class="container">
    <button class="filter-toggle-button">${'filter' @ i18n}</button>
    <form class="filter-form filter-form--hidden" method="POST">
      <h3 class="mobile-filter-title">${'filter' @ i18n}</h3>
      <div class="options-container options-container--hidden">
        <sly
          data-sly-use.modelT="com.jakala.menarini.core.models.TopicListingModel"
        >
          <div class="filter-top-bar">
            <h3 class="filter-top-bar__title">${'topic' @ i18n}</h3>
            <button
              onclick="event.preventDefault();"
              class="minimize-button"
            ></button>
          </div>
          <div class="filter-options">
            <sly data-sly-list.topic="${modelT.topics}">
              <button class="filter-button" data-value="${topic.id}">
                ${topic.name}
              </button>
            </sly>
            <button
              class="show-more"
              data-sly-test="${modelT.topics.size > 11}"
            >
              ${'show_more' @ i18n}
            </button>
          </div>
        </sly>
      </div>

      <div class="options-container options-container--hidden">
        <div class="filter-top-bar">
          <h3 class="filter-top-bar__title">${'select_events' @ i18n}</h3>
          <button
            onclick="event.preventDefault();"
            class="minimize-button"
          ></button>
        </div>
        <div class="filter-options">
          <sly data-sly-list.eventSelection="${model.eventSelections}">
            <button class="filter-button" data-value="${eventSelection.id}">
              ${eventSelection.name}
            </button>
          </sly>
          <button
            class="show-more"
            data-sly-test="${model.eventSelections.size > 11}"
          >
            ${'show_more' @ i18n}
          </button>
        </div>
      </div>

      <div class="options-container options-container--hidden">
        <sly
          data-sly-use.modelC="com.jakala.menarini.core.models.CityListingModel"
        >
          <div class="filter-top-bar">
            <h3 class="filter-top-bar__title">${'location' @ i18n}</h3>
            <button
              onclick="event.preventDefault();"
              class="minimize-button"
            ></button>
          </div>
          <div class="filter-options">
            <sly data-sly-list.city="${modelC.cities}">
              <button class="filter-button" data-value="${city.id}">
                ${city.name}
              </button>
            </sly>
            <button
              class="show-more"
              data-sly-test="${modelC.cities.size > 11}"
            >
              ${'show_more' @ i18n}
            </button>
          </div>
        </sly>
      </div>

      <div class="filters-wrap">
        <div class="select-wrapper">
          <button class="filter-dropdown" data-default-text="${'topic' @ i18n}">
            ${'topic' @ i18n}
          </button>
          <div class="filter-dropdown__clear-container">
            <button class="clear-button align-items-center">
              ${'clear_topics' @ i18n}
              <img
                src="/etc.clientlibs/fondazione/clientlibs/clientlib-site/resources/icons/icon-close.svg"
                width="20"
                width="22"
                alt="${'clear_topics' @ i18n}"
                loading="lazy"
              />
            </button>
          </div>
        </div>

        <div class="select-wrapper">
          <button
            class="filter-dropdown"
            data-default-text="${'select_events' @ i18n}"
          >
            ${'select_events' @ i18n}
          </button>
          <div class="filter-dropdown__clear-container">
            <button class="clear-button align-items-center">
              ${'clear_events' @ i18n}
              <img
                src="/etc.clientlibs/fondazione/clientlibs/clientlib-site/resources/icons/icon-close.svg"
                width="20"
                width="22"
                alt="${'clear_events' @ i18n}"
              />
            </button>
          </div>
        </div>

        <div class="select-wrapper">
          <button
            class="filter-dropdown"
            data-default-text="${'location' @ i18n}"
          >
            ${'location' @ i18n}
          </button>
          <div class="filter-dropdown__clear-container">
            <button class="clear-button align-items-center">
              ${'clear_location' @ i18n}
              <img
                src="/etc.clientlibs/fondazione/clientlibs/clientlib-site/resources/icons/icon-close.svg"
                width="20"
                width="22"
                alt="${'clear_location' @ i18n}"
              />
            </button>
          </div>
        </div>

        <div class="flatpickr" id="dateOrPeriodWrapper">
          <div class="flatpickr-wrap">
            <input
              type="text"
              placeholder="${'select_date' @ i18n}"
              data-input=""
              class="flatpickr-input filter-dropdown"
              id="dateOrPeriod"
              readonly="readonly"
            />
          </div>
          <button
            id="clearDateOrPeriod"
            class="flatpickr-clear align-items-center"
            title="${'clear_date' @ i18n}"
            data-clear=""
          >
            ${'clear_date' @ i18n}
            <img
              src="/etc.clientlibs/fondazione/clientlibs/clientlib-site/resources/icons/icon-close.svg"
              width="20"
              width="22"
              alt="${'clear_date' @ i18n}"
            />
          </button>
        </div>
      </div>
      <div class="filters-mobile-buttons">
        <button
          class="filters-mobile-buttons__cancel align-items-center d-flex"
        >
          <img
            src="/etc.clientlibs/fondazione/clientlibs/clientlib-site/resources/icons/icon-close.svg"
            width="25"
            height="25"
            alt="${'cancel' @ i18n}"
          />
          ${'cancel' @ i18n}
        </button>
        <button
          class="filters-mobile-buttons__confirm align-items-center d-flex"
        >
          <img
            src="/etc.clientlibs/fondazione/clientlibs/clientlib-site/resources/icons/icon-check.png"
            alt="${'apply_filter' @ i18n}"
          />
          ${'apply_filters' @ i18n}
        </button>
      </div>
    </form>
    <section class="event-toggle">
      <button id="scheduledEvents" class="event-toggle__btn active">
        ${'Scheduled events' @ i18n}
      </button>
      <button id="finishedEvents" class="event-toggle__btn">
        ${'Finished events' @ i18n}
      </button>
    </section>
    <section class="events-cards">
      <div class="event-grid">
        <sly data-sly-list="${model.events}">
          <div
            class="event-grid__card ${model.events.size > 2 ? 'justify-content-between' : 'justify-content-start'}"
          >
            <a class="event-grid__card--link" href="${item.path}.html">
              <div class="event-grid__card--image-wrapper">
                <img
                  class="event-grid__card--image"
                  src="${item.presentationImage ? item.presentationImage : '/content/dam/fondazione/images/default.png'}"
                  alt="${item.title ? item.title : 'Default Alt Text'}"
                  loading="lazy"
                />
              </div>
              <div class="event-grid__card--details">
                <p class="event-grid__card--topic">
                  ${item.topics ? item.topics : 'No topic'}
                </p>
                <h2 class="event-grid__card--title">${item.title}</h2>
                <p class="event-grid__card--dates">
                  ${item.location ? item.location : 'Online'} | From
                  ${item.startDateText ? item.startDateText : '-:-'} to
                  ${item.endDateText ? item.endDateText : '-:-'}
                </p>
                <a href="${item.path}.html" class="event-grid__card--button">
                  ${'discover_course' @ i18n} <span class="icon"></span>
                </a>
              </div>
            </a>
          </div>
        </sly>
      </div>

      <sly data-sly-test="${!model.events || model.events.size == 0}">
        <p class="event-grid__empty-state">${'no_events_found' @ i18n}</p>
      </sly>

      <div class="pagination">
        <nav
          class="pagination__controls"
          aria-label="Pagination Controls"
          data-current-page="${model.currentPage}"
          data-total-pages="${model.totalPages}"
          data-page-size="${model.pageSize}"
          data-total-results="${model.totalResults}"
        >
          <button
            class="pagination__button pagination__button--prev"
            data-sly-test="${model.hasPreviousPage}"
            data-page="${model.previousPage}"
            aria-label="Previous Page"
          ></button>

          <span class="pagination__page-info"
            >${'page' @ i18n} ${model.currentPage} of ${model.totalPages}</span
          >

          <button
            class="pagination__button pagination__button--next"
            data-sly-test="${model.hasNextPage}"
            data-page="${model.nextPage}"
            aria-label="Next Page"
          ></button>
        </nav>
      </div>
    </section>
  </div>
</sly>
