/* //== XF Footer style, used on page template
footer {
  z-index: 1;
}
.footer-desktop {
  display: none;
}
.cmp-experiencefragment--footer {
  position: relative;

  .cmp-text {
    p {
      color: $color-text-grey;
      margin: 0.5rem auto;
      a {
        text-decoration: none;
        &:hover {
          color: darken($color: $deep-blue, $amount: 30%);
        }
      }
      font-size: 0.9rem;
    }
  }
  .cmp-list {
    text-align: center;
    padding: 0;
    .cmp-list__item {
      list-style-type: none;
      margin-bottom: 0.5rem;
      &:hover {
        color: $color-hover;
      }
    }
  }
}

*/
 