footer {
  #footer-logo {
    max-width: 200px;
  }
  .cmp-list {
    display: flex;
    gap: 1.2rem;
    .cmp-list__item {
      list-style-type: none;
      font-family: $title-light;
      font-size: 1rem;
      .cmp-list__item-link {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .cmp-text {
    font-size: 1rem;
  }
  .cmp-button {
    border: none;
    background-color: transparent;
    .cmp-button__icon {
      width: 2rem;
      height: 2rem;
    }
  }
  .cmp-languagenavigation {
    .cmp-languagenavigation__label {
      font-weight: bold;
    }
    .cmp-languagenavigation__group {
      .cmp-languagenavigation__item {
        font-size: 1.143rem;
        font-family: $title-book;
      }
    }
  }
}
