.cmp-experiencefragment--footer {
  .cmp-languagenavigation {
    .cmp-languagenavigation__label {
      font-weight: bold;
    }
    &.is-open {
      .cmp-languagenavigation__group {
        left: 0;
        top: 0;
        
        right: 0;
        transform: translate(50%, -100%);
      }
    }
  }
}
