footer.cmp-experiencefragment--footer-mobile {
  padding: 3.143rem 0;
  .cmp-languagenavigation {
    display: flex;
	flex-direction: column;
    justify-content: center;
	align-items: center;
    padding: 2.5rem 0;
    .cmp-languagenavigation__group {
      position: relative;
      height: 0;
    }
    &.is-open {
      .cmp-languagenavigation__group {
        position: relative;
        height: auto;
        width: 100%;
      }
    }
  }
  .cmp-list {
    flex-direction: column;
    padding: 0;
  }
  .cmp-button {
    .cmp-button__icon {
      width: 2.429rem;
      height: 2.429rem;
    }
  }
}
