/* #footerMobileFirstContainer {
  > div {
    display: flex;
    align-items: center;
    .cmp-button {
      display: flex;
      justify-content: start;
      .cmp-button__icon {
        width: 3rem;
        height: 3rem;
      }
    }
    .cmp-languagenavigation {
      display: flex;
      position: relative;
    }
  }
}
#footerMobileSecondContainer {
  .cmp-text {
    p {
      font-size: 0.8rem;
	  
    }
  }
  .xf-master-building-block {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
#footerMobileThirdContainer {
	
}
 */