.cmp-accordion, .maindocs .cmp-accordion {

    .cmp-accordion__item {}
    .cmp-accordion__header {}
    .cmp-accordion__button {
        border-bottom: 1px solid;
        border-color: $lightgrey-border-color;
        border-radius: 0px; 
        color: $midnightBlue;
        font-weight: $title-medium;        
        &:hover {
            color: $midnightBlue;
        }
        padding-bottom: 1.429rem;
        padding-top: 1.429rem;        
        line-height: $accordion-button-line-height;
        font-size: $accordion-button-font-size;
    }
    .cmp-accordion__button--expanded {}
    .cmp-accordion__title {
        font-family: $font-family-title;    
    }
    .cmp-accordion__icon {
        &::before {
            content: " ";
            background: url("/etc.clientlibs/relife/clientlibs/clientlib-site/resources/icons/freccia-down.svg") right center no-repeat;
            width: 20px;
            height: 20px;            
        }        
    }
    .cmp-accordion__panel {}
    .cmp-accordion__panel--expanded {}
    .cmp-accordion__panel--hidden {}
}