.cmp-button-primary a,  .cmp-button-secondary a{
    border: $btn-border-style $btn-border-size;
    width: $btn-width;
    height: $btn-height;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    line-height: $btn-height;
    display: inline-block;
    padding: $btn-padding;
    .cmp-button__text {
        font-family: $font-family-text;
        font-size: $font-size-btn;
    }
}

.cmp-button-primary a {
    color: $white;
    border-color: $white;
    &:hover {
        color: $charcoal;
        background-color: $white;
    }
}

.cmp-button-secondary a {
    color: $charcoal;
    border-color: $charcoal;
    background-color: $white;    
    &:hover {
        color: $white;
        background-color: $charcoal;
    }
}

.cmp-button-topic a {
    border: $btn-border-style $btn-border-size;
    width: $topic-width;
    height: $topic-height;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    line-height: $topic-height;
    display: inline-block;
    padding: $btn-padding;
    color: $mediumGrey;
    background-color: $white;
    border-color: $grey;
    border-radius: 32px;

    &:hover {
        color: $charcoal;
        background-color: $lightGrey;
        border-color: $lightGrey;
    }

    .cmp-button__text {
        font-family: $font-family-text;
        font-size: $font-size-topic;
    }
}


.cmp-button__icon {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    &--search {
      background-image: url(/etc.clientlibs/relife/clientlibs/clientlib-site/resources/icons/Search.svg);
    }
    &--external {
      background-image: url(/etc.clientlibs/relife/clientlibs/clientlib-site/resources/icons/external-link.svg);
    }
    &--chevron-right {
      background-image: url(/etc.clientlibs/relife/clientlibs/clientlib-site/resources/icons/chevron-right.svg);
    }
    &--back {
      background-image: url(/etc.clientlibs/relife/clientlibs/clientlib-site/resources/icons/chevron-left.svg);
    }
    &--menu {
      background-image: url(/etc.clientlibs/relife/clientlibs/clientlib-site/resources/icons/hamburger.svg);
    }
    &--close {
      background-image: url(/etc.clientlibs/relife/clientlibs/clientlib-site/resources/icons/close.svg);
    }
    &--instagram {
      background-image: url(/etc.clientlibs/relife/clientlibs/clientlib-site/resources/icons/instagram.svg);
    }
    &--linkedin {
      background-image: url(/etc.clientlibs/relife/clientlibs/clientlib-site/resources/icons/linkedin.svg);
    }
    &--facebook {
      background-image: url(/etc.clientlibs/relife/clientlibs/clientlib-site/resources/icons/facebook.svg);
    }
    &--X {
      background-image: url(/etc.clientlibs/relife/clientlibs/clientlib-site/resources/icons/X.svg);
    }
  }