#imgProvv {
  display: none;
}
.puzzle-carousel {
  .cmp-container {
    display: flex;
    gap: 3rem;
    overflow-x: scroll;
    overflow-y: hidden;
    flex-wrap: nowrap;
    &::-webkit-scrollbar {
      background: transparent; /* Chrome/Safari/Webkit */
      width: 0px;
    }
    .teaser {
      .cmp-teaser {
        display: block;
        min-width: clamp(16.857rem, 13.75vw + 13.714rem, 32.571rem);
        width: 100%;
      }
    }
  }
}

@include respond-to(desktop) {
  #imgProvv {
    display: block;
  }
  .puzzle-carousel {
    .cmp-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      .teaser {
        .cmp-teaser__image {
          display: none;
        }
      }
    }
  }
}
