.flatpickr-calendar {
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

button#clearDateOrPeriod {
    background: none;
    border: none;
    color: $fm-color-text;
    text-align: right;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0;
    font-size: 0.75rem;
    font-weight: 300;
    width: 100%;
    display: none;
    justify-content: flex-end;

    img {
        margin-left: 5px;
    }

    &:hover {
        text-decoration: underline;
    }
}

.flatpickr-input[readonly] {
    color: $secondary !important;
}

.filter-form input[type=text] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.flatpickr-calendar .flatpickr-day.selected,
.flatpickr-calendar .flatpickr-day.startRange,
.flatpickr-calendar .flatpickr-day.endRange,
.flatpickr-calendar .flatpickr-day.selected.inRange,
.flatpickr-calendar .flatpickr-day.startRange.inRange,
.flatpickr-calendar .flatpickr-day.endRange.inRange,
.flatpickr-calendar .flatpickr-day.selected:focus,
.flatpickr-calendar .flatpickr-day.startRange:focus,
.flatpickr-calendar .flatpickr-day.endRange:focus,
.flatpickr-calendar .flatpickr-day.selected:hover,
.flatpickr-calendar .flatpickr-day.startRange:hover,
.flatpickr-calendar .flatpickr-day.endRange:hover,
.flatpickr-calendar .flatpickr-day.selected.prevMonthDay,
.flatpickr-calendar .flatpickr-day.startRange.prevMonthDay,
.flatpickr-calendar .flatpickr-day.endRange.prevMonthDay,
.flatpickr-calendar .flatpickr-day.selected.nextMonthDay,
.flatpickr-calendar .flatpickr-day.startRange.nextMonthDay,
.flatpickr-calendar .flatpickr-day.endRange.nextMonthDay {
    background-color: #b20000;
    border-color: #b20000;
    color: #fff;
    border-radius: 0 !important;
}

.flatpickr-calendar .flatpickr-day.inRange,
.flatpickr-day.selected,
.flatpickr-day.startRange {
    background-color: #AE0F0A1A;
    box-shadow: 5px 0 0 #AE0F0A1A;
    border-color: transparent;
}

.flatpickr-input.filter-dropdown {
    &::placeholder {
        color: $fm-color-text-light;
    }
}

.flatpickr-wrap {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 15px;
        width: 24px;
        height: 100%;
        background: url('../resources/icons/icon_filter_calendar.svg') no-repeat center;
    }
}