.event-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    @include media-breakpoint-up(lg) {
        flex-direction: row;
    }

    &__card {
        box-sizing: border-box;
        overflow: hidden;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        max-height: 450px;
        width: 100%;
        @include media-breakpoint-up(md) {
            width: calc(50% - 20px);
        }
        @include media-breakpoint-up(lg) {
            width: calc(33.33% - 20px);
        }
       

        &--link {
            text-decoration: none;
            color: inherit;
            display: flex;
            flex-direction: column;
        }

        &--image-wrapper {
            height: 170px;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
                object-position: top;
            }
        } 

        &--details {
            flex: 1;
            padding: 10px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;


        }

        &--topic {
            font-size: 0.875rem;
            color: #757575;
            margin: 10px 0px;
        }

        &--title {
            font-weight: $font-light;
            margin: 0 0 10px 0;
            font-size: 1.6rem;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            line-height: 1.7;
        }

        &--dates {
            margin: 0;
            color: $black;
            font-size: 1rem;
        }

        &--button {
            margin-top: 50px;
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: none;
            color: $fm-color-text;
            border-bottom: 4px solid #0783FF;
            width: 185px;

            &:hover {
                color: #0056b3;
                text-decoration: none;
                border-color: $fm-color-text;
            }

            .icon {
                background-image: url('../resources/icons/events-card-arrow-left.svg') !important;
                width: 45px;
                height: 15px;
                display: inline-block;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                margin-left: 10px;
            }
        }
    }

    &__empty-state {
        font-size: 1rem;
        color: #757575;
        text-align: center;
        width: 100%;
        margin-top: 2rem;
    }
}