.cmp-image {}
.cmp-image__link {}
.cmp-image__image {
	object-fit: cover;
	height: 100%;
}
.cmp-image__title {}
.cmp-image--logo {
	display: flex!important;
	padding: 0.5rem 0;
	max-width: 150px;
	min-height: 80px;
	.cmp-image{
		display: flex;
	}
	a{
		align-self: center;
	}
}