.cmp-separator {
	padding: .75rem 0;
}
.cmp-separator__horizontal-rule {
	box-sizing: content-box;
	overflow: visible;
	background-color: #949283;
	height: .0625rem;
    border: 0;
}
.cmp-separator__vertical-rule {
    margin:20px 0px;
    border: 1px solid;
    height: 100%;
    display: block;
    width: 0px;
}