<sly data-sly-template.share="">
	<div class="cmp-share cmp-share-desktop button aem-GridColumn--default--none aem-GridColumn--phone--none aem-GridColumn aem-GridColumn--tablet--none aem-GridColumn--offset--default--0 aem-GridColumn--default--1">
		<a aria-expanded="true" aria-haspopup="true" class="cmp-button" data-toggle="dropdown"
		   href=""
		   id="navbarDropdownMenuLinkSocialShare" role="button">
		</a>

		<ul aria-labelledby="navbarDropdownMenuLinkSocialShare" class="cmp-share__container"
		    x-placement="bottom-start" style="">
			<li class="cmp-share-menu_title"><span id="dnn_ShareOnTop_lblText" class="Title">Share On</span></li>
			<li class="cmp-share-menu_title"><i class="cmp-share-menu_icon-facebook" aria-hidden="true">
				<a target="_blank"
				   href="https://www.facebook.com/sharer.php?u=https://www.menarini.com/en-us/"
				   rel="nofollow">Facebook</a>
				</i>
			</li>
			<li class="cmp-share-menu_title"><i class="cmp-share-menu_icon-twitter" aria-hidden="true">
				<a target="_blank"
				   href="https://twitter.com/intent/tweet?url=https://www.menarini.com/en-us/"
				   rel="nofollow">Twitter</a>
				</i>
			</li>
		</ul>
	</div>

	<div class="cmp-share cmp-share-mobile button aem-GridColumn--default--none aem-GridColumn--phone--12 aem-GridColumn aem-GridColumn--tablet--12 aem-GridColumn--offset--default--0">
		<ul aria-labelledby="" class="cmp-share__container-mobile"
		    x-placement="bottom-start" style="">

			<li class="aem-GridColumn--default--none aem-GridColumn--phone--2 aem-GridColumn aem-GridColumn--tablet--2 aem-GridColumn--offset--default--0 aem-GridColumn--default--2 cmp-share-menu_title"><span class="Title">Share On</span></li>
			<li class="aem-GridColumn--default--none aem-GridColumn--phone--2 aem-GridColumn aem-GridColumn--tablet--2 aem-GridColumn--offset--default--0 aem-GridColumn--default--2 cmp-share-menu_title"><i class="cmp-share-menu_icon-facebook" aria-hidden="true">
				<a target="_blank"
				   href="https://www.facebook.com/sharer.php?u=https://www.menarini.com/en-us/"
				   rel="nofollow">Facebook</a>
			</i>
			</li>
			<li class="aem-GridColumn--default--none aem-GridColumn--phone--2 aem-GridColumn aem-GridColumn--tablet--2 aem-GridColumn--offset--default--0 aem-GridColumn--default--2 cmp-share-menu_title"><i class="cmp-share-menu_icon-twitter" aria-hidden="true">
				<a target="_blank"
				   href="https://twitter.com/intent/tweet?url=https://www.menarini.com/en-us/"
				   rel="nofollow">Twitter</a>
			</i>
			</li>
			<li class="aem-GridColumn--default--none aem-GridColumn--phone--6 aem-GridColumn aem-GridColumn--tablet--6 aem-GridColumn--offset--default--0 aem-GridColumn--default--6 cmp-share-menu_title">
				<a class="scroll_to_top_link" href="#">
					<span class="cmp-share-menu_title__scroll">SCROLL TO TOP</span>
				</a>
			</li>
		</ul>
	</div>
</sly>
