<sly data-sly-template.share="">
	<div class="cmp-share cmp-share-desktop button cmp-tabs__tab">
		<a aria-expanded="true" aria-haspopup="true" class="cmp-button" data-toggle="dropdown"
		   href=""
		   id="navbarDropdownMenuLinkSocialShare" role="button">
		</a>

		<ul aria-labelledby="navbarDropdownMenuLinkSocialShare" class="cmp-share__container"
		    x-placement="bottom-start" style="">
			<li class="cmp-share-menu_title"><span id="dnn_ShareOnTop_lblText" class="Title">${properties.shareLabel || "Share on"}</span></li>
			<sly data-sly-test="${properties.linkedinLink}">
				<li class="cmp-share-menu_title cmp-share-menu_social"><i class="cmp-share-menu_icon-linkedin" aria-hidden="true">
					<a target="_blank"
					   href="${properties.linkedinLink}"
					   rel="nofollow">Linkedin</a>
				</i>
				</li>
			</sly>
			<sly data-sly-test="${properties.facebookLink}">
				<li class="cmp-share-menu_title cmp-share-menu_social"><i class="cmp-share-menu_icon-facebook" aria-hidden="true">
					<a target="_blank"
					   href="${properties.facebookLink}"
					   rel="nofollow">Facebook</a> 
					</i>
				</li>
			</sly>
			<sly data-sly-test="${properties.xLink}">
				<li class="cmp-share-menu_title cmp-share-menu_social"><i class="cmp-share-menu_icon-x" aria-hidden="true">
					<a target="_blank"
					   href="${properties.xLink}"
					   rel="nofollow">X</a>
				</i>
				</li>
			</sly>

		</ul>
	</div>

	<div class="cmp-share cmp-share-mobile button aem-GridColumn--default--none aem-GridColumn--phone--12 aem-GridColumn aem-GridColumn--tablet--12 aem-GridColumn--offset--default--0">
		<ul aria-labelledby="" class="cmp-share__container-mobile"
		    x-placement="bottom-start" style="">

			<li class="aem-GridColumn--default--none aem-GridColumn--phone--2 aem-GridColumn aem-GridColumn--tablet--2 aem-GridColumn--offset--default--0 aem-GridColumn--default--2 cmp-share-menu_title"><span class="Title">${properties.shareLabel || "Share on"}</span></li>

			<sly data-sly-test="${properties.linkedinLink}">
				<li class="aem-GridColumn--default--none aem-GridColumn--phone--2 aem-GridColumn aem-GridColumn--tablet--2 aem-GridColumn--offset--default--0 aem-GridColumn--default--2 cmp-share-menu_title cmp-share-menu_social"><i class="cmp-share-menu_icon-linkedin" aria-hidden="true">
					<a target="_blank"
					   href="${properties.linkedinLink}"
					   rel="nofollow">Linkedin</a>
				</i>
				</li>
			</sly>

			<sly data-sly-test="${properties.facebookLink}">
				<li class="aem-GridColumn--default--none aem-GridColumn--phone--2 aem-GridColumn aem-GridColumn--tablet--2 aem-GridColumn--offset--default--0 aem-GridColumn--default--2 cmp-share-menu_title cmp-share-menu_social"><i class="cmp-share-menu_icon-facebook" aria-hidden="true">
					<a target="_blank"
					   href="${properties.facebookLink}"
					   rel="nofollow">Facebook</a>
				</i>
				</li>
			</sly>

			<sly data-sly-test="${properties.xLink}">
				<li class="aem-GridColumn--default--none aem-GridColumn--phone--2 aem-GridColumn aem-GridColumn--tablet--2 aem-GridColumn--offset--default--0 aem-GridColumn--default--2 cmp-share-menu_title cmp-share-menu_social"><i class="cmp-share-menu_icon-x" aria-hidden="true">
					<a target="_blank"
					   href="${properties.xLink}"
					   rel="nofollow">X</a>
				</i>
				</li>
				</li>
			</sly>
			
			<li class="aem-GridColumn--default--none aem-GridColumn--phone--6 aem-GridColumn aem-GridColumn--tablet--6 aem-GridColumn--offset--default--0 aem-GridColumn--default--6 cmp-share-menu_title">
				<a class="scroll_to_top_link" href="#">
					<span class="cmp-share-menu_title__scroll">SCROLL TO TOP</span>
				</a>
			</li>
		</ul>
	</div>
</sly>
