<sly
  data-sly-use.model="com.jakala.menarini.core.models.RecaptchaCredentialModel"
  data-sly-use.templates="core/wcm/components/commons/v1/templates.html">
  <script src="https://www.google.com/recaptcha/api.js" async defer>
  </script>
  <label class="recaptcha__label">${'Security code' @ i18n}</label>
  <div class="g-recaptcha recaptcha__container" data-sitekey="${model.siteKey}"
  data-callback="onRecaptchaSuccess" data-expired-callback="onRecaptchaResponseExpiry"
  data-error-callback="onRecaptchaError">
</div>
</sly>
<sly data-sly-call="${templates.placeholder @ isEmpty=!hasContent, classAppend='captcha-component', emptyTextAppend='Please configure the recaptcha'}"/>
