//== BORDER WIDTHS
$border-width-thin: 1px;
$border-width-medium: 2px;
$border-width-thick: 4px;

//== BORDER RADIUS (rounded corners)
$border-radius-small: 2px;
$border-radius-medium: 4px;
$border-radius-large: 8px;
$border-radius-circle: 50%;

//== BORDER STYLES
$border-style-solid: solid;
$border-style-dashed: dashed;
$border-style-dotted: dotted;

// Bootstrap Button Border Radius Overwrite
$btn-border-radius: 0px;