// Font

// Font Family
$font-default: 'OswaldVariable', sans-serif;
$font-arimo: 'ArimoVariable', serif;
$font-arimo-italic: 'ArimoVariableItalic', serif;

// Base Font
$font-size: 16px;
$font-height: 1.5;

// Font size
$title-extra-small-font-size: 1.25rem;
$title-small-font-size: 1.875rem;
$title-font-size: 2.5rem;
$title-big-font-size: 3.75rem;

// Headings Font Sizes
$heading-h1-font-size: 3.125rem;
$heading-h2-font-size: 3rem;
$heading-h3-font-size: 1.875rem;
$heading-h4-font-size: 1.5625rem;
$heading-h5-font-size: 1.375rem;
$heading-h6-font-size: 1.375rem;

// Text Font size
$text-size: 1.125rem;
$small-text-size: 0.9375rem;
$super-small-text-size: 0.75rem;

// Font Weight 
$font-default-light: 200;
$font-extra-light: 250;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;

// Line Heights 
$heading-h1-line-height: 3.75rem;
$heading-h2-line-height: 2.5rem;
$heading-h3-line-height: 2.8125rem;
$heading-h4-line-height: 2.8125rem;
$heading-h5-line-height: 2rem;
$heading-h6-line-height: 2rem;
$text-line-height: 1.5625rem;
$text-bold-line-height: 1.75rem;
$text-small-line-height: 1.5625rem;
$text-super-small-line-height: 1.375rem;

// Bootstrap overwrites

// Override Bootstrap variables with custom fonts 



$font-family-base: $font-default;
$headings-font-family: $font-default;
$body-font-family: $font-arimo;
$body-font-weight: $font-regular;
$headings-font-weight: $font-bold;