// Custom spaces
$xxl: 60px;
$xl: 36px;
$l: 30px;
$m: 24px;
$s: 18px;
$xs: 12px;

// Section spaces
$space-between-sections: 55px;

// Bootstrap's default $spacers map
$spacers: (
    0: 0,
    1: $xs,
    2: $s,
    3: $m,
    4: $l,
    5: $xl,
    6: $xxl
);
