@font-face {
    font-family: 'OswaldVariable';
    src: url('./Oswald-VariableFont_wght.ttf') format('woff2-variations');
    font-weight: 200 700; /* Intervallo dei pesi */
}

@font-face {
    font-family: 'ArimoVariableItalic';
    src: url('./Arimo-Italic-VariableFont_wght.ttf') format('woff2-variations');
    font-weight: 100 900; /* Intervallo dei pesi */
}

@font-face {
    font-family: 'ArimoVariable';
    src: url('./Arimo-VariableFont_wght.ttf') format('woff2-variations');
    font-weight: 100 900; /* Intervallo dei pesi */
}