.cmp-news-list {
	.cmp-list {
		padding-left: 0px !important;
		list-style: none;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;

		.cmp-list__item {
			margin-bottom: 40px;
			flex: 1 1 33%;
			max-width: 33%;
			padding: 15px;

			.cmp-teaser {
				.cmp-teaser__image {
					width: 100%;
					display: flex;
					justify-content: center;
					margin: 0px auto;
					border: 1px solid #ddd;
					position: relative;
					height: 150px;
					overflow: hidden;

					div {
						display: flex;
					}

					.cmp-image {
						.cmp-image__image {
							width: 100%;
							max-width: 450px;
							height: auto;
							position: absolute;
							left: 50%;
							top: 50%;
							-webkit-transform: translate(-50%, -50%);
							transform: translate(-50%, -50%);
						}
					}
				}

				.cmp-teaser__content {
					.cmp-teaser__pretitle {
						font-weight: $font-bold;
						font-family: $font-family-oswald;
						color: #b6b59c;
						text-transform: uppercase;
						margin-top: 5px;
						margin-bottom: 0px;
					}

					.cmp-teaser__title {
						font-weight: $font-regular;
						font-family: $font-family-oswald;
						font-size: 25px;
						line-height: 30px;
						-webkit-font-smoothing: antialiased;
						color: $color-background-corporate;
						margin: 0px 0px 20px 0px;
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
						width: 100%;
						overflow: hidden;
						min-height: 60px;
					}

					.cmp-teaser__description {
						font-weight: $font-regular;
						font-family: $font-family-arimo;
						font-size: 18px;
						color: $color-text;
						display: -webkit-box;
						-webkit-line-clamp: 3;
						-webkit-box-orient: vertical;
						width: 100%;
						overflow: hidden;
						min-height: 75px;
						margin-bottom: 20px;
						p {
							margin: 0px;
						}
					}

					.cmp-teaser__action-container {
						.cmp-teaser__action-link {
							text-transform: uppercase;
							text-decoration: none;
							font-family: $font-family-oswald;
							font-size: $font-size;
							color: #333333;
							border-bottom: 4px solid #0783ff;
							padding-bottom: 6px;
							padding-top: 6px;
							padding-right: 60px;
							width: 130px;
							background: url("/etc.clientlibs/menarinimaster/clientlibs/clientlib-site/resources/images/icons/arrow-R-B.svg")
								center right no-repeat;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 1200px) {
	.cmp-news-list{
		.cmp-list{
			.cmp-list__item{
				flex: 1 1 50%;
				max-width: 50%;
			}
		}
	}
}
@media (max-width: 576px) {
	.cmp-news-list{
		.cmp-list{
			.cmp-list__item{
				flex: 1 1 100%;
				max-width: 100%;
			}
		}
	}
}
