.cmp-languagenavigation {
	position: absolute;
	top: 40px;
	z-index: 9999;
	text-decoration: none;
	margin-left: 0px;
	display: none;
	width: 50px;
	max-width: 50px;
	height: auto;
	right: -10px;
	background-color: $white;
	border: 1px solid $fm-color-border;
	text-align: center;
	text-transform: uppercase;
	min-width: 35px;

	&.showMenu {
		display: block;
	}

	&--header {
		position: relative;
		text-align: right;
		height: 40px;
		width: 30px;
		margin-right: 25px;

		@include media-breakpoint-up(lg) {
			width: auto;
		}
	}

	&--langnavtoggle {
		position: relative;

		a {
			color: $white;
			display: block;
			margin: 1px 10px 0 0;
			text-transform: uppercase;
			font-family: $font-default;
			font-style: normal;
			line-height: 36px;
			text-decoration: inherit;

			&.open {
				&:after {
					-webkit-transform: rotate(-45deg);
					transform: rotate(-45deg);
					top: 1.3em;
				}
			}

			&:after {
				border-style: solid;
				border-width: 0.2em 0.2em 0 0;
				content: "";
				display: inline-block;
				height: 0.35em;
				right: 0px;
				position: absolute;
				top: 15px;
				-webkit-transform: rotate(135deg);
				transform: rotate(135deg);
				vertical-align: top;
				width: 0.35em;
			}

			&:hover {
				text-decoration: none;
			}
		}
	}

	&__group {
		padding: 0;
		margin: auto;
		list-style: none;
	}

	&__item {
		margin: 5px 0;
		font-size: 13px;

		&--active {
			color: $fm-color-gray-light;
		}

		&-link {
			line-height: 36px;
			padding: 0 3px;
			color: inherit;
			font-weight: normal;
			text-decoration: inherit;
		}
	}
}