
    <div id="teaser-66129ff9d4" class="cmp-teaser" data-cmp-data-layer="">
        <div class="cmp-teaser__content">
            <p data-sly-test="${properties.nation}" class="cmp-teaser__pretitle">${properties.nation}</p>
            <h2 data-sly-test="${properties.name}" class="cmp-teaser__title">${properties.name}</h2>
            <div data-sly-test="${properties.description}" class="cmp-teaser__description">
                <p>${properties.description}</p>
            </div>
            <div data-sly-test="${properties.linkCaption}" class="cmp-teaser__action-container">
                <a class="cmp-teaser__action-link" id="" data-cmp-data-layer="" data-cmp-clickable="" href="${properties.link @extension='html'}">${properties.linkCaption}</a>
            </div>
        </div>
        <div data-sly-test="${properties.fileReference}" class="cmp-teaser__image">
            <div data-cmp-src="${properties.fileReference}"
                 data-asset-id="0f54e1b5-535b-45f7-a46b-35abb19dd6bc" id=""
                 data-cmp-data-layer=""
                 data-cmp-hook-image="imageV3" class="cmp-image" itemscope="" itemtype="http://schema.org/ImageObject">
                <img src="${properties.fileReference}"
                     srcset="${properties.fileReference}"
                     loading="lazy" class="cmp-image__image" itemprop="contentUrl" width="850" height="509"
                     alt="" title="">
                <meta itemprop="caption" content="">
            </div>
        </div>
    </div>