.customform {

    a {
        color: $blue-link;
    }

    .form_checkbox {

        input[type="checkbox"]:not(:disabled):checked {
            background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 32 32" xml:space="preserve"><path style="fill: %230783FF" d="M11.941,28.877l-11.941-11.942l5.695-5.696l6.246,6.246l14.364-14.364L32,8.818"/></svg>');
        }
    }

    .form-check-input {
        margin-right: 10px;
        border: solid 2px $body-color;
        appearance: none;

        &:focus {
            box-shadow: none;
            border-color: $body-color;
        }

        &:checked {
            background-color: transparent;
            border-color: $blue-link;
            accent-color: $blue-link;
        }
    }

    .form-control::placeholder {
        font-family: Oswald;
        font-size: 20px;
        font-weight: 300;
        line-height: 25px;
        color: $color-fondazione-text-light;
    }

    .cmp-form__textField {
        height: 65px;
        border: solid $body-color 1px;

        &:focus {
            box-shadow: none;
        }
    }

    input[type="checkbox"]:not(:disabled):checked {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 32 32" xml:space="preserve"><path style="fill: %230783FF" d="M11.941,28.877l-11.941-11.942l5.695-5.696l6.246,6.246l14.364-14.364L32,8.818"/></svg>');
    }
}