.customform {

    a {
        color: $fm-color-blue-link;
    }

    // INIZIO CHECKBOX
    .form-check-input {
        margin-right: 10px;
        border: solid 2px $body-color;
        appearance: none;
        background-color: transparent !important;

        &:focus {
            box-shadow: none;
            border-color: $body-color;
        }

        &:checked {
            background-color: transparent !important;
            border-color: $fm-color-blue-link;
            accent-color: $fm-color-blue-link;
        }

        &:valid {


            &:focus {
                box-shadow: none !important;
            }
        }

        &:valid:not(:checked) {
            border-color: $body-color !important;
        }

    }



    input[type="checkbox"]:not(:disabled):checked {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 32 32" xml:space="preserve"><path style="fill: %230783FF" d="M11.941,28.877l-11.941-11.942l5.695-5.696l6.246,6.246l14.364-14.364L32,8.818"/></svg>');
    }

    // FINE CHECKBOX


    // INIZIO INPUT PLACEHOLDER
    .form-control::placeholder {
        font-family: $headings-font-family;
        font-size: 20px;
        font-weight: 300;
        line-height: 25px;
        color: $fm-color-gray-light;
    }

    // FINE INPUT PLACEHOLDER

    .cmp-form__textField {
        font-family: $headings-font-family;
        font-size: $title-extra-small-font-size;
        font-weight: 300;
        height: 65px;
        border: solid $body-color 1px;

        &:focus {
            box-shadow: none;
        }
    }

    // INIZIO DROPDOWN
    .dropdown-item {
        height: 100%;
        color: $body-color;
        padding: 0.5rem 1rem;
        cursor: pointer;
        font-family: $headings-font-family;
        font-weight: 300;

        &:hover {
            background-color: $fm-color-hover-li;
        }
    }

    .active-dropdown {
        background-color: rgba(20, 63, 89, 0.2) !important;
    }

    .dropdown-menu {
        max-height: 200px;
        background-color: $white;
        z-index: 1000;
        top: 100%;

        li {
            height: 65px !important;
        }
    }

    .dropdown-toggle-filled {
        font-family: Oswald;
        font-size: 20px;
        font-weight: 300;
        line-height: 25px;
        color: $body-color !important;
    }

    .dropdown-toggle {
        height: 65px;
        border: solid black 1px;
        padding: 0.375rem 0.75rem;
        cursor: pointer;
        font-size: 20px;
        font-weight: 300;
        line-height: 25px;
        color: $fm-color-gray-light;
        background-color: transparent;
        font-family: $headings-font-family;
        background-repeat: no-repeat;
        background-position: right 16px center;

        &::after {
            display: none;
        }

        &::before {
            content: '';
            background-image: url('../resources/icons/icon_dropdown.svg');
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            right: 16px;
            top: calc(50% + 5px);
            transform: translateY(-50%);
            width: 16px;
            height: 16px;
        }

        &.active-dropdown::before {
            transform: translateY(calc(-50% - 5px)) rotate(180deg);
        }
    }

    // FINE DROPDOWN

    // INIZIO DATE PICKER
    .cmp-form__datepicker {
        font-size: $title-extra-small-font-size;
        font-family: $headings-font-family;
        font-weight: 300;
        border: solid $body-color 1px;
        height: 65px;

        &:focus {
            box-shadow: none;
        }
    }

    // FINE DATE PICKER

    // INIZIO INPUT NUMBER
    input[type="number"] {
        -moz-appearance: textfield;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    // FINE INPUT NUMBER


    .form-fieldset-label {
        color: $fm-color-text !important;
        font-family: $font-arimo;
    }

}