.aem-AuthorLayer-Edit{
	header.experiencefragment {
		position: relative;
	}
}
.cq-Editable-dom{
	&.placeholder.aem-AllowedComponent--component{
		display: none;
	}
	&.cmp-detail--header {
		max-height: 100%;
	}
	&.card-hover-container{
		.cardHoverContainer{
			.new.newpar{
				width: 50%;
    			margin: auto;
			}
		}

	}
	&.cmp-dialog-card__container-item{
		.newpar.new{
			width: 100%;
		} 
	}
	&.dialogCarousel{
		.cmp-container {
			.newpar.new{
				width: 100%;
			} 
		}
	}
}

