//== XF Header style, used on page template

header.experiencefragment {
	position: fixed;
	z-index: 99;
	&.cq-Editable-dom{
		position:relative;
		margin-bottom: 50px;

	}
  .cmp-experiencefragment--header {
    > .cmp-container {
      height: 85px;
      .cmp-image__image {
        max-height: 85px;
      }
    }
  }

  a {
    color: $black;
    text-decoration: none;
    &:hover,
    &:focus {
      color: $primary-color-three;
    }
  }

  .navigation{
	margin: auto;
  }
  .cmp-container--standard_width {
    padding: 0 20px;
  }
  .image {
    position: relative;
    bottom: 0;
  }
  .cmp-image {
    text-align: center;
  }
  .cmp-image__image {
    height: auto;
    min-height: 60px;
    max-width: 144px;
    object-fit: contain;
    margin-bottom: unset;
  }
  .cmp-container > div {
    position: relative;
    display: flex;
    align-items: center;
	height: 100%;
  }

  @media (min-width: 1200px) {
    .navigation {
		margin: 0;
    }
    .cmp-navigation {
      display: block;
    }
    .cmp-container > div {
      align-items: flex-end;
    }
  }
  @media (min-width: 375px) {
	.cmp-experiencefragment--header {
		  > .cmp-container {
			  height: 80px;
        .cmp-image__image {
          max-height: 80px;
        }
			}
		}
  }

  @media (min-width: 576px) {
	  .cmp-experiencefragment--header {
		  > .cmp-container {
			  height: 115px;
        .cmp-image__image {
          max-height: 115px;
        }
			}
		}
	}
}
