<div>
    <h2 class="h2 h2-light cmp-editprofileform__editProfileTitle">Add/edit photo profile</h2>

    <div class="mt-4 d-flex">
        <h3 class="h3 h3-light me-2 cmp-editprofileform__editProfileLabel">Email address:</h3>
        <h4 id="userProfileEmailAddress" class="h4 h4-light cmp-editprofileform__editProfileValue"></h4>
    </div>

    <div class="mt-2 d-flex">
        <h3 class="h3 h3-light me-2 cmp-editprofileform__editProfileLabel">Creation date:</h3>
        <h4 id="userProfileCreationDate" class="h4 h4-light cmp-editprofileform__editProfileValue"></h4>
    </div>

    <div class="mt-2 d-flex">
        <h3 class="h3 h3-light me-2 cmp-editprofileform__editProfileLabel">Last activity date:</h3>
        <h4 id="userProfileLastUpdatedOn" class="h4 h4-light cmp-editprofileform__editProfileValue"></h4>
    </div>

    <h2 class="h2 h2-light mt-4 cmp-editprofileform__editProfileTitle">Change of personal information</h2>

    <form class="customform needs-validation mt-4" id="userProfileForm" method="post" novalidate>

        <!-- NAME - LAST NAME -->
        <div class="row g-4 m-0 p-0">
            <div class="col-12 col-lg-6 px-0 pe-lg-2">
                <h3 class="cmp-editprofileform__formItemTitle h3 h3-light">
                    ${'first_name' @ i18n} <span>${'mandatory' @ i18n}</span>
                </h3>
                <div>
                    <input required placeholder="${'first_name_placeholder' @ i18n}" name="firstName" type="text"
                        class="form-control cmp-form__textField mt-2 rounded-0" id="firstName"
                        aria-describedby="firstNamelHelp">
                    <div class="invalid-feedback cmp-editprofile__customError">
                        ${'mandatory_field' @ i18n}
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 px-0 ps-lg-2">
                <h3 class="cmp-editprofileform__formItemTitle h3 h3-light">
                    ${'last_name' @ i18n} <span>${'mandatory' @ i18n}</span>
                </h3>
                <div>
                    <input required placeholder="${'last_name_placeholder' @ i18n}" type="text" name="lastName"
                        class="form-control cmp-form__textField mt-2 rounded-0" id="lastName"
                        aria-describedby="lastNamelHelp">
                    <div class="invalid-feedback cmp-editprofile__customError">
                        ${'mandatory_field' @ i18n}
                    </div>
                </div>
            </div>
        </div>

        <!-- PROESSION - GENDER -->
        <div class="row g-4 m-0 p-0">
            <div class="col-12 col-lg-6 px-0 pe-lg-2">
                <h3 class="cmp-editprofileform__formItemTitle h3 h3-light">
                    ${'profession' @ i18n} <span>${'mandatory' @ i18n}</span>
                </h3>
                <div>
                    <div class="custom-dropdown position-relative w-100 mt-2">
                        <button
                            class="dropdown-toggle overflow-hidden text-truncate w-100 text-start cmp-editprofileform__professionItem"
                            type="button" id="dropdownProfessionMenuButtonUserProfile">
                            ${'select_profession' @ i18n}
                        </button>
                        <ul class="dropdown-menu border-secondary border-top-0 position-absolute w-100 rounded-0 p-0 overflow-y-auto"
                            id="professionListUserProfile">
                            <li class="d-flex align-items-center">
                                <input type="hidden" value="Biologist">
                                <div class="dropdown-item d-flex align-items-center">Biologist</div>
                            </li>
                            <li class="d-flex align-items-center">
                                <input type="hidden" value="Diagnostic Laboratory Technician">
                                <div class="dropdown-item d-flex align-items-center">Diagnostic Laboratory
                                    Technician</div>
                            </li>
                            <li class="d-flex align-items-center">
                                <input type="hidden" value="Doctor">
                                <div class="dropdown-item d-flex align-items-center">Doctor</div>
                            </li>
                            <li class="d-flex align-items-center">
                                <input type="hidden" value="Healthcare Worker">
                                <div class="dropdown-item d-flex align-items-center">Healthcare Worker</div>
                            </li>
                            <li class="d-flex align-items-center">
                                <input type="hidden" value="No Healthcare">
                                <div class="dropdown-item d-flex align-items-center">No Healthcare</div>
                            </li>
                            <li class="d-flex align-items-center">
                                <input type="hidden" value="Nurse">
                                <div class="dropdown-item d-flex align-items-center">Nurse</div>
                            </li>
                            <li class="d-flex align-items-center">
                                <input type="hidden" value="Nurse’s Assistant">
                                <div class="dropdown-item d-flex align-items-center">Nurse’s Assistant</div>
                            </li>
                            <li class="d-flex align-items-center">
                                <input type="hidden" value="Obstetrician">
                                <div class="dropdown-item d-flex align-items-center">Obstetrician</div>
                            </li>
                            <li class="d-flex align-items-center">
                                <input type="hidden" value="Pharmacist">
                                <div class="dropdown-item d-flex align-items-center">Pharmacist</div>
                            </li>
                            <li class="d-flex align-items-center">
                                <input type="hidden" value="Psichologist">
                                <div class="dropdown-item d-flex align-items-center">Psichologist</div>
                            </li>
                            <li class="d-flex align-items-center">
                                <input type="hidden" value="Student">
                                <div class="dropdown-item d-flex align-items-center">Student</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="professionErrorString" class="cmp-editprofile__customError"></div>
            </div>
            <div class="col-12 col-lg-6 px-0 ps-lg-2">
                <h3 class="cmp-editprofileform__formItemTitle h3 h3-light">
                    ${'gender_label' @ i18n}
                </h3>
                <div>
                    <input placeholder="${'gender_placeholder' @ i18n}" type="text" name="gender"
                        class="form-control cmp-form__textField mt-2 rounded-0" id="gender"
                        aria-describedby="genderHelp">
                </div>
            </div>
        </div>

        <!-- DATE OF BIRTH - TELEPHONE -->
        <div class="row g-4 m-0 p-0 mt-2">
            <div class="col-12 col-lg-6 px-0 pe-lg-2">
                <h3 class="cmp-editprofileform__formItemTitle h3 h3-light">
                    ${'date_of_birth' @ i18n} <span>${'mandatory' @ i18n}</span>
                </h3>
                <div class="position-relative">
                    <input required class="form-control mt-2 cmp-form__datepicker rounded-0" type="date"
                        name="dateOfBirth" id="dateOfBirth">
                    <div class="invalid-feedback cmp-editprofile__customError">
                        ${'mandatory_field' @ i18n}
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 px-0 ps-lg-2">
                <h3 class="cmp-editprofileform__formItemTitle h3 h3-light">
                    Telephone
                </h3>
                <div>
                    <input placeholder="Insert Telephone" type="number" name="telNumber"
                        class="form-control cmp-form__textField mt-2 rounded-0" id="telephone"
                        aria-describedby="telephoneHelp">
                </div>
            </div>
        </div>

        <!-- COUNTRY - FISCAL CODE -->
        <div class="row g-4 m-0 p-0 mt-2">
            <div class="col-12 col-lg-6 px-0 pe-lg-2">
                <h3 class="cmp-editprofileform__formItemTitle cmp-editprofile__countryTitle h3 h3-light">
                    ${'country_label' @ i18n} <span>${'mandatory' @ i18n}</span>
                </h3>
                <div>
                    <div class="custom-dropdown position-relative w-100 mt-2">
                        <button
                            class="dropdown-toggle overflow-hidden text-truncate w-100 text-start cmp-editprofileform__countryItem"
                            type="button" id="dropdownCountryMenuButtonUserProfile">
                            ${'select_country' @ i18n}
                        </button>
                        <ul class="dropdown-menu border-secondary border-top-0 position-absolute w-100 rounded-0 p-0 overflow-y-auto"
                            id="countryListUserProfile">
                            <li class="d-flex align-items-center">
                                <input type="hidden" value="it">
                                <div class="dropdown-item d-flex align-items-center">IT</div>
                            </li>
                            <li class="d-flex align-items-center">
                                <input type="hidden" value="de">
                                <div class="dropdown-item d-flex align-items-center">DE</div>
                            </li>
                            <li class="d-flex align-items-center">
                                <input type="hidden" value="fr">
                                <div class="dropdown-item d-flex align-items-center">FR</div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="countryErrorString" class="cmp-editprofile__customError"></div>
            </div>
            <div class="col-12 col-lg-6 px-0 ps-lg-2" id="fiscalCodeInput">
                <h3 class="cmp-editprofileform__formItemTitle h3 h3-light">
                    ${'fiscal_code' @ i18n} <span>${'mandatory' @ i18n}</span>
                </h3>
                <div>
                    <input required placeholder="${'fiscal_code_placeholder' @ i18n}" type="text" name="taxIdCode"
                        class="form-control cmp-form__textField mt-2 rounded-0" id="taxIdCode"
                        aria-describedby="fiscalCodeHelp">
                    <div id="fiscalCodeErrorString" class="cmp-editprofile__customError"></div>
                </div>
            </div>
        </div>

        <!-- AREAS OF INTERST -->
        <div class="col-12 px-0 cmp-editProfileform__customMultiSelect mt-4">
            <h3 class="cmp-editprofileform__formItemTitle h3 h3-light">
                ${'area_of_interest' @ i18n} <span>${'mandatory' @ i18n}</span>
            </h3>
            <p class="cmp-editprofileform__formItemTitle text-wrap text-truncate">
                ${'area_of_interest_label' @
                i18n}</p>
            </h3>
            <div>
                <div class="custom-dropdown position-relative w-100">
                    <button class="dropdown-toggle w-100 overflow-hidden text-truncate text-start" type="button"
                        id="dropdownMultiselectMenuButtonUserProfile">
                        ${'area_of_interest_placeholder' @ i18n}
                    </button>
                    <ul class="dropdown-menu border-secondary border-top-0 position-absolute w-100 rounded-0 p-0 overflow-y-auto d-none"
                        id="interestListUserProfile">
                        <li class="d-flex align-items-center">
                            <label class="dropdown-item d-flex align-items-center">
                                <input type="checkbox" class="form-check-input mt-0 rounded-0" value="Algology">
                                Algology
                            </label>
                        </li>
                        <li class="d-flex align-items-center"><label
                                class="dropdown-item d-flex align-items-center"><input type="checkbox"
                                    class="form-check-input mt-0 rounded-0" value="Allergology and Clinical Immunology">
                                Allergology and Clinical Immunology</label></li>
                        <li class="d-flex align-items-center"><label
                                class="dropdown-item d-flex align-items-center"><input type="checkbox"
                                    class="form-check-input mt-0 rounded-0" value="Anaestesia and Intensive Care">
                                Anaestesia and Intensive Care</label></li>
                        <li class="d-flex align-items-center"><label
                                class="dropdown-item d-flex align-items-center"><input type="checkbox"
                                    class="form-check-input mt-0 rounded-0" value="Analyst"> Analyst</label>
                        </li>
                        <li class="d-flex align-items-center"><label
                                class="dropdown-item d-flex align-items-center"><input type="checkbox"
                                    class="form-check-input mt-0 rounded-0" value="Andrology">
                                Andrology</label>
                        </li>
                        <li class="d-flex align-items-center"><label
                                class="dropdown-item d-flex align-items-center"><input type="checkbox"
                                    class="form-check-input mt-0 rounded-0" value="Biochemistry">
                                Biochemistry</label>
                        </li>
                        <li class="d-flex align-items-center"><label
                                class="dropdown-item d-flex align-items-center"><input type="checkbox"
                                    class="form-check-input mt-0 rounded-0" value="Cardiology">
                                Cardiology</label></li>
                        <li class="d-flex align-items-center"><label
                                class="dropdown-item d-flex align-items-center"><input type="checkbox"
                                    class="form-check-input mt-0 rounded-0" value="Dentistry">Dentistry</label>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="interestErrorString" class="cmp-editprofile__customError"></div>
        </div>

        <!-- LINKEDIN PROFILE -->
        <div class="row g-4 m-0 p-0">
            <div class="col-12 px-0">
                <h3 class="cmp-editprofileform__formItemTitle h3 h3-light">${'linkedin_profile' @ i18n}</h3>
                <div>
                    <input placeholder="${'linkedin_profile_label' @ i18n}" name="linkedinProfile" type="text"
                        class="form-control cmp-form__textField mt-2 rounded-0" id="linkedinProfile"
                        aria-describedby="linkedinProfileHelp">
                </div>
            </div>
        </div>

        <div class="cmp-editprofile__privacywrapper mt-4">
            <h6 class="h6">${'privacy_newsletter' @ i18n}</h6>

            <!-- GDPR -->
            <div>
                <p>
                    ${'having_read_the' @ i18n} <a class="text-decoration-none"
                        href="${properties.privacyLink}">${'privacy_information_notice' @ i18n}</a>
                    ${'personal_data_processing' @ i18n}
                    <span>${'mandatory' @ i18n}</span>
                </p>
                <fieldset class="ps-0 d-flex">
                    <label class="d-flex align-items-center">
                        <input required id="privacyYes" type="radio" name="privacy" value="yes" class="me-2">
                        <span class="form-fieldset-label">${'yes_label' @ i18n}</span>
                    </label>
                    <label class="d-flex align-items-center">
                        <input required id="privacyNo" type="radio" name="privacy" value="no" class="ms-2 me-2">
                        <span class="form-fieldset-label">${'no_label' @ i18n}</span>
                    </label>
                </fieldset>
                <div id="privacyErrorString" class="cmp-editprofile__customError"></div>
            </div>

            <!-- DATA PROCESSING -->
            <div class="mt-3">
                <p>${'profiling' @ i18n}</p>
                <fieldset class="ps-0 d-flex">
                    <label class="d-flex align-items-center">
                        <input required id="dataProcessingYes" type="radio" name="personalDataProcessing" value="yes"
                            class="me-2">
                        <span class="form-fieldset-label">${'yes_label' @ i18n}</span>
                    </label>
                    <label class="d-flex align-items-center">
                        <input required id="dataProcessingNo" type="radio" name="personalDataProcessing" value="no"
                            class="ms-2 me-2">
                        <span class="form-fieldset-label">${'no_label' @ i18n}</span>
                    </label>
                </fieldset>
                <div id="dataProcessingErrorString" class="cmp-editprofile__customError"></div>

            </div>

            <!-- NEWSLETTER -->
            <div class="mt-3">
                <p>${'agree_newsletter' @ i18n} <span>${'mandatory' @ i18n}</span></p>
                <fieldset class="ps-0 d-flex">
                    <label class="d-flex align-items-center">
                        <input required id="newsletterYes" type="radio" name="receiveNewsletter" value="yes"
                            class="me-2">
                        <span class="form-fieldset-label">${'yes_label' @ i18n}</span>
                    </label>
                    <label class="d-flex align-items-center">
                        <input required id="newsletterNo" type="radio" name="receiveNewsletter" value="no"
                            class="ms-2 me-2">
                        <span class="form-fieldset-label">${'no_label' @ i18n}</span>
                    </label>
                </fieldset>
                <div id="newsletterErrorString" class="cmp-editprofile__customError"></div>
            </div>

            <p class="mt-5 mb-0 small-text small-text-light">${'security_code' @ i18n} <span>${'mandatory' @
                    i18n}</span></p>

            <!-- <div data-sly-resource="${'recaptcha' @ resourceType='fondazione/components/recaptcha/'}"></div> -->

            <div id="cmp-editprofileform__errorsAlert" class="alert alert-danger mt-4 d-none" role="alert"></div>
            <div id="cmp-editprofileform__successAlert" class="alert alert-success mt-4 d-none" role="alert">${'user_info_update_success' @ i18n}</div>

            <div class="mt-4">
                <button class="btn btn-primary cmp-edituserprofileform__cta" type="submit">${'save' @ i18n}</button>
            </div>
        </div>
    </form>
</div>