$borderHeader: 0.125rem solid $white;

header.experiencefragment {
  position: relative;
  z-index: 2;
  position: fixed;
  /* @media (prefers-color-scheme: dark) {
        border-bottom-color: $color-foreground-dark;
    } */

  a {
    text-decoration: none;

    /* @media (prefers-color-scheme: dark) {
		color: $color-foreground-dark;
    } */

    &:hover,
    &:focus {
      color: darken($color: $deep-blue, $amount: 15%);
      text-decoration: none;

      /* @media (prefers-color-scheme: dark) {
		color: $color-link-dark;
    } */
    }
  }
  .cmp-experiencefragment--header {
    .container.responsivegrid:nth-child(1) {
    }
    .container.responsivegrid:nth-child(2) {
      .cmp-navigation {
        > .cmp-navigation__group {
        }
      }
    }
  }

  //== Grid layout

  .cmp-container {
    display: grid;
  }
  .cmp-navigation__item-link {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    font-size: 1rem;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: $oswald-weight-bold;
    align-items: center;
    text-decoration: none;
    color: $white;
  }
  .cmp-navigation__group {
    list-style: none;
  }
  .cmp-navigation__item--active > .cmp-navigation__item-link {
    font-weight: bold;
  }

  .cmp-navigation__item--level-0 {
    font-size: 1.25rem;

    &:has(.cmp-navigation__group) {
      .cmp-navigation__group {
        display: none; /* Initial state hidden */

        &.is-visible {
          display: block; /* Show group when is-visible class is added */
        }
      }
      .cmp-navigation__item-link {
        gap: 0.5rem;
        position: relative; /* Needed for absolute positioning of toggle icon */

        .toggle-icon {
          content: " ";
          display: block;
          width: 1.25rem;
          height: 1.25rem;
          background: url("/etc.clientlibs/laboratorio-guidotti/clientlibs/clientlib-site/resources/icons/icon-accordion-arrow-v1-white.svg")
            center center no-repeat;
          background-size: contain;
          transition: transform 0.3s ease;
        }

        &.is-open {
          .toggle-icon {
            transform: rotate(180deg); /* Rotate arrow when open */
          }
        }
      }

      .cmp-navigation__item--level-1 {
        .cmp-navigation__item-link {
          &::after {
            content: " ";
            display: none;
          }
        }
      }
    }
  }

  //== Scrolled part

  &.scrolled {
    .cmp-experiencefragment--header {
      .container.responsivegrid:nth-child(1) {
        background-color: $white;
        padding: clamp(1rem, 1vw, 2rem);
        .cmp-image {
        }
        .button {
          .cmp-button {
            border-color: $black;
            .cmp-button__text {
              color: $black;
            }
          }
        }
      }
      .container.responsivegrid:nth-child(2) {
        .cmp-navigation {
          > .cmp-navigation__group {
            .cmp-navigation__item-link {
              padding: 1rem;
            }
          }
        }
      }
    }
  }
}

.header-desktop {
  display: none;
}
