@include respond-to(tablet) {
  .header-mobile {
    display: none;
  }
  .header-desktop {
    display: block;
  }

  header.experiencefragment {
    #navbar {
      transition: transform 0.3s ease;
      padding: 0 2rem;
      .xf-master-building-block {
        display: flex;
        justify-content: flex-end;
        gap: 0.5rem;
        align-items: center;
      }
      .button {
        display: flex;
        .cmp-button {
          padding: 0 2rem 0 0;
          .cmp-button__text {
            font-family: $font-family-oswald;
            border: 0.07rem solid $white;
            padding: 0.7vw 1vw;
            text-align: center;
            border-radius: 5rem;
            font-size: $font-size-min;
            cursor: pointer;
            transition: $standard-transition;
            &:hover {
              background-color: $white;
              color: $vibrant-azure;
              box-shadow: 2px 2px 5px lightGray;
            }
          }
          &:hover {
            box-shadow: inherit;
          }
        }
      }
      #logo-guidotti {}
    }

    .container.responsivegrid:nth-child(2) {
      .cmp-navigation {
        > .cmp-navigation__group {
          transition: $standard-transition;
          .cmp-navigation__item-link {
            transition: $standard-transition;
          }
        }
      }
    }

    &.scrolled {
      background: $white;
      background: linear-gradient(180deg, $white 0%, $white 60%, rgba(255, 255, 255, 0.65) 60%, rgba(255, 255, 255, 0.65) 100%);
        -webkit-box-shadow: 0 4px 6px -6px $darkGray;
        -moz-box-shadow: 0 4px 6px -6px $darkGray;
      box-shadow: 0 1px 6px 0px $darkGray;

      #navbar {
        transform: scale(0.95);
        .button {
          display: flex;
          .cmp-button__text {
            border: 0.07rem solid $vibrant-azure;
            color: $black;
            &:hover {
              background-color: $vibrant-azure;
              color: $white;
              box-shadow: 2px 2px 5px $lightGray;
            }
          }
        }
        #logo-guidotti {
          .image {
            .cmp-image {
              .cmp-image__image {
                height: 4rem;
              }
            }
          }
        }
        .cmp-navigation {
          border-top: 0.063rem solid $vibrant-azure;
        }
      }

      .languagenavigation {
        .cmp-languagenavigation {
          .cmp-languagenavigation__label {
            color: $black;
            .cmp-languagenavigation__label-text {
              color: $black;
              transition: $standard-transition;
            }
            .toggle-icon {
              width: 0.7rem;
              cursor: pointer;
              background: url("/etc.clientlibs/laboratorio-guidotti/clientlibs/clientlib-site/resources/icons/icon-accordion-arrow-v1-black.svg")
                center center no-repeat;
            }
          }
          & > .cmp-languagenavigation__group {
            transform: scale(0.95);
            transition: $standard-transition;
            top: unset;
            .cmp-languagenavigation__item--level-0 {
              .cmp-languagenavigation__item-link {
                color: $black;
                &:hover {
                  color: $color-hover;
                }
              }
            }
          }
        }
      }
    }

    .cmp-experiencefragment--header {
      position: relative;
      z-index: 2;
      #navbar {
        > div {
          display: flex;
          align-items: center;
        }
      }
      .languagenavigation {
        font-family: $font-family-arimo;
        font-size: $font-size-min;
        font-weight: $arimo-weight-light;
        letter-spacing: -1px;
      }
      .container.responsivegrid:nth-child(1) {
        position: relative;
        .cmp-image {
          //width: clamp(10rem, 1.5vw, 16.25rem);
          .cmp-image__image {
            padding-top: 10px;
            height: 5.5rem;
            transition: $standard-transition;
          }
        }
      }
      .container.responsivegrid:nth-child(2) {
        position: relative;
        .button {
          border-top: 0.125rem solid $color-background;
          .cmp-button {
            border: 0.063rem solid $color-background;
            margin: 1.25rem auto;
          }
        }
      }
    }

    .cmp-navigation {
      background-color: rgba($color-background, 0.7);
      transition:  $standard-transition;
    }
    .cmp-navigation__group {
      display: flex;
      justify-content: center;
      flex-direction: row;
      border: none;
      margin: 0;
      max-height: 4.5rem;
      font-family: $font-family-oswald;
      -webkit-font-smoothing: antialiased;
    }
    .cmp-navigation__item-link {
      color: $deep-blue;
      font-size: 1.12rem;
      padding: 0.8rem 1rem;
      font-weight: $oswald-weight-regular;
    }

    .cmp-navigation__item--level-0 {
      position: relative;
      &:has(.cmp-navigation__group) {
        .cmp-navigation__item-link {
          .toggle-icon {
            width: 0.7rem;
            background: url("/etc.clientlibs/laboratorio-guidotti/clientlibs/clientlib-site/resources/icons/icon-accordion-arrow-v1-black.svg")
              center center no-repeat;
          }
        }
        .cmp-navigation__group {
          position: relative;
          .cmp-navigation__item {
            position: relative;
          }
          &.is-visible {
            position: absolute;
            left: 1rem;
            top: 3.3rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            width: max-content;
            gap: 0.2rem;
            padding: 0;
          }
        }
      }
    }
    .cmp-navigation__item--level-1 {
      background-color: $vibrant-azure;
      .cmp-navigation__item-link {
        color: $color-background;
        font-size: $font-size-min;
        padding: 0.3rem 0.5rem;
      }
    }

    //== Language Navigation

    .cmp-languagenavigation {
      position: relative;
      .toggle-icon {
        width: 0.7rem;
        cursor: pointer;
        background: url("/etc.clientlibs/laboratorio-guidotti/clientlibs/clientlib-site/resources/icons/icon-accordion-arrow-v1-white.svg")
          center center no-repeat;
      }
      .cmp-languagenavigation__label {
        color: $color-background;
        .cmp-languagenavigation__label-text {
          color: $color-background;
        }
      }
      & > .cmp-languagenavigation__group {
        visibility: hidden;
        transition-delay: 0.5s;
        position: absolute;
        top: 2.125rem;
        width: 100%;
        padding: 0 0.5rem;
        border-top: 0;
        background-color: transparent;
        text-align: end;
        .cmp-languagenavigation__item--level-0 {
          .cmp-languagenavigation__item-link {
            color: $color-background;
            &:hover {
              color: darken($color-background, 20%);
            }
          }
        }
      }
      &.is-open {
        .cmp-languagenavigation__group {
          visibility: visible;
          transition: $standard-transition;
        }
      }
    }

    .cmp-languagenavigation__item-title {
    }
    .cmp-languagenavigation__item--level-0 {
    }
    .cmp-languagenavigation__item--level-1 {
      display: inline;
    }
    .cmp-languagenavigation__item--level-1:not(:first-child)::before {
    }
    .cmp-languagenavigation__item--active > .cmp-languagenavigation__item-link {
    }
  }
}
