#navbarMobile {
  display: none;
}
#navbarMobile.is-visible {
  display: block;
}
.header-mobile {
  .cmp-experiencefragment--header {
    z-index: 2;
    .cmp-navigation__group {
      margin: 0;
      padding: 0;

      flex-direction: column;
      align-items: center;
    }
    .cmp-navigation__item {
      border-top: 0.125rem solid $white;
      width: 100%;
      text-align: center;
      display: grid;
    }
	.cmp-navigation__item-link {
		justify-content: center;
	}
    .cmp-navigation__item--level-1 {
      border-top: 0.25rem solid $vibrant-azure;

      .cmp-navigation__item-link {
        background-color: $white;
        color: $vibrant-azure;
      }
    }
    .cmp-navigation__item--level-0 {
      border-top: $borderHeader;

      &:first-of-type {
        border-top: none;
      }
    }

    .container.responsivegrid:nth-child(1) {
      position: relative;
      padding: clamp(1.5rem, 4vw, 2.5rem);
      .cmp-image {
        width: clamp(11.875rem, 1.5vw, 16.25rem);
      }
      .button {
        height: 100%;
        .cmp-button {
          display: flex;
          flex-wrap: wrap;
          align-content: center;
          justify-content: flex-end;
          padding: 0;
          border: none;
          width: 100%;
        }
      }
    }
    .container.responsivegrid:nth-child(2) {
      position: fixed;
      .button {
        border-top: 0.125rem solid $white;
        .cmp-button {
          border: 0.063rem solid $white;
          margin: 1.25rem auto;
        }
      }
    }
  }
}
