#navbarMobile {
  display: none;
}
#navbarMobile.is-visible {
  display: block;
}
.header-mobile {
  a {
    text-decoration: none;
    &:hover,
    &:focus {
      color: $vibrant-azure !important;
      background-color: $white !important;
    }
  }
  #btnMenuMobile {
    &:hover {
      box-shadow: none;
    }

  }
  &.scrolled {
    #btnMenuMobile {
      padding: clamp(1rem, 1vw + 0.5rem, 1.5rem) clamp(0.25rem, 1vw + 0.25rem, 2rem);
      .cmp-button__icon--hamburger {
        transition: $standard-transition;;
        background: url("/etc.clientlibs/laboratorio-guidotti/clientlibs/clientlib-site/resources/icons/icon-hamburger-deep-blue.svg")
          center center no-repeat;
      }
	  &:hover{
		box-shadow: none;
	  }
    }
  }
  .cmp-experiencefragment--header {
    z-index: 2;
    .cmp-navigation__group {
      margin: 0;
      padding: 0;

      flex-direction: column;
      align-items: center;
    }
    .cmp-navigation__item {
      border-top: 0.125rem solid $color-background;
      width: 100%;
      text-align: center;
      display: grid;
    }
    .cmp-navigation__item-link {
      justify-content: center;
    }
    .cmp-navigation__item--level-1 {
      border-top: 0.25rem solid $vibrant-azure;

      .cmp-navigation__item-link {
        background-color: $color-background;
        color: $vibrant-azure;
      }
    }
    .cmp-navigation__item--level-0 {
      border-top: $borderHeader;

      &:first-of-type {
        border-top: none;
      }
    }

    .container.responsivegrid:nth-child(1) {
      position: relative;
      padding: clamp(0.5rem, 4vw, 2.5rem);
      .cmp-image {
        //width: clamp(11.875rem, 1.5vw, 16.25rem);
        img {
          height: 4rem;
        }
      }
      .button {
        height: 100%;
        .cmp-button {
          display: flex;
          flex-wrap: wrap;
          align-content: center;
          justify-content: flex-end;
          padding: 0;
          border: none;
          width: 100%;
        }
      }
    }
    .container.responsivegrid:nth-child(2) {
      position: fixed;
      .button {
        border-top: 0.125rem solid $color-background;
        .cmp-button {
          border: 0.063rem solid $color-background;
          margin: 1.25rem auto;
        }
      }
    }
  }
}
