/* Font */

$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size: 16px;
$title-font-size: 40px;
$title-big-font-size: 60px;
$font-height: 1.5;
$font-light: 200;
$font-regular: 400;
$font-bold: 500;
$font-bolder: 600;
$font-family-georgia: georgia;
$font-family-oswald: Oswald, Tahoma, Arial, Helvetica, sans-serif;
$font-family-arimo: Arimo, sans-serif;


/* Normal mode*/
$color-foreground: #202020;
$color-background: #ECECEC;
$color-link: #2020E0;
$color-form-border: #66afe9;

$white: #ffffff;
$black: #000000;


/* Color */
$color-text: #484542;
$color-corporate: #143F59;

$color-primary: #F5333F;
$color-primary-hover: #D32D39;

$color-secondary: #0783FF;
$color-secondary-hover: #0066ff;


$color-third: #949283;
$color-fourth: #B6B59C;
$color-fifth: #EEEEE4;
$color-six: #F7F6F4;


$border: 1px solid rgba(0, 0, 0, .1);
$resources-path: '/etc.clientlibs/menarinimaster/clientlibs/clientlib-site/resources';