//== Font

$font-family-text: "Vermiglione", sans-serif;


// Font weight variables for Gotham
$title-light: "GothamLight"; //corrisponde a font-weight: 325
$title-book: "GothamBook"; //corrisponde a font-weight: 350
$title-medium: "GothamMedium"; //corrisponde a font-weight: 400
$title-bold: "GothamBold"; //corrisponde a font-weight: 700


// Font weight variables for Vermiglione
$text-extra-light: 200;
$text-light: 300;
$text-regular: 400;
$text-news: 450;
$text-medium: 500;
$text-semi-bold: 600;
$text-bold: 700;

// Font size
$font-height: 1.5;
$font-size-min: 14px;
$font-size-max: 18px;
//$font-size: calc(16px + (24 - 16) * ((100vw - 390px) / (1920 - 390)));
$font-size: clamp($font-size-min, 50vw, $font-size-max);


$title-size-min: 26px;
$title-size-max: 56px;
$title-size: clamp($title-size-min, 50vw, $title-size-max);
$title-letter-spacing: 2px;
//$title-size: calc(48px + (100 - 48) * ((100vw - 390px) / (1920 - 390)));

// Color
$black: #000000;
$midnightBlue: #0d1d2c;
$darkCyanBlue: #0b1d2c;
$charcoal:#1C1D1D;
$deepTeal: #031D2D;  
$white: #ffffff;
$lightGrey: #E6E9EA;
$grey: #CDD2D5;
$mediumGrey: #6B6C6C;
$standard-transition: all 0.3s ease-in;

// Normal mode
$color-background: $white;
$color-title: $midnightBlue;
$color-text: $darkCyanBlue;

//Media Queries
$breakpoint-small-devices: 320px;
$breakpoint-mobile: 480px;
$breakpoint-tablet: 992px;
$breakpoint-laptop: 1200px;
$breakpoint-desktop: 1440px;
$breakpoint-high-definition: 1920px;


/*BUTTON STYLES*/

// Type primary or secondary
$font-size-btn-min: 0.786rem;
$font-size-btn-max: 1rem;
$font-size-btn: clamp($font-size-btn-min, 0.188vw + 0.743rem, $font-size-btn-max);
$btn-border-size: 1px;
$btn-border-style: solid;
$btn-line-height: 22px;
$btn-padding: 0 16px;
$width-btn-min: 10.714rem;
$width-btn-max: 17.143rem;
$btn-width: clamp($width-btn-min, 5.625vw + 9.429rem, $width-btn-max);
$heigh-btn-min: 2.429rem;
$heigh-btn-max: 3.429rem;
$btn-height: clamp($heigh-btn-min, 0.875vw + 2.229rem, $heigh-btn-max);

// Type topic
$font-size-topic-min: 11px;
$font-size-topic-max: 12px;
$font-size-topic: clamp($font-size-topic-min, 0.188vw + 0.743rem, $font-size-topic-max);
$width-topic-min: 7.714rem;
$width-topic-max: 10.643rem;
$topic-width: clamp($width-topic-min, 2.563vw + 7.129rem, $width-topic-max);
$heigh-topic-min: 2.286rem;
$heigh-topic-max: 2.786rem;
$topic-height: clamp($heigh-topic-min, 0.438vw + 2.186rem, $heigh-topic-max);


/* BORDERS */
$lightgrey-border-color: rgba(11, 29, 44, 0.2);
$darkgrey-border-color: $deepTeal;

/*TABS STYLES*/
$tab-font-size: clamp(1rem, 0.25vw + 0.943rem, 1.286rem);
$tab-width: clamp(14.286rem, 2.5vw + 13.714rem, 17.143rem);
$tab-height: clamp(3.429rem, 0.5vw + 3.314rem, 4rem);
$tab-padding-top: clamp(0.286rem, 0.25vw + 0.229rem, 0.571rem);
$tab-padding-bottom: clamp(1.714rem, -0.25vw + 1.771rem, 1.429rem);
$tab-padding-lateral: clamp(1.143rem, -0.25vw + 1.2rem, 0.857rem);
$tab-panel-width:clamp(23.929rem, 60.313vw + 10.143rem, 92.857rem);
$max-tab-panel-width: calc($breakpoint-laptop + 100px);

/*ACCORDION STYLES*/
$accordion-button-font-size: clamp(1.143rem, 0.125vw + 1.114rem, 1.286rem);
$accordion-button-line-height:  clamp(1.714rem, 0.25vw + 1.657rem, 2rem);