//== Font

$font-family-oswald: "OswaldVariable", sans-serif;
$font-family-arimo: "ArimoVariable", sans-serif;
$font-family-arimo-italix: "ArimoVariableItalic", sans-serif;

// Font weight variables for Oswald
$oswald-weight-light: 200;
$oswald-weight-regular: 400;
$oswald-weight-medium: 500;
$oswald-weight-semibold: 600;
$oswald-weight-bold: 700;

// Font weight variables for Arimo
$arimo-weight-thin: 100;
$arimo-weight-light: 300;
$arimo-weight-regular: 400;
$arimo-weight-medium: 500;
$arimo-weight-semibold: 600;
$arimo-weight-bold: 700;
$arimo-weight-extrabold: 800;
$arimo-weight-black: 900;

// Font weight variables for Arimo Italic
$arimo-italic-weight-thin: 100;
$arimo-italic-weight-light: 300;
$arimo-italic-weight-regular: 400;
$arimo-italic-weight-medium: 500;
$arimo-italic-weight-semibold: 600;
$arimo-italic-weight-bold: 700;
$arimo-italic-weight-extrabold: 800;
$arimo-italic-weight-black: 900;

// Font size
$font-size-min: 17px;
$font-size: calc(16px + (24 - 16) * ((100vw - 390px) / (1920 - 390)));
$font-size-max: 24px;
$button-size: calc(17px + (22  - 17) * ((100vw - 390px) / (1920 - 390)));
$font-height: 1.5;

$title-size-min: 48px;
$title-size: calc(48px + (100 - 48) * ((100vw - 390px) / (1920 - 390)));
$title-size-max: 100px;
$title-spacing: -2px;

// Color
$black: #000000;
$white: #ffffff;
$deep-blue: #38344d;
$vibrant-azure: #00adf2;
$lightGray: #7D7D7D;
$darkGray:#636363;
$teal-blue: #2A677A;
$standard-transition: all .3s ease-in;

// Normal mode
$color-background: $white;
$color-hover: $vibrant-azure;
$color-text: $black;
$color-text-grey: $darkGray;

// Dark mode
/* $color-foreground-dark: invert($color-foreground);
$color-background-dark: invert($color-background);
$color-link-dark:       invert($color-link); */

//Media Queries
$breakpoint-small-devices: 320px;
$breakpoint-mobile: 480px;
$breakpoint-tablet: 992px;
$breakpoint-laptop: 1200px;
$breakpoint-desktop: 1440px;
