//== Font

$font-family-title: "Figtree", sans-serif;
$font-family-text: "Vermiglione", sans-serif;


// Font weight variables for Gotham
$title-light: 300;
$title-regular: 400;
$title-medium: 500;
$title-semibold: 600;
$title-bold: 700;
$title-extra-bold: 800;
$title-black: 900;

// Font weight variables for Vermiglione
$text-extra-light: 200;
$text-light: 300;
$text-regular: 400;
$text-news: 450;
$text-medium: 500;
$text-semi-bold: 600;
$text-bold: 700;

// Font size
$font-height: 1.5;
$font-size-min: 14px;
$font-size-max: 18px;
//$font-size: calc(16px + (24 - 16) * ((100vw - 390px) / (1920 - 390)));
$font-size: clamp($font-size-min, 50vw, $font-size-max);


$title-size-min: 26px;
$title-size-max: 56px;
$title-size: clamp($title-size-min, 50vw, $title-size-max);
$title-letter-spacing: 2px;
//$title-size: calc(48px + (100 - 48) * ((100vw - 390px) / (1920 - 390)));

// Color
$black: #000000;
$midnightBlue: #0d1d2c;
$darkCyanBlue: #0b1d2c;
$charcoal:#1C1D1D;
$deepTeal: #031D2D;  
$white: #ffffff;
$standard-transition: all 0.3s ease-in;

// Normal mode
$color-background: $white;
//$color-hover: $vibrant-azure;
$color-title: $midnightBlue;
$color-text: $darkCyanBlue;

//Media Queries
$breakpoint-small-devices: 320px;
$breakpoint-mobile: 480px;
$breakpoint-tablet: 992px;
$breakpoint-laptop: 1200px;
$breakpoint-desktop: 1440px;
$breakpoint-high-definition: 1920px;
