
.only_mobile{
	display:none !important;
}
.no_mobile{
	display:block !important;
}
@media (max-width: 768px) {
	.only_mobile{
		display:block !important;
	}
	.no_mobile{
		display:none !important;
	}
}
@media (max-width: 1060px) {
	.img-contact img{
		width: 100%;
		margin-bottom: 10px;
	}
}
/****************************************************************************************************/
a.link_more.logout_mobile{
	bottom: 10px;
}

/****************************************************************************************************/

/********** SELETTORE LINGUA MOBILE *********/

.language-object{
	position:relative;
}
.dnnEditState .only_mobile {
    display: block;
}
.language_mobile{
	font-family: Oswald, Tahoma, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 13px;
}
.language_mobile ul{
	position: absolute;
	top: 36px;
	z-index: 100000000000000;
	list-style:none;
	margin-left: 0px;
	display:none;
	width:100%;
	background-color:#FFFFFF;
	border: 1px solid #B6B59C;
}
.language_mobile ul > li > a{
	margin: 0px !important;
	display: block;
	text-align: center;
}
.language_mobile ul > li > a > span{
	font-family: Oswald, Tahoma, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 13px !important;
}
.language_mobile #language-selector-title{
	height:36px;
	cursor: pointer;
}
.language_mobile #language-selector-title::after{
	/*font-family: "Fontawesome";
	content: "\f078";
	font-size:8px;
	position: absolute;
	right: 0px;
	top: 0px;*/
	margin-top: -25px;
    margin-left: 15px;
    display: block;
    content: ' ';
    height: 28px;
    width: 28px;
    background: url(https://www.menarini.com/Portals/31/Images/icons/freccia_down_W.svg);
    background-size: 15px;
    background-repeat: no-repeat;
}
.language_mobile #language-selector-title, 
.language_mobile ul li a{
	color:#ffffff;
	font-size:13px;
	text-transform:uppercase;
	line-height:36px;
	margin-left: 10px;
}
.language_mobile{
	width: 52px;
	height: 36px;
}
.language_mobile .language-object #language-selector{
	height: 36px;
}
.language_mobile select{
	width: 100px;
}
.language_mobile .LanguageTrue{
	color:#B6B59C;
}
.language_mobile .LanguageFalse{
	color:#484542;
}
/***********************************/
.mainMenuMobile .RedInternal h2 {font-family: Oswald, Tahoma, Arial, Helvetica, sans-serif;font-weight: 200;}
.mainMenuMobile h3 {font-family: Oswald, Tahoma, Arial, Helvetica, sans-serif;font-weight: 200;}
/********** RICERCA MOBILE *********/
#searchmobile .navbar {
	padding-top: 30px;
	background: #FFF;
}
#searchmobile .navbar .navbar-nav .nav-item.active a,#searchmobile .navbar .navbar-nav .nav-item.active a:hover{
	color:#999999;
}
#searchmobile .navbar .navbar-nav .nav-item.active .dropdown-menu .dropdown-item{
	color:#000000;
}
#searchmobile .navbar .navbar-nav .nav-item .nav-link:hover{
	color:#333333;
}
#dnn_avtSearchMobile_pnlInput .bstrap30 .sb-default .input-group{
	max-width: 100%;
}
#dnn_avtSearchMobile_pnlInput .bstrap30 .sb-default .input-group span.twitter-typeahead{
	height: 35px;
}
#dnn_avtSearchMobile_pnlInput .bstrap30 .sb-default .input-group span.twitter-typeahead:not(:first-child):not(:last-child) .form-control{
	height: 100%;
}
#dnn_avtSearchMobile_pnlInput .bstrap30 .input-group-btn{
	vertical-align:top;
}
#dnn_avtSearchMobile_pnlInput .bstrap30 .sb-default{
	padding-top: 0px;
	padding-bottom: 0px;
}
#dnn_avtSearchMobile_pnlInput .input-group.dropdown.sb-dropdown.adv-search .tt-input{
	background-color: #FFF !important;
	border: 0px;
	border-radius: 8px 0px 0px 8px;
	height: 100%;
	font-size:15px;
	-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow:inset 0 0px 0px rgba(0,0,0,.075);
}
#searchmobile .adv-search .twitter-typeahead .form-control {
	border-radius: 10px 0px 0px 10px;
}
#dnn_avtSearchMobile_pnlInput .btn.btn-primary.search-btn{
	background: url(https://www.menarini.com/Portals/31/Skins/Menarini/assets/img/search.png) no-repeat scroll center center #FFF;
	background-size: 20px;
	margin-left: 0px;
	padding: 0px;
	width: 35px;
	height: 35px;
	float: left;
	border:0px;
	border-radius: 0px 10px 10px 0px;
}
#dnn_avtSearchMobile_pnlInput .bstrap30 .glyphicon-search:before{
	content:" " !important;
}
#dnn_avtSearchMobile_pnlInput .btn-primary {
	background-color: #FFF !important;
	border-color: #FFF !important;
}

/********** MENU PRINCIPALE *********/
.dropdown-toggle::after{
	display:none;
}

/**************************************** MEDIA QUERY ****************************************/

@media (min-width: 992px){
	#dnnbootsterNav {
        display: none !important;
    }
    .navbar-collapse {
    	position: relative !important;
    	top: unset !important;
	}
}
/* END: min-width: 992px *************************************************/

@media (min-width: 769px) {
	#Content4Box .layoutContainer .row .pane {
		max-width: 25%;
    	flex: 25%;
	}
}
/* END: min-width: 769px *************************************************/

/* END: max-width: 1080px *************************************************/

@media (max-width: 1024px) { 
	#Content4Box .layoutContainer .row .pane .big_text { padding-top: 5%; font-size: 1.8vw;}
	#Content4Box .layoutContainer .row .pane h2 { padding-top: 18%; font-size: 2.3vw;}
	#Content4Box .layoutContainer .row .pane .small_text { font-size: 1.4vw; }
	#Bottom3PaneWrapper #dnn_Bottom3Box1Pane .big_text a, 
	#Bottom3PaneWrapper #dnn_Bottom3Box2Pane .big_text a, 
	#Bottom3PaneWrapper #dnn_Bottom3Box3Pane .big_text a, 
	#Bottom4PaneWrapper #dnn_Bottom4Box1Pane .big_text a, 
	#Bottom4PaneWrapper #dnn_Bottom4Box2Pane .big_text a, 
	#Bottom4PaneWrapper #dnn_Bottom4Box3Pane .big_text a, 
	#Bottom4PaneWrapper #dnn_Bottom4Box4Pane .big_text a {
		font-size: 27px;
	}
}
/* END: max-width: 1024px *************************************************/

.navbar-toggler {
	display: none;
	float: right;
	border-radius: 0px;
	position: relative;
	padding: 0px !important;
	margin-top: -46px;
}

@media (max-width: 992px) {

	header .topbar > div{
		width: inherit;
	}
	.container-fluid.headerMenu > div > div{
		width: 100%;
		flex: 100%;
		max-width: 100%;
	}
	.container-fluid.headerMenu > div > div:last-child{
		max-height: 2px;
	}
	body header #dnn_LOGO1_hypLogo{
		margin-top: 0px;
	}

	/*** main menu aperto ***/

	#dnn_Bottom4Box1Pane, #dnn_Bottom4Box2Pane, #dnn_Bottom4Box3Pane, #dnn_Bottom4Box4Pane { 
		width: 50%; float: left; 
	} 

	/*** main menu ***/
	#dnn_MainMenu{
		display: none !important;
	}
	#dnnbootsterNav {
 	   margin-top: 0px;
	}
	.controlbarfix .navbar.navbar-expand-lg .container {
		position: relative;
	}
	.navbar-toggler {
		display: block;
	}
	.navbar-collapse {
		position: absolute;
   		top: 60px;
  		z-index: 100;
	}
	.navbar-nav-social{
		display: none;
	}

	/*----- menuBottomMobile -----*/
	#dnn_menuBottomMobile {
		background-color: #f0f1f0;
		margin-top: 70px;
		padding: 20px 15px 20px 15px;
		border-bottom: 5px solid #0e848c;
	}
	#dnn_menuBottomMobile ul {
		margin: 0px;
		list-style: none;
	}
	#dnn_menuBottomMobile li {
		padding: 10px 0px 10px 0px;
	}

	/*-----menu mobile-----*/
    #dnnbootsterNav {
        width: 100%;
    }
    .dnnbooster header .navbar .navbar-nav .nav-item {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 0px;
        clear: both;
    }
    .dnnbooster header .navbar .navbar-nav .nav-item a {
        padding-left: 15px;
    }
    .dnnbooster .navbar-nav .nav-link {
        width: 70%;
        padding: 0px;
        float: left;
    }
    .dnnbooster .navbar-nav .bottone {
        min-height: 15px;
        width: 30%;
        float: right;
        padding: 0px 15px 0px 0px;
    }
    .dnnbooster .navbar-nav .livello2 .bottone {
    	padding-top: 15px;
    	padding-bottom: 10px;
    }
    .dnnbooster .dropdown-menu .dropdown-item {
        padding: 0px;
        width: 70%;
        float: left;
        color: #000000;
        text-transform: uppercase;
    	font-family: Oswald, Tahoma, Arial, Helvetica, sans-serif;
    	padding-top: 10px;
    	padding-bottom: 10px;
    }
    .dnnbooster header .navbar .navbar-nav .nav-item .arrow {
		width: 100%;
		min-height: 15px;
		float: right;
		background: url(https://www.menarini.com/Portals/31/Skins/Menarini/assets/img/Icon/arrow_right_green.png) no-repeat right top;
		
	}
    .dnnbooster header .navbar .navbar-nav .nav-item .active .arrow { 
		background: url(https://www.menarini.com/Portals/31/Skins/Menarini/assets/img/Icon/arrow_down_green.png) no-repeat right top; 
	} 
    .dnnbooster header .navbar .navbar-nav .nav-item .dropdown-menu {
        border-top: 0px;
        background-color: aqua;
    }
    .dnnbooster header .navbar .navbar-nav .nav-item .dropdown-menu.livello2 {
        background-color: #e8e8e8;
        overflow: auto;
        width: 100%;
        margin-top: 25px;
        margin-bottom: -11px;
    }
    .dnnbooster header .navbar .navbar-nav .nav-item .dropdown-menu.livello2 li:hover {
        background-color: unset;
    }
    .dnnbooster header .navbar .navbar-nav .nav-item .dropdown-menu.livello2 li {
        overflow: auto;
        border-bottom: 1px solid #FFF;
    }
    .dnnbooster header .navbar .navbar-nav .nav-item .dropdown-menu.livello2 .dropdown-submenu .livello3 {
        background-color: #f2f2f2;
        overflow: auto;
        width: 100%;
        margin-left: 0px;
        margin-bottom: -1px;
    }
    .dnnbooster header .navbar .navbar-nav .nav-item .dropdown-menu.livello2 .dropdown-submenu .livello3 li {
        overflow: auto;
        border-bottom: 1px solid #c9c9c9;
    }
    .dnnbooster header .navbar .navbar-nav .nav-item .dropdown-menu.livello2 .dropdown-item:before {
		content: '\f068';
		color: #333333;
		font: normal normal normal 4px/1 FontAwesome;
		vertical-align: middle;
	}
	.dnnbooster header .navbar .navbar-nav .nav-item .dropdown-menu.livello2 .dropdown-item.inbreadcrumb{
		text-decoration: underline;
	}
    .dnnbooster header .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:focus, 
    .dnnbooster header .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
        background-color: unset;
	}
	.dnnbooster header .navbar .navbar-nav .nav-item .dropdown-menu.livello2 .dropdown-submenu .livello4 {
        background-color: #fbfbfb;
        overflow: auto;
        width: 100%;
        margin-left: 0px;
        margin-bottom: -1px;
    }
    .dnnbooster header .navbar .navbar-nav .nav-item .dropdown-menu.livello2 .dropdown-submenu .livello4 li {
        overflow: auto;
        border-bottom: 1px solid #c9c9c9;
	}
	.dnnbooster header .navbar .navbar-nav .nav-item .dropdown-menu.livello2 .dropdown-submenu .livello4 li a {
		color:#3D3D3D;
	}
	.mainMenuMobile ul li .dropdown-menu {
	  text-align: center;
	}
	.mainMenuMobile .countries a.readMore.white.onlyBorder {
		position: relative !important;
	}
	/*tabella pipeline innovazione e ricerca*/
	/*
	.VGPipeline .table .table_header_row .col,
	.VGPipeline .table .table_row .col,
	.VGPipeline .table .table_row .col span {
		width: 100%;
    	text-align: center !important;
    	min-height: 50px;
    	padding-top: 10px;
    	padding-bottom: 10px;
	}
	.VGPipeline .table .table_row .col.first {
	    border-right: 0px;
	    border-bottom: 1px solid #8F8D80;
	}
	.VGPipeline .table .col.fourth {
	    float: none;
	    width: 80%;
	    margin: 0px auto;
	}
	.VGPipeline .table .pipeline {
	    float: left;
	    width: 100%;
	    padding-top: 10px;
	    padding-bottom: 10px;
	}	*/
	.VGPipeline .table .table_header_row {
		display: none;
	}
	.VGPipeline .table_row .col {
	    min-height: 0px;
	}
	.VGPipeline .table .table_header_row .col,
	.VGPipeline .table .table_row .col{
		width: 70%;
		text-align: center !important;
		margin-left: 30%;
		padding-top: 10px;
    	padding-bottom: 10px;
	}
	.VGPipeline .table .table_row .col span {
		text-align: center;
		width: 100%;
	}
	.VGPipeline .table .table_row .col.first {
	    border-right: 0px;	    
	}
	.VGPipeline .table .table_row .col.first .title:empty { display: none }
	.VGPipeline .table .col.fourth {
	    width: 70%;
	    margin-left: 30%;
	}
	.VGPipeline .table .pipeline {
	    float: left;
	    width: 100%;
	    padding-top: 10px;
	    padding-bottom: 10px;
	}
	.VGPipeline .table .table_row .col.first:before,
	.VGPipeline .table .table_row .col.second:before,
	.VGPipeline .table .table_row .col.third:before,
	.VGPipeline .table .table_row .col.fourth:before,
	.VGPipeline .table .table_row .col.fifth:before {
	    display: block;
	    margin-left: -50%;
	    margin-top: 0px;
	    position: absolute;
	    max-width: 90px;
	}
	html[lang="en-us"] .VGPipeline div[id*="CompoundDiv"] .table .table_row .col.first:before {content:"Compound";}
	html[lang="en-us"] .VGPipeline div[id*="CompoundDiv"] .table .table_row .col.second:before {content:"Mechanism Of Action";}
	html[lang="en-us"] .VGPipeline div[id*="CompoundDiv"] .table .table_row .col.third:before {content:"Indication";}
	html[lang="en-us"] .VGPipeline div[id*="CompoundDiv"] .table .table_row .col.fourth:before {content:"Development Stage";}
	html[lang="en-us"] .VGPipeline div[id*="CompoundDiv"] .table .table_row .col.fifth:before {content:"";}

	html[lang="it-IT"] .VGPipeline div[id*="CompoundDiv"] .table .table_row .col.first:before {content:"Molecola";}
	html[lang="it-IT"] .VGPipeline div[id*="CompoundDiv"] .table .table_row .col.second:before {content:"Meccanismo d'azone";}
	html[lang="it-IT"] .VGPipeline div[id*="CompoundDiv"] .table .table_row .col.third:before {content:"Indicazione";}
	html[lang="it-IT"] .VGPipeline div[id*="CompoundDiv"] .table .table_row .col.fourth:before {content:"Fase di sviluppo";}
	html[lang="it-IT"] .VGPipeline div[id*="CompoundDiv"] .table .table_row .col.fifth:before {content:"";}

	html[lang="en-us"] .VGPipeline div[id*="IndicationDiv"] .table .table_row .col.first:before {content:"Indication";}
	html[lang="en-us"] .VGPipeline div[id*="IndicationDiv"] .table .table_row .col.second:before {content:"Mechanism Of Action";}
	html[lang="en-us"] .VGPipeline div[id*="IndicationDiv"] .table .table_row .col.third:before {content:"Compound";}
	html[lang="en-us"] .VGPipeline div[id*="IndicationDiv"] .table .table_row .col.fourth:before {content:"Development Stage";}
	html[lang="en-us"] .VGPipeline div[id*="IndicationDiv"] .table .table_row .col.fifth:before {content:"";}

	html[lang="it-IT"] .VGPipeline div[id*="IndicationDiv"] .table .table_row .col.first:before {content:"Indicazione";}
	html[lang="it-IT"] .VGPipeline div[id*="IndicationDiv"] .table .table_row .col.second:before {content:"Meccanismo d'azone";}
	html[lang="it-IT"] .VGPipeline div[id*="IndicationDiv"] .table .table_row .col.third:before {content:"Molecola";}
	html[lang="it-IT"] .VGPipeline div[id*="IndicationDiv"] .table .table_row .col.fourth:before {content:"Fase di sviluppo";}
	html[lang="it-IT"] .VGPipeline div[id*="IndicationDiv"] .table .table_row .col.fifth:before {content:"";}

	/*fine pipeline I&R*/

	/*tabella pipeline clinicaltrials*/
	html[lang="en-us"] .VGPipeline.clinicaltrials .table .table_row .col.first:before {content:"Medical Condition";}
	html[lang="en-us"] .VGPipeline.clinicaltrials .table .table_row .col.second:before {content:"Compound";}
	html[lang="en-us"] .VGPipeline.clinicaltrials .table .table_row .col.third:before {content:"Phase";}
	html[lang="en-us"] .VGPipeline.clinicaltrials .table .table_row .col.fourth:before {content:"Status";}
	html[lang="en-us"] .VGPipeline.clinicaltrials .table .table_row .col.fifth:before {content:"Requirements";}
	html[lang="en-us"] .VGPipeline.clinicaltrials .table .table_row .col.sixth:before {content:"Sponsor";}
	html[lang="en-us"] .VGPipeline.clinicaltrials .table .table_row .col.seventh:before {content:" ";}

	html[lang="it-IT"] .VGPipeline.clinicaltrials .table .table_row .col.first:before {content:"Medical Condition";}
	html[lang="it-IT"] .VGPipeline.clinicaltrials .table .table_row .col.second:before {content:"Compound";}
	html[lang="it-IT"] .VGPipeline.clinicaltrials .table .table_row .col.third:before {content:"Phase";}
	html[lang="it-IT"] .VGPipeline.clinicaltrials .table .table_row .col.fourth:before {content:"Status";}
	html[lang="it-IT"] .VGPipeline.clinicaltrials .table .table_row .col.fifth:before {content:"Requirements";}
	html[lang="it-IT"] .VGPipeline.clinicaltrials .table .table_row .col.sixth:before {content:"Sponsor";}
	html[lang="it-IT"] .VGPipeline.clinicaltrials .table .table_row .col.seventh:before {content:" ";}

	.VGPipeline .buttons,
	.VGPipeline.clinicaltrials .buttons {
		text-align: center;
		width: 100%;
	}
	.VGPipeline .buttons a.first,
	.VGPipeline .buttons a.second,
	.VGPipeline.clinicaltrials .buttons a.first,
	.VGPipeline.clinicaltrials .buttons a.second, 
	.VGPipeline.clinicaltrials .buttons a.third, 
	.VGPipeline.clinicaltrials .buttons a.fourth, 
	.VGPipeline.clinicaltrials .buttons a.fifth, 
	.VGPipeline.clinicaltrials .buttons a.sixth,
	.VGPipeline.clinicaltrials .buttons a.seventh {
	    margin: 5px auto;
	    float: unset;
	    display: block;
	    width: fit-content;
	    width: -moz-fit-content;
	}
	.VGPipeline.clinicaltrials .table .col.first,
	.VGPipeline.clinicaltrials .table .col.second,
	.VGPipeline.clinicaltrials .table .col.third,
	.VGPipeline.clinicaltrials .table .col.fourth,
	.VGPipeline.clinicaltrials .table .col.fifth,
	.VGPipeline.clinicaltrials .table .col.sixth {
		width: 70%;
	}
	.VGPipeline.clinicaltrials .table .table_row .col.first:before,
	.VGPipeline.clinicaltrials .table .table_row .col.second:before,
	.VGPipeline.clinicaltrials .table .table_row .col.third:before,
	.VGPipeline.clinicaltrials .table .table_row .col.fourth:before,
	.VGPipeline.clinicaltrials .table .table_row .col.fifth:before {
	    left: 15px;
	    max-width: 120px;
	    text-align: left;
	}
	.VGPipeline .table .table_header_row .col,
	.VGPipeline .table .table_row .col{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.VGPipeline.clinicaltrials .table .table_row span.male, 
	.VGPipeline.clinicaltrials .table .table_row span.female {
		display: block;
		float: left;
		width: 70px;
	}
	.VGPipeline.clinicaltrials .table .col.seventh,
	.VGPipeline.clinicaltrials .table .col.ninth {
		margin-left: 0px;
		width: 100%;
	}
	/*fine pipeline clinicaltrials*/
}
/* END: max-width: 992px *************************************************/

@media (max-width: 768px) {
	/*----- login -----*/
	.LoginPanel {
		width: 100%;
		padding: 15px;
	}
	/*----------*/
	
	#Breadcrumb,
	.noContent {
        display: none
	}
	.InternalStandardRow .container-fluid.firstMobileRow {
		margin-top: 150px;
	}

	/*-----search----*/
	#search.float-right { display: none; }
	#searchmobile {
		display: block;
		background: #eeefee;
		padding: 15px;
	}
    
    /*----- goTopLink -----*/
    #Bottom4PaneWrapper .goTop {
    	display: block;
    	clear: both;
    	float: right;
    	padding-right: 15px;
    	padding-bottom: 15px;
    }
    #Bottom4PaneWrapper .goTop a {
    	color: #666666;
    }
    /*----- green_text_over_image -----*/
    span.green_text_over_image {
    	padding-left: 5%;
    	padding-right: 5%;
    	width: 100%;
    	margin-left: 0px;
    	margin-right: 0px;
    }
    /*--------- footer mobile ---------*/
    .dnnbooster footer .container {
    	background: #ECECEC;
	}
	.footerData a:link, .footerData a:visited {
    	color: #707070 !important;
	}
    .footerData {
    	width: 100%;
    	float: left;
		background-color: #FFFFFF;
		column-count: 1;
		-webkit-column-count: 1; /* Chrome, Safari, Opera */
		-moz-column-count: 1; /* Firefox */
    }
    .footerImg {
    	width: 100%;
    	float: left;
    	text-align: center;
    	padding: 25px;
    }
    .footerData ul {
    	padding-left: 20px;
    }
    .footerData li {
	    border-left: 0px;
	    padding: 15px 15px 15px 20px;
	    border-left: 1px solid #007881;
	}
	.footerData li:after {
		content: "Â»";
		font-family: Tahoma, Arial, Helvetica, sans-serif;
		padding-left: 10px;
		font-size: 16px;
	}
	.footerData a {
		font-size: 20px;
	}
	.footerData a:after {
		content: none;
		float: right;
	}
	
	/*----- uppercontent -----*/
	.uppercontent { 
		margin-top: 40px;
	}
	/*---- content3Box -----*/
	#Content3Box #dnn_Content3Box1Pane,
	#Content3Box #dnn_Content3Box2Pane,
	#Content3Box #dnn_Content3Box3Pane {
		padding-left: 0px;
		padding-right: 0px;
	}
	#dnn_Content3Box1Pane, #dnn_Content3Box2Pane, #dnn_Content3Box3Pane { width: 100%; float: left; }
	/*----- content4Box -----*/
	#Content4Box .layoutContainer .row .pane {
		padding: 3px 3px;
		max-width: 50%;
    	flex: 50%;
	}
	#Content4Box .container {
		margin-top: 15px;
	}
	#Content4Box .layoutContainer .row .pane .big_text { padding-top: 7%; font-size: 3.5vw;}
	#Content4Box .layoutContainer .row .pane h2 { padding-top: 20%; font-size: 4.2vw;}
	#Content4Box .layoutContainer .row .pane .small_text { font-size: 2.8vw; }
	/*----- bottomPaneWrapper -----*/
	#BottomPaneWrapper p {
		line-height: 38px;
    	font-size: 28px;
	}
	/*----- bottom3PaneWrapper -----*/
	#dnn_Bottom3Box1Pane, 
	#dnn_Bottom3Box2Pane, 
	#dnn_Bottom3Box3Pane, 
	#dnn_Bottom4Box1Pane, 
	#dnn_Bottom4Box2Pane, 
	#dnn_Bottom4Box3Pane, 
	#dnn_Bottom4Box4Pane {
		padding: 20px 0px;
	}
	#dnn_Bottom3Box1Pane, #dnn_Bottom3Box2Pane, #dnn_Bottom3Box3Pane { width: 100%; float: left; }
	#dnn_Bottom4Box1Pane, #dnn_Bottom4Box2Pane, #dnn_Bottom4Box3Pane, #dnn_Bottom4Box4Pane { width: 100%; float: left; }
	/*----- customMenu -----*/
	p.custom_menu {
		width: 100%;
	}
	/*----- dnn_InnerBottom2Pane -----*/
	#dnn_InnerBottom2Pane {
		padding-left: 0px;
		padding-right: 0px;
	}
	/*----- eds_news_NewsOne -----*/
	.eds_news_NewsOne .article.in_list.span {
		max-width: 100%;
		width: 100%;
		min-height: auto;
	}
	.eds_news_NewsOne .article.in_list.span:nth-child(odd) {
		margin-right: 0%;
	}
	.eds_news_NewsOne .article.in_list .article_date {
		margin-bottom: 5px;
	}
	.eds_news_NewsOne .article .open_article_btn {
		position: relative;
		float: left;
		margin-top: 15px;
	}
	/*----- .bstrap3-material.kontact -----*/
	#contentWrapper .bstrap3-material.kontact .row,
	#contentWrapper .bstrap3-material.kontact .form-horizontal .form-group {
		margin-left: 0px;
		margin-right: 0px;
	}
	.bstrap3-material.kontact .c-form .form-group {
		margin-bottom: 0px;
	}
	#contentWrapper .bstrap3-material.kontact .form-horizontal .form-group .field-container input.form-control {
		width: 100%;
		max-width: 100% !important;
		height: 40px;
	}
	#contentWrapper .bstrap3-material.kontact .form-horizontal .control-label {
		margin-bottom: 5px;
	}
	/*----- ModActionFormC -----*/
	#contentWrapper .ModActionFormC .row {
		margin-left: 20px;
    	margin-right: 20px;
	}
	.bstrap3-material .form-group-privacy-text.privacy-text-2.col-sm-12, .form-group-privacy-kontakt {
		margin: 0px;
		padding: 15px !important;
	}
	.bstrap3-material .form-group-privacy-text.privacy-text-2.col-sm-12 p, .form-group-privacy-kontakt p {
		margin-bottom: 0px !important;
	}
	.bstrap30 .form-horizontal .col-sm-6 {
		width: 100%;
		max-width: 100%;
	}
	.bstrap30 .form-horizontal .formPersonalizzato {
		clear: both;
	}
	
	/*----- -----*/
	#dnn_plnav li.depth-0:nth-child(2n),
	#dnn_plnav li.depth-0:nth-child(2n+1) {
		width: 100%;
	}
	#dnn_plnav li.depth-0:nth-child(2n) {
		margin-left: 0px;
	}

	/*----- -----*/
	#dnn_SidebarBottomPane {
		width: 100%;
	}
	/*----------*/
	.row.topbar a.worldwide_link { padding-right: 0px !important; }
	
	#Content1Box .wrapper { 
		margin: 15px 0px 15px 0px; 
	}
	#Content1Box img { max-width: 100%; text-align: center; }
	#Content1Box h2 { width: 100%; text-align: center; }
	#Content1Box p { width: 100%; text-align: center; }
	
	#Content2Box #dnn_1F24_Pane2 .DnnModule { 
		max-width: 100%; 
		margin: 20px 0px; 
	}
	div.pharma-form-related-file-fi, 
	div.pharma-form-related-file-gi, 
	div.pharma-form-related-file-man, 
	div.pharma-form-related-file-ai, 
	div.pharma-form-related-file-pi,
	div.pharma-form-related-file-f4 {
		margin-bottom: 35px;
	}
	#dnn_SidebarTopPane { display: none; }
	#contentWrapper { padding-top: 15px; }
	#contentWrapper .col, #contentWrapper .col-1, #contentWrapper .col-10, #contentWrapper .col-11, #contentWrapper .col-12, #contentWrapper .col-2, #contentWrapper .col-3, #contentWrapper .col-4, #contentWrapper .col-5, #contentWrapper .col-6, #contentWrapper .col-7, #contentWrapper .col-8, #contentWrapper .col-9, #contentWrapper .col-auto, #contentWrapper .col-lg, #contentWrapper .col-lg-1, #contentWrapper .col-lg-10, #contentWrapper .col-lg-11, #contentWrapper .col-lg-12, #contentWrapper .col-lg-2, #contentWrapper .col-lg-3, #contentWrapper .col-lg-4, #contentWrapper .col-lg-5, #contentWrapper .col-lg-6, #contentWrapper .col-lg-7, #contentWrapper .col-lg-8, #contentWrapper .col-lg-9, #contentWrapper .col-lg-auto, #contentWrapper .col-md, #contentWrapper .col-md-1, #contentWrapper .col-md-10, #contentWrapper .col-md-11, #contentWrapper .col-md-12, #contentWrapper .col-md-2, #contentWrapper .col-md-3, #contentWrapper .col-md-4, #contentWrapper .col-md-5, #contentWrapper .col-md-6, #contentWrapper .col-md-7, #contentWrapper .col-md-8, #contentWrapper .col-md-9, #contentWrapper .col-md-auto, #contentWrapper .col-sm, #contentWrapper .col-sm-1, #contentWrapper .col-sm-10, #contentWrapper .col-sm-11, #contentWrapper .col-sm-12, #contentWrapper .col-sm-2, #contentWrapper .col-sm-3, #contentWrapper .col-sm-4, #contentWrapper .col-sm-5, #contentWrapper .col-sm-6, #contentWrapper .col-sm-7, #contentWrapper .col-sm-8, #contentWrapper .col-sm-9, #contentWrapper .col-sm-auto, #contentWrapper .col-xl, #contentWrapper .col-xl-1, #contentWrapper .col-xl-10, #contentWrapper .col-xl-11, #contentWrapper .col-xl-12, #contentWrapper .col-xl-2, #contentWrapper .col-xl-3, #contentWrapper .col-xl-4, #contentWrapper .col-xl-5, #contentWrapper .col-xl-6, #contentWrapper .col-xl-7, #contentWrapper .col-xl-8, #contentWrapper .col-xl-9, #contentWrapper .col-xl-auto {
		padding-right: 0px;
		padding-left: 0px;
	}
	.container { max-width: 100%; }
	#contentWrapper .right { float: left; max-width: 100%;}

	/*----- styles in content -----*/
	table.table-herstellung{
		font-size: 12px;
	}
	.box_with_background .DNNModuleContent.ModDNNHTMLC > div { padding: 30px 20px 45px 20px; }
	/*----- styles contact us -----*/
	.boxAreas {
		margin-top: 20px;
    	margin-bottom: 20px;
	}
	.boxAreas .textContent6Box h2 {
		font-size: 30px;
	}
	    

}
/* END: max-width: 768px *************************************************/

@media (max-width: 767px){
	#Form > div.dnnbooster.home.de-DE > header > div > nav > div > div.navbar-brand.float-left {
		max-width: 70%;
	}
}
/* END: max-width: 767px *************************************************/

@media (max-width: 570px) {
	#Content4Box .layoutContainer .row .pane { max-width: 100%; flex: 100%; }

	#Content4Box .layoutContainer .row .pane .big_text { padding-top: 20%; font-size: 5vw;}
	#Content4Box .layoutContainer .row .pane h2 { padding-top: 30%; font-size: 7vw;}
	#Content4Box .layoutContainer .row .pane .small_text { font-size: 4vw; }
}
/* END: max-width: 570px *************************************************/

@media (max-width: 500px) {
	.legal-footer .row {
		display: block;
	}
	.legal-footer .row > div {
		width: 100%;
	}
}
/* END: max-width: 500px *************************************************/


/******** per modalitÃ  edit pagina, per consentire edit di contenuti nascosti ********/
@media (min-width: 995px){
	body.dnnEditState #dnnbootsterNav.collapse {
		display: block !important;
	}
	body.dnnEditState #dnnbootsterNav #searchmobile,
	body.dnnEditState #dnnbootsterNav .navbar-nav{
		display: none;
	}
}

/**************** offcanvas navbar ****************/
body{
	overflow-x: hidden !important;
	max-width: 100vw;
}
.offcanvas_navbar{
	position: fixed;
	left: 100%;
	top: 0px;
	width: 100vW;
	height: 100vh;
	background-color: #ffffff;
	transition: left 0.8s ease-in;
	z-index: 99;
	padding-top: 100px;
	display: none;
	overflow-y: auto;
}
@media (max-width: 992px) {
	.offcanvas_navbar{
		display: block;
	}
}
#navbarNavDropdownMobile{
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}
.offcanvas_navbar .navbar{
	padding: 0px;
}
.offcanvas_navbar .navbar-nav{
	text-align: center;
	margin-left: 0px;
}
.offcanvas_navbar .navbar-nav .nav-item{
	margin-top: 4px;
	margin-bottom: 4px;
}
.offcanvas_navbar .navbar-nav .nav-item > a{
	text-transform: uppercase;
	font-size: 16px;
	font-family: Oswald, Tahoma, Arial, Helvetica, sans-serif;
	/*color: #2A2741 !important;*/
	color: #143F59 !important;
}

/** dropdown menu */
.offcanvas_navbar .navbar-nav .dropdown-menu {
	top: 100px;
	position: fixed;
	height: calc(100vh - 100px);
	width: 100vw;
	border-radius: 0px;
	left: 100%;
	transition: left 0.8s ease-in;
	border: 0px;
	background-color: #f7f6f4;
	display: block;
	overflow-y: auto;
	padding-top: 1.5em;
	margin-top: 0px;
}
.offcanvas_navbar .navbar-nav .dropdown-menu > div{
	position: initial;
}

/**** offcanvas aperto ****/
body.mobile_mainmenu_opened .offcanvas_navbar{
	left: 0%;
	z-index: 100;
}
/* cambia colore icona */
body.mobile_mainmenu_opened .navbar-toggler .navbar-toggler-icon::after{
	background-color: rgba(42, 39, 65, 1);
}
/* rende visibile logo scuro */
body.mobile_mainmenu_opened header #dnn_LOGO1_hypLogo > img {
	visibility: visible;
}
/* cambia colore headermenu */
body.mobile_mainmenu_opened .container-fluid.headerMenu{
	background-color: #ffffff;
}

/**** dropdown aperto ****/
.offcanvas_navbar .navbar-nav .dropdown-menu.show {
	left: 0%;
}

/**** comuni ai menu ****/
.offcanvas_navbar .navbar-nav .dropdown-menu .dropdown-menu-title{
	font-size: 24px;
	font-family: Oswald, Arial, Tahoma, Helvetica, sans-serif;
	font-weight: 200;
	text-transform: uppercase;
	text-align: center;
	line-height: 1.6;
	margin: 0px;
	margin-bottom: 10px;
}

/**** main menu ****/
#navbarNavDropdownMobile .imgMenu {
	position: relative;
	margin-top: 40px;
	margin-bottom: 30px;
}
#navbarNavDropdownMobile .imgMenu a {
	display: block;
}
#navbarNavDropdownMobile .imgMenu img {
	height: unset !important;
	width: 100%;
}
#navbarNavDropdownMobile .imgMenu h2 {
	position: absolute;
	color: #FFF;
	bottom: 0px;
	left: 20px;
	font-size: 2.5vw;
	font-family: Oswald, Arial, Tahoma, Helvetica, sans-serif;
	font-weight: 200;
	padding-right: 20px;
	width: calc(100% - 20px);
}
@media (max-width: 768px){ 
	#navbarNavDropdownMobile .imgMenu h2 {
		font-size: 30px;
	}
}
#navbarNavDropdownMobile h5 {
    font-weight: 400;
    font-family: Oswald, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#navbarNavDropdownMobile p {
	font-weight: 400;
	font-family: 'Arimo', sans-serif;
	font-size: 16px;
	line-height: 25px;
	color: #484542;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#navbarNavDropdownMobile ul.nav-list {
	list-style-image: url('/portals/31/Images/icons/listMenuBoxRed.svg');
	margin-bottom: 30px;
}
#navbarNavDropdownMobile ul.nav-list li {
	margin-bottom: 5px;
}
#navbarNavDropdownMobile ul.nav-list a {
	/*color: #2A2741;*/
	color: #143F59;
	text-transform: uppercase;
	font-size: 16px;
	font-family: Oswald, Tahoma, Arial, Helvetica, sans-serif;
	padding-left: 0px;
	padding-right: 0px;
}
#navbarNavDropdownMobile .search_product_link_container {
	/*border-top: 1px solid #2A2741;*/
	border-top: 1px solid #143F59;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 20px;
}
#navbarNavDropdownMobile .ricercaLinkMenu {
	padding-top: 15px;
	padding-bottom: 15px;
}
#navbarNavDropdownMobile .ricercaLinkMenu .readMore {
	margin-left: 30px;
}
#navbarNavDropdownMobile .RedInternal {
	margin-top: 40px;
	border-left: 1px solid #B6B59C;
    padding-top: 30px;
    padding-bottom: 30px;
}
#navbarNavDropdownMobile .RedInternal p {
	font-size: 20px;
	font-family: Oswald, Tahoma, Arial, Helvetica, sans-serif;
	padding-top: 30px;
	padding-bottom: 30px;
}
@media (max-width: 768px){ 
	#navbarNavDropdownMobile .RedInternal {
		border-left: 0px;
		border-top: 1px solid #B6B59C;
		padding-left: 0px;
	}
}

/**** top menu ****/
#UpperNavbarNavDropdownMobile{
	width: 100%;
	background-color: #f7f6f4;
	padding-top: 20px;
	padding-bottom: 20px;
}
#UpperNavbarNavDropdownMobile .navbar-nav .nav-link:hover {
	background: #f7f6f4;
}
#UpperNavbarNavDropdownMobile .navbar-nav .nav-item.dropdown.show:after { 
	content: unset; 
}
#UpperNavbarNavDropdownMobile .navbar-nav .nav-item .dropdown-menu {
	/*background-color: #2a2741 !important;*/
	background-color: #143F59 !important;
}
#UpperNavbarNavDropdownMobile .navbar-brand img{
	max-width: 165px !important;
	height: auto !important;
	position: relative;
	top:2px;
}
.dnnbooster #UpperNavbarNavDropdownMobile .navbar-brand {
	margin-bottom: 40px;
}
#UpperNavbarNavDropdownMobile h1,
#UpperNavbarNavDropdownMobile h3,
#UpperNavbarNavDropdownMobile h4,
#UpperNavbarNavDropdownMobile h5 {
	color: #FFF;
}
#UpperNavbarNavDropdownMobile h1 {
    text-transform: uppercase;
}
#UpperNavbarNavDropdownMobile h4 {
	font-weight: 200;
	font-family: Oswald, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 22px;
}
#UpperNavbarNavDropdownMobile h5 {
	font-family: Oswald, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: 400;
}
#UpperNavbarNavDropdownMobile h4,
#UpperNavbarNavDropdownMobile .readMore.white {
	display: inline-table;
}
#UpperNavbarNavDropdownMobile .informationAbout h4,
#UpperNavbarNavDropdownMobile .reportProblem h4 {
	padding: 30px;
    min-height: 100px;
    max-width: 80%;
    margin: 15px auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FFF;
    background-color: unset;
}
#UpperNavbarNavDropdownMobile .mainAreaBox {
	margin: 40px 0px;
	border-right: 1px solid #FFF;
	display: flex;
	position: relative;
}
#UpperNavbarNavDropdownMobile .mainAreaBox img {
    max-width: 200px;
    height: auto !important;
    float: left;
    padding-right: 20px;
}
#UpperNavbarNavDropdownMobile .readMore.white {
    position: absolute;
    bottom: 0px;
    left: 200px;
}
#UpperNavbarNavDropdownMobile .countries {
	margin: 40px 0px;
}
#UpperNavbarNavDropdownMobile .countries h4 {
	display: block;
	font-family: Oswald, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 45px;
}
#UpperNavbarNavDropdownMobile .countries ul {
	list-style: none;
	margin-left: 0px;
}
#UpperNavbarNavDropdownMobile .countries p {
	color: #FFF;
	font-family: 'Arimo', sans-serif;
}
#UpperNavbarNavDropdownMobile .countries .darkRedBG:nth-child(1) {
    margin-top: 50px;
}
#UpperNavbarNavDropdownMobile .darkRedBG {
    background-color: #b32834;
}
#UpperNavbarNavDropdownMobile .countries .darkRedBG {
	padding: 10px 60px 10px 20px;
	margin-bottom: 0px;
	position: relative;
	line-height: 1.2;
	font-size: 25px;
}
#UpperNavbarNavDropdownMobile .countries .darkRedBG img {
	right: 20px;
	top: 45%;
    position: absolute;
}
#UpperNavbarNavDropdownMobile .countries .readMore.white {
	left: 15px;
	width: calc(100% - 30px);
	line-height: 2;
}
#UpperNavbarNavDropdownMobile .countries .readMore.white img {
	max-width: 30px;
	float: right;
}
#UpperNavbarNavDropdownMobile .Topics {
	margin: 40px 0px;
	box-sizing: border-box;
    width: 25%;
}
#UpperNavbarNavDropdownMobile .Topics img {
	margin-bottom: 20px;
}
#UpperNavbarNavDropdownMobile .Topics .readMore {
	margin-left: 0px;
	padding-left: 0px;
	font-size: 20px !important;
	font-weight: 300
}
#UpperNavbarNavDropdownMobile .Topics .readMore img {
	margin-bottom: 5px;
	margin-left: 20px;
}
#UpperNavbarNavDropdownMobile .Topics ul {
	list-style: none;
	margin: 0px;
}
#UpperNavbarNavDropdownMobile .Topics#Topics4{
	border-left: 1px #FFF solid;
    padding-left: 30px;
    margin-left: 30px;
    max-width: 250px;
}
#UpperNavbarNavDropdownMobile .Topics#Topics4 ul {
	margin-left: 0px;
}
#UpperNavbarNavDropdownMobile .container-fluid.darkRedBG .Search {
    margin-top: 50px;
}
#UpperNavbarNavDropdownMobile .informationAbout .col-md-3.darkRedBG,
#UpperNavbarNavDropdownMobile .reportProblem .col-md-3.darkRedBG {
	padding: 30px;
	min-height: 180px;
	text-align: center;
	display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width: 768px){
	#UpperNavbarNavDropdownMobile .informationAbout .col-md-3.darkRedBG,
	#UpperNavbarNavDropdownMobile .reportProblem .col-md-3.darkRedBG {
		min-height: 100px;
	}
}
#UpperNavbarNavDropdownMobile .reportProblem {
	margin-top: 40px;
}
#UpperNavbarNavDropdownMobile .informationAbout .ContactUs,
#UpperNavbarNavDropdownMobile .reportProblem .ContactUs {
	margin-bottom: 30px;
}

/****** icona animata apertura/chiusura menu ******/

.btn-navbar-toggler {
	position: absolute;
	top: 50%;
	right: -2%;
	transform: translate(-50%, -50%);
	width: 35px;
	cursor: pointer;
	margin-top: -30px;
}
.btn-navbar-toggler span {
	display: block;
	width: 100%;
	/*box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);*/
	border-radius: 0px;
	height: 2px;
	background: #fff;
	transition: all .3s;
	position: relative;
}
.scrolled-page .btn-navbar-toggler span {
	background-color: rgba(42, 39, 65, 1);
}
.btn-navbar-toggler span + span {
	margin-top: 6px;
}
.mobile_mainmenu_opened .btn-navbar-toggler span:nth-child(1) {
	animation: ease .7s top forwards;
	background-color: rgba(42, 39, 65, 1);
}
.btn-navbar-toggler span:nth-child(1) {
	animation: ease .7s top-2 forwards;
}
.mobile_mainmenu_opened .btn-navbar-toggler span:nth-child(2) {
	animation: ease .7s scaled forwards;
}
.btn-navbar-toggler span:nth-child(2) {
	animation: ease .7s scaled-2 forwards;
}
.mobile_mainmenu_opened .btn-navbar-toggler span:nth-child(3) {
	animation: ease .7s bottom forwards;
	background-color: rgba(42, 39, 65, 1);
}
.btn-navbar-toggler span:nth-child(3) {
	animation: ease .7s bottom-2 forwards;
}

@keyframes top {
	0% {
		top: 0;
		transform: rotate(0);
	}
	50% {
		top: 11px;
		transform: rotate(0);
	}
	100% {
		top: 11px;
		transform: rotate(45deg);
	}
}

@keyframes top-2 {
	0% {
		top: 11px;
		transform: rotate(45deg);
	}
	50% {
		top: 11px;
		transform: rotate(0deg);
	}
	100% {
		top: 0;
		transform: rotate(0deg);
	}
}

@keyframes bottom {
	0% {
		bottom: 0;
		transform: rotate(0);
	}
	50% {
		bottom: 5px;
		transform: rotate(0);
	}
	100% {
		bottom: 5px;
		transform: rotate(135deg);
	}
}

@keyframes bottom-2 {
	0% {
		bottom: 5px;
		transform: rotate(135deg);
	}
	50% {
		bottom: 5px;
		transform: rotate(0);
	}
	100% {
		bottom: 0;
		transform: rotate(0);
	}
}

@keyframes scaled {
	50% {
		transform: scale(0);
	}
	100% {
		transform: scale(0);
	}
}

@keyframes scaled-2 {
	0% {
		transform: scale(0);
	}
	50% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}


/****** icona animata apertura/chiusura sotto-menu ******/

.dropdown-menu-toggler {
	position: absolute;
	top: 44px;
	left: 5.8%;
	transform: translate(-50%, -50%);
	width: 35px;
	cursor: pointer;
	display: block;
	z-index: 100;
}
.dropdown-menu-toggler span {
	display: block;
	width: 100%;
	/*box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);*/
	border-radius: 0px;
	height: 2px;
	background-color: rgba(42, 39, 65, 1);
	transition: all .3s;
	position: relative;
}
#UpperNavbarNavDropdownMobile .dropdown-menu-toggler span {
	background-color: #ffffff;
}
.dropdown-menu-toggler span + span {
	margin-top: -2px;
}
.dropdown-menu.show .dropdown-menu-toggler span:nth-child(1) {
	animation: ease 1.7s dropdown-top forwards;
}
.dropdown-menu-toggler span:nth-child(1) {
	animation: ease 1.7s dropdown-top-2 forwards;
}
.dropdown-menu.show .dropdown-menu-toggler span:nth-child(2) {
	animation: ease 1.7s dropdown-bottom forwards;
}
.dropdown-menu-toggler span:nth-child(2) {
	animation: ease 1.7s dropdown-bottom-2 forwards;
}

@keyframes dropdown-top {
	0% {
		top: 0;
		transform: rotate(0);
	}
	50% {
		top: 0px;
		transform: rotate(0);
	}
	100% {
		top: 0px;
		transform: rotate(45deg);
	}
}

@keyframes dropdown-top-2 {
	0% {
		top: 0px;
		transform: rotate(45deg);
	}
	50% {
		top: 0px;
		transform: rotate(0deg);
	}
	100% {
		top: 0;
		transform: rotate(0deg);
	}
}

@keyframes dropdown-bottom {
	0% {
		bottom: 0;
		transform: rotate(0);
	}
	50% {
		bottom: 0px;
		transform: rotate(0);
	}
	100% {
		bottom: 0px;
		transform: rotate(135deg);
	}
}

@keyframes dropdown-bottom-2 {
	0% {
		bottom: 0px;
		transform: rotate(135deg);
	}
	50% {
		bottom: 0px;
		transform: rotate(0);
	}
	100% {
		bottom: 0;
		transform: rotate(0);
	}
}

/****** footer mobile tools ******/

#footer-mobile-tools{
	display: block;
	position: fixed;
	bottom: -60px;
	left: 0px;
	transition: bottom 0.6s ease-in;
	width: 100%;
	background-color: #F7F6F4;
	padding-top: 10px;
	padding-bottom: 10px;
}
#footer-mobile-tools .footer_mobile_tools_content .Title{
	font-family: Oswald, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: 300;
	text-transform: uppercase;
}
#footer-mobile-tools .footer_mobile_tools_content .share-menu-link a i:before{
	color: #F5333F;
	margin-top: -16px;
	float: left;
}
#footer-mobile-tools .footer_mobile_tools_content .share-menu-link a span{
	font-family: Oswald, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 300;
}
#footer-mobile-tools .scroll_to_top_link{
	background-image: url("https://www.menarini.com/Portals/31/Skins/Menarini/assets/img/scroll_to_top_arrow.svg");
	background-position: right center;
	background-repeat: no-repeat;
	background-size: auto 145%;
	padding-right: 32px;
}
#footer-mobile-tools .scroll_to_top_link span{
	font-size: 11px;
	line-height: 2;
}
@media (max-width: 992px){ 
	body .dnnbooster footer{
		margin-bottom: 50px;
	}
	body.scrolled-page #footer-mobile-tools{
		bottom: 0px;
	}
}
@media (max-width: 520px){ 
	#footer-mobile-tools .footer_mobile_tools_content .Title{
		font-size: 14px;
	}
	#footer-mobile-tools .footer_mobile_tools_content .share-menu-link a span{
		font-size: 14px;
	}
	#footer-mobile-tools .scroll_to_top_link span{
		display: none;
	}
}