@font-face {
    font-family: 'Figtree';
    src: url('/etc.clientlibs/relife/clientlibs/clientlib-site/resources/fonts/Figtree-VariableFont_wght.ttf') format('woff2-variations');
    font-weight: 300 900; /* Intervallo dei pesi */
}

@font-face {
    font-family: 'Vermiglione';
    src: url('/etc.clientlibs/relife/clientlibs/clientlib-site/resources/fonts/vermiglione_it.ttf') format('woff2-variations');
    font-weight: 200 700; /* Intervallo dei pesi */
}
