<section class="card-grid-container">
  <sly data-sly-test="${properties['jcr:title']}">
    <h2 class="card-grid-container__title">${properties['jcr:title']}</h2>
  </sly>
  <sly data-sly-test="${properties['jcr:description']}">
    <p class="card-grid-container__description">
      ${properties['jcr:description']}
    </p>
  </sly>
  <div class="card-grid-container__children">
    <sly
      data-sly-resource="${resource @ resourceType='wcm/foundation/components/responsivegrid'}"
    ></sly>
  </div>
</section>
