.cardHover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px auto;
    transition: 0.5s;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 20px auto;
    

    * {
        display: flex;
        //transition: 0.5s;
    }

    .cmp-teaser {
        position: relative;
        justify-content: center;
        align-items: center;

        .cmp-teaser__content {
            position: absolute;
            flex-direction: column;
            align-items: center;
            color: $white;
            z-index: 100;

            .cmp-teaser__title {
                text-transform: uppercase;
                font-family: $font-family-Libre;
                font-weight: $bold;
                font-style: normal;
                font-size: 20px;
                text-align: center;
            }

            .cmp-teaser__description {
                display: none;
                text-transform: uppercase;
                font-family: $font-family;
                font-weight: 400;
                font-style: normal;
                font-size: 16px;
				text-align: center;
				padding: 0 5%;
                &:hover {
                    display: flex;
                }
            }
            @media (max-width: 768px) {
                .cmp-teaser__description {
                    display: none;
                    &:hover {
                        display: none;
                    }
                }
            }

            .cmp-teaser__action-container {
                display: none;
                transition: 0.5s;
                position: relative;
                height: 75px;
                margin-bottom: -35px;
                font-family: $font-family;
                min-width: 325px;
                cursor: pointer;
                padding-left: 20px;
                padding-right: 80px;
                transition: transform .5s ease;
                border: 0px;
                background-color: unset;
                border: 2px solid $white;
                justify-content: left;
                align-items: center;

                .cmp-teaser__action-link {
                    color: $white;
                    line-height: 30px;
                    font-weight: $bold;
                    font-size: 20px;
                    text-decoration: none;

                    &::after {
                        background-image: url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/icons/icon-document.svg');
                        content: '';
                        position: absolute;
                        top: 50%;
                        right: 27px;
                        transform: translate(0%, -50%);
                        -webkit-transform: translate(0%, -50%);
                        display: flex;
                        height: 45px;
                        width: 45px;
                        background-color: $white;
                        border-radius: 50%;
                        background-repeat: no-repeat;
                        background-size: 40px;
                        background-position: center;
                    }
                }
            }
        }
        @media (max-width: 576px) {.cmp-teaser__content{zoom: 70%;}}
        @media (max-width: 375px) {.cmp-teaser__content{zoom: 60%;}}
		@media (max-width: 320px) {.cmp-teaser__content{zoom: 50%;}}

        .cmp-teaser__image {
            position: relative;
            overflow: hidden;
            height: 90%;

            .cmp-image {
                

                &::after {
                    content: " ";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    opacity: 0.5;
                    transform: scaleY(-1);
                    background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.79) 100%);
                }

                img {
                    
                }
            }
        }

    }

    &.red {
        .cmp-teaser__image {
            position: relative;

            .cmp-image {
                &::after {
                    content: " ";
                    background-color: $primary-color-three;
                }

                img {}
            }
        }
    }

    &.blue {
        .cmp-teaser__image {
            position: relative;

            .cmp-image {
                &::after {
                    background-color: $secondary-color-three;
                }
                img {}
            }
        }
    }

    &:hover {        
        
        .cmp-teaser__content {
            .cmp-teaser__action-container {
            }
        }
        .cmp-teaser__image {
            .cmp-image {
                
            }
        }
    }
    @media (min-width: 992px) {
        &:hover {
            width: 80%;
            height: 755px;
            
            .cmp-teaser__content {
                .cmp-teaser__action-container {
                    display: flex;
                }
            }
            .cmp-teaser__image {
                .cmp-image {
                    
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .cardHover {
        margin: 0;
        .cmp-image__image{
            height: 500px;
        }
    }     
}

@media (min-width: 992px) {
    .cardHover {
        width: 50%;
        height: 260px;
    }
}


.cardHoverContainer {
    display: flex;	
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    .cardHover {
        .cmp-teaser {
            .cmp-teaser__content {
                .cmp-teaser__action-container {
                    display: flex;
                }
            }
        }
    }
}

@media (min-width: 992px) {
    .cardHoverContainer {
        flex-direction: row;
        justify-content: space-between;
        height: 550px;
        .cardHover {
			&.cmp-card__reduced{
				.cmp-teaser {
					.cmp-teaser__content {
						transform: scale(.8);
						.cmp-teaser__title{
							font-size: 20px;
						}
						.cmp-teaser__description{
							font-size: 16px;
						}
					}
				}
			}
            .cmp-teaser {
                .cmp-teaser__content {
                    .cmp-teaser__action-container {
                        display: none;
                    }
                }
            }
            &:hover {
                .cmp-teaser {
                    .cmp-teaser__content {
                        .cmp-teaser__action-container {
                            display: flex;
                        }
                    }
                }
            }
        &:nth-child(1){
            margin-left: 0px;
            margin-right: auto;
            align-items: flex-start;
            padding-right: 20px;
        }
        &:nth-child(2){
            margin-left: auto;
            margin-right: 0px;
            align-items: flex-start;
            padding-left: 20px;
        }
        }
        
    }
}