.link {
	.cmp-link {
		display: flex;
		text-decoration: none;
		margin: 5px 0;

		&.cmp-link--icon {
			display: flex;

			.cmp-link--text {
				font-family: $font-family-oswald;
				font-weight: 100;
				text-align: left;
				color: $color-corporate;
				font-size: 30px;
				float: left;
				margin-left: 10px;
				order: 2;
				bottom: 5px;
				position: relative;
				align-self: flex-end;
				transition: all .3s;

				&:hover {
					color: $color-secondary-hover;
				}
			}

			.cmp-link__icon-asset {
				order: 1;
				display: inline;
				content: " ";
				font-weight: 100;
				width: 60px;
				height: 60px;
				display: block;
			}

			.cmp-link__final-arrow {
				content: " ";
				background: url($resources-path + '/images/icons/freccia_left_B.svg') center center no-repeat;
				width: 40px;
				height: 50px;
				order: 3;
				align-self: flex-end;
			}
		}

		&.cmp-link--standard {
			.cmp-link--text {
				color: $color-secondary;
				font-weight: normal;
				font-size: 18px;
			}
		}

		&.cmp-link--arrow {
			.cmp-link--text {
				font-style: normal;
				color: $color-corporate;
				text-transform: uppercase;
				font-family: $font-family-oswald;
				font-size: 16px;
				font-weight: normal;
				position: relative;
				display: flex;
				line-height: 25px;
				border-color: transparent;
			}

			.cmp-link__icon-asset {
				background-image: url($resources-path + '/images/icons/freccia_right_big_B.svg');
				background-repeat: no-repeat;
				color: $black !important;
				width: 45px;
				height: 10px;
				display: block;
				top: 6px;
				right: -10px;
				position: relative;
				order: 1;
				transition: right 0.2s;
			}

			&:hover {
				.cmp-link__icon-asset {
					right: -20px;
				}
			}
		}

		&.cmp-link--list {
			.cmp-link--text {
				font-family: $font-family-oswald;
				font-weight: 100;
				text-align: left;
				color: $color-corporate;
				font-size: 30px;
				line-height: 38px;
				float: left;
				margin-left: 20px;
			}

			.cmp-link__icon-asset {
				float: left;
				display: inline;
				padding-right: 20px;
				content: " ";
				width: 36px;
				height: 0px;
				border: 1px solid $color-corporate;
				margin-top: 20px;
				font-weight: 100;
			}
		}

		&.cmp-link--menu-list {
			align-items: center;
			.cmp-link--text {
				color: $color-corporate;
				display: block;
				font-family: $font-family-oswald;
				font-size: 16px;
				font-weight: 500;
				padding: 0 25px;
				text-decoration: none;
				text-transform: uppercase;
			}

			.cmp-link__icon-asset {
				position: relative;
				background-image: url($resources-path + '/images/icons/listMenuBoxPurple.svg');
				background-repeat: no-repeat;
				display: inline;
				width: 10px;
				height: 10px;
			}
		}
	}
}