#productsStemline {
    #productsStemlineSelect {

        .select-container {
            position: relative;
            width: 200px;
            font-size: 16px;
            line-height: 1.5;

            .select-label {
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 40px;
                padding: 0 16px;
                background-color: #fff;
                border: 1px solid #ced4da;
                border-radius: 4px;
                cursor: pointer;
            }

            .select-arrow {
                position: absolute;
                top: 50%;
                right: 16px;
                transform: translateY(-50%);
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 5px 5px 0 5px;
                border-color: #212529 transparent transparent transparent;
                pointer-events: none;
            }

            .options-container {
                position: absolute;
                top: calc(100% + 4px);
                left: 0;
                width: 100%;
                max-height: 200px;
                overflow-y: auto;
                background-color: #fff;
                border: 1px solid #ced4da;
                border-radius: 4px;
                z-index: 1;

                .option {
                    height: 40px;
                    padding: 0 16px;
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    &:hover {
                        background-color: #f8f9fa;
                    }

                    &.active {
                        background-color: #f8f9fa;
                    }
                }
            }

        }


    }

    #productsStemlineResults {
        .product {
            .imageProduct {}

            .nameProduct {}

            .websiteProduct {}
        }
    }
}


.loading-spinner {
    border: 6px solid #f3f3f3;
    border-top: 6px solid $color-primary;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#productsStemline {
    #productsStemlineSelect {
        .selectStemline {
            .country {}
        }
    }

    #productsStemlineResults {
        .product {
            .imageProduct {}

            .nameProduct {}

            .websiteProduct {}
        }
    }
}