/* CARD HOVER */
.teaser.cmp-teaser--background_secondary .cmp-teaser__content,
.teaser.cmp-teaser--background_secondary .cmp-teaser__link {
	&:hover {
		background-color: $color-secondary-hover;
	}
}
.teaser.cmp-teaser--background_primary .cmp-teaser__content,
.teaser.cmp-teaser--background_primary .cmp-teaser__link {
	&:hover {
		background-color: $color-primary-hover;
	}
}

/* start teaser card*/
.card.teaser{
	border: unset;
	background-color: unset;
	.cmp-card{
		.cmp-teaser__content{
			.cmp-teaser__title{
				font-size: 30px;
			}
		}
	}
}
.teaser .cmp-card {
	.cmp-teaser__action-container {
		a {
			color: $color-stem-third;
		}
		background-color: $color-stem-fifth;
	}
}

.card.teaser.teaser-font-bold{
	.cmp-card{
		.cmp-teaser__content{
			.cmp-teaser__title{
				font-size: 50px;
				font-weight: $font-regular;
			}
		}
	}
}
/* end teaser card*/

/* start teaser banner*/
.teaser.cmp-banner--secondary {
	.cmp-teaser__action-container {
		background-color: $color-secondary;
		&:hover {
			background-color: $color-secondary-hover;
		}
	}
}
.teaser.cmp-banner--primary {
	.cmp-teaser__action-container {
		background-color: $color-stem-fifth;
		&:hover {
			background-color: $color-primary-hover;
		}
	}
}
.teaser.cmp-banner .cmp-teaser {
	
	.cmp-teaser__content,
	.cmp-teaser__link {
		.cmp-teaser__action-container {
			a {
				color: $color-stem-third;
			}
		}
	}
}
/* end teaser banner*/