.cmp-section_banner--container {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  flex-direction: column; */
  .cmp-banner--content {
    display: grid;
	width: 100%;
    max-width: 100%;
    &.cmp-banner--content--shapes {
      position: relative;
      overflow: visible;
      .shape_container {
        position: relative;
        height: fit-content;
		width: 100%;
        .cmp-shape--container {
          position: absolute;
          top: 0;
          left: 0;
		  transform:translate(0,0) ;
        }
      }
    }
  }
}

.cmp-banner--content--text {
  .cmp-text {
    font-size: clamp(1rem, 60vw, 1.5rem);
    p {
      margin: 0;
    }
  }
}

@include respond-to(tablet) {
}
@include respond-to(laptop) {
}
/*

**MEDIA QUERIES DA UTILIZZARE**


@include respond-to(small-devices) {}

@include respond-to(mobile) {}



@include respond-to(laptop) {}

@include respond-to(desktop) {}

*/
