@import "wrapper-banner";

.cmp-wrapper_banner--container-bi {
  .cmp-banner--content {
    &.cmp-banner--content--typo {
      order: 2;
    }
    &.cmp-banner--content--shapes {
      order: 1;
      .shape_container_1 {
        .cmp-shape--container {
          transform: translate(-50%, -50%);
        }
      }
      .shape_container_2 {
        .cmp-shape--container {
          transform: translate(0, -80%);
        }
      }
    }
  }

  @include respond-to(tablet) {
	.cmp-wrapper_banner--container {
		flex-direction: row;
		flex-wrap: nowrap;
	  }
    .cmp-banner--content {
      &.cmp-banner--content--typo {
        order: 1;
      }
      &.cmp-banner--content--shapes {
        order: 2;
        .shape_container_1 {
          .cmp-shape--container {
            transform: translate(-50%, -50%);
          }
        }
        .shape_container_2 {
          .cmp-shape--container {
            transform: translate(20%, -80%);
          }
        }
      }
    }
  }
  @include respond-to(laptop) {
    .cmp-banner--content {
      &.cmp-banner--content--shapes {
        .shape_container_1 {
          .cmp-shape--container {
            transform: translate(-50%, -50%);
          }
        }
        .shape_container_2 {
          .cmp-shape--container {
            transform: translate(20%, -80%);
          }
        }
      }
    }
  }

  @include respond-to(desktop) {
    .cmp-banner--content {
      &.cmp-banner--content--shapes {
        .shape_container_1 {
          .cmp-shape--container {
            transform: translate(-30%, -50%);
          }
        }
        .shape_container_2 {
          .cmp-shape--container {
            transform: translate(50%, -80%);
          }
        }
      }
    }
  }
}
/*

**MEDIA QUERIES DA UTILIZZARE**


@include respond-to(small-devices) {}

@include respond-to(mobile) {}



@include respond-to(laptop) {}

@include respond-to(desktop) {}

*/
