@import "section-banner";

.cmp-section_banner--container-wave {
  transition: $standard-transition;
  min-height: clamp(11.75rem, 30vw + 5.75rem, 53.75rem);
  background-size: contain !important;
  //padding: 0rem 0 0rem 0;
  //height: clamp(11.75rem, 32.875vw + 5.175rem, 44.625rem);

  .cmp-banner--content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .shape_container {
      position: relative;
      .text {
        display: none;
      }

      .cmp-shape--container {
        max-width: clamp(15.125rem, 18.641vw + 10.756rem, 33.125rem);
        max-height: clamp(18.125rem, 14.887vw + 14.636rem, 32.5rem);
        display: flex;
        flex-direction: column;

        .cmp-container {
          display: flex;
          flex-direction: column;

          .cmp-button {
            padding: 1rem;
            &:hover {
              box-shadow: none;
            }

            .cmp-button__text {
              font-size: 1rem;
            }
          }
        }
      }

      &:nth-child(1) {
        .cmp-shape--container {
          transform: translate(
            calc(-30% + 10vw),
            40%
          ); // Adjust the value as needed
        }
      }

      &:nth-child(2) {
        .cmp-shape--container {
          transform: translate(
            calc(-40% - 10vw),
            30%
          ); // Adjust the value as needed
        }
      }
    }
  }
}

@include respond-to(mobile) {
  .cmp-section_banner--container-wave {
    .cmp-banner--content {
      .shape_container {
        .text {
          display: none;
        }
        &:nth-child(1) {
          .cmp-shape--container {
            transform: translate(calc(30% + 10vw), 40%);
          }
        }

        &:nth-child(2) {
          .cmp-shape--container {
            transform: translate(calc(-10% - 10vw), 30%);
          }
        }
      }
    }
  }
}

@include respond-to(tablet) {
  .cmp-section_banner--container-wave {
	
    .cmp-banner--content {
      .shape_container {
        .text {
          display: none;
        }
        .cmp-shape--container {
          .cmp-container {
            .cmp-button {
              padding: clamp(1.25rem, 0.313vw + 1.188rem, 1.5rem)
                clamp(1.875rem, 2.813vw + 1.313rem, 4rem);

              .cmp-button__text {
                font-size: clamp(1rem, 1.5vw + 0.5rem, 1.25rem);
              }
            }
          }
        }

        &:nth-child(1) {
          .cmp-shape--container {
            transform: translate(calc(60% + 10vw), 50%);
          }
        }

        &:nth-child(2) {
          .cmp-shape--container {
            transform: translate(calc(0% - 10vw), 50%);
          }
        }
      }
    }
  }
}

@include respond-to(laptop) {
  .cmp-section_banner--container-wave {
    padding: 2rem 0 2rem 0;
    .cmp-banner--content {
      .shape_container {
        .text {
          display: block;
          .cmp-text {
            p {
              padding: 0.5rem;
            }
          }
        }
        &:nth-child(1) {
          .cmp-shape--container {
            transform: translate(calc(70% + 10vw), 30%);
          }
        }

        &:nth-child(2) {
          .cmp-shape--container {
            transform: translate(calc(0% - 10vw), 30%);
          }
        }
      }
    }
  }
}

@include respond-to(desktop) {
  .cmp-section_banner--container-wave {
    padding: 2rem 0 2rem 0;
    height: unset;
    .cmp-banner--content {
      .shape_container {
        .text {
          display: block;
        }
        &:nth-child(1) {
          .cmp-shape--container {
            transform: translate(calc(80% + 10vw), 0);
          }
        }

        &:nth-child(2) {
          .cmp-shape--container {
            transform: translate(calc(10% - 10vw), 0);
          }
        }
      }
    }
  }
}

@include respond-to(high-definition) {
  .cmp-section_banner--container-wave {
	background-size: cover !important;
    padding: 1rem 0 1rem 0;
    .cmp-banner--content {
      .shape_container {
        .text {
          display: block;
          .cmp-text {
            p {
              padding: 1rem;
            }
          }
        }
        &:nth-child(1) {
          .cmp-shape--container {
            transform: translate(calc(110% + 15vw), 10%);
          }
        }

        &:nth-child(2) {
          .cmp-shape--container {
            transform: translate(calc(10% - 10vw), 10%);
          }
        }
      }
    }
  }
}
