//== Container main content style, used on page template

.maindocs-container {
	.container{
		padding: 0.5em 1em;
	}
}
.cmp-container__layout {
	width: 100%;
	padding: 0 4%;
	position: relative;
}
.cmp-container {
	display: grid;
	&--link_mobile {
		display: none;
	}
	&__hidden{
		display: none;
	}
}

@media (min-width: 1366px){
	.cmp-container__layout {
		padding: 0 10%;
	}
}
@media (max-width: 1200px){
	.cmp-container__layout {
		margin: 1rem auto;
	}
	header{
		.cmp-container__layout {
			margin: 0;
		}	
	}
}