//== Container main content style, used on page template

.cmp-container--internal {
	width: 100%;
	padding: 0;

}
.cmp-container {
	display: grid;
	&--link_mobile {
		display: none;
	}
	&__hidden{
		display: none;
	}
}

@media (min-width: 1366px){
	.cmp-container--internal {
		padding: 0 10%;
	}
}
@media (max-width: 1200px){
	.cmp-container--internal {
		margin: 1rem auto;
		/* position: relative; */
	}
	header{
		.cmp-container--internal {
			margin: 0;
		}	
	}
}