//== XF Header style, used on page template

.cmp-experiencefragment--header {
	position: fixed;
	width: 100%;
	z-index: 99;
}

.aem-AuthorLayer-Edit {
	.cmp-experiencefragment--header {
		position: relative;
	}
}

.cmp-container__general-megamenu {
	background-color: transparent;
	transition: background-color 0.8s ease;
	display: flex;
}

.scrolled-page,
.aem-AuthorLayer-Edit {
	.cmp-container__general-megamenu {
		background-color: $white;
	}

	.tabs-menu {
		.cmp-tabs {
			.cmp-tabs__tablist {

				.cmp-tabs__tab,
				.cmp-link--text {
					color: $color-corporate!important;
				}
			}
		}
	}
}


