//== XF Header style, used on page template

.cmp-experiencefragment--header {
	position: fixed;
	width: 100%;
	z-index: 99;
}

.aem-AuthorLayer-Edit {
	.cmp-experiencefragment--header {
		position: relative;
	}
}


