.cmp-slideshow-primary-button,
.cmp-slideshow-secondary-button {
	.cmp-teaser .cmp-teaser__content .cmp-teaser__action-container {
		a {
			color: $color-primary;
			background-color: $color-rel-third;
			font-size: 25.5px; 
		}
	}
}
