<sly data-sly-use.runmode="com.adiacent.menarini.mhos.core.models.RunModeModel" data-sly-test="${runmode.publishMode}">
    <!-- OneTrust Cookies Consent Notice start for mhos -->
    <script type="text/javascript" src="https://cdn.cookielaw.org/consent/${properties.oneTrustScriptId}/OtAutoBlock.js" ></script>
    <script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js" data-document-language="true" type="text/javascript" charset="UTF-8" data-domain-script="${properties.oneTrustScriptId}" ></script>
    <script type="text/javascript">
    function OptanonWrapper() { }
    </script>
    <!-- OneTrust Cookies Consent Notice end for mhos -->
</sly>
<div data-emptytext="OneTrust" class="cq-placeholder"></div>