<sly data-sly-test.configured=${properties.compoundValue}></sly>
<sly data-sly-test="${wcmmode.edit || wcmmode.preview}">
    <div class="table">
        <div class="table_header_row">
            <div class="col first">
                Mechanism Of Action
            </div>
            <div class="col second">
                Indication
            </div>
        </div>
        <div class="table_row first no_border">
            <div class="col first ">
                <span class="internal-title">${properties.mechanismOfAction}</span>
            </div>
            <div class="col second">
                <span class="internal-title">${properties.indicationValue}</span>
            </div>
        </div>
    </div>
</sly>
<div data-sly-test="${ !configured }" data-emptytext="Pipeline Item" class="cq-placeholder"></div>