.button {
	.cmp-button {
		display: flex;
		justify-content: space-between;
		width: 325px;
		align-items: center;
		flex-direction: row;
		text-decoration: unset;
		position: relative;
		height: 75px;
		font-family: $font-family;
		//min-width: 265px;
		font-size: 26px;
		line-height: 30px;
		font-weight: $bold;
		color: $white;
		cursor: pointer;
		text-align: left;
		padding-left: 27px;
		padding-right: 27px;
		transition: transform .5s ease;

		&:hover {
			transform: scale(1.02);
		}

		.cmp-button__icon {
			position: absolute;
			top: 50%;
			right: 5%;
			transform: translate(0%, -50%);
			-webkit-transform: translate(0%, -50%);
			display: flex;
			height: 45px;
			width: 45px;
			background-color: $white;
			border-radius: 50%;
			background-repeat: no-repeat;
			background-size: 40px;
			background-position: center;

			&.cmp-button__icon--book {
				background-image: url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/icons/icon-book.svg');
			}

			&.cmp-button__icon--book-red {
				background-image: url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/icons/icon-book-red.svg');
			}

			&.cmp-button__icon--play {
				background-image: url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/icons/icon-play.svg');
			}

			&.cmp-button__icon--cast {
				background-image: url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/icons/icon-cast.svg');
			}

			&.cmp-button__icon--document {
				background-image: url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/icons/icon-document.svg');
			}

			&.cmp-button__icon--linkedin {
				background-image: url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/icons/icon-linkedin.svg');
			}

			&.cmp-button__icon--youtube {
				background-image: url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/icons/icon-youtube.svg');
			}
		}
	}

	&.borderWhite {
		.cmp-button {
			border: 2px solid $white;
			background-color: unset;
		}
	}

	&.borderRed {
		.cmp-button {
			border: 2px solid $primary-color-three;
			background-color: unset;
			color: $primary-color-three;
		}
	}

	&.bgWhite {
		.cmp-button {
			border: 0px;
			background-color: $white;
			color: $primary-color-three;

			.cmp-button__icon {
				border: 1px solid $primary-color-three;
			}
		}
	}

	&.bgRed {
		.cmp-button {
			border: 0px;
			background-color: $primary-color-three;
			font-size: 23px;
		}
	}

	&.cmp-button__margin-bottom {
		.cmp-button {
			margin-bottom: 75px;
		}
	}

}
@media (max-width: 1199px) {
	.button {
		margin: 0 auto;
	}
}