.card_container{
    position:relative;
    float: left;
    text-align: center;
    width: 100%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    background: url("/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/images/box-bg.png") top left repeat-x;
}
.card_container .inner_text{
    position:absolute;
    top:50%;
    color: #B62623;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    text-align: center;
    text-transform:uppercase;
    float: left;
    text-align:center;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}