.cmp-search {}
.cmp-search__form {}
.cmp-search__field {}
.cmp-search__icon {}
.cmp-search__input {}
.cmp-search__loading-indicator {}
.cmp-search__clear {}
.cmp-search__clear-icon {}
.cmp-search__results {}
.cmp-search__item {}
.cmp-search__item--is-focused {}
.cmp-search__item-mark {}
.cmp-search__item-title {}

// search by filter
.search_container{
    display: inline-flex;
    width: 100%;
    flex-direction: row;
    margin: 30px 0;
    .cmp-search{
        &__searchInput{
            height: 60px;
            font-size: 20px;
            float: left;
            width: 100%;
            border: 1px solid $color-foreground-two;
            padding-left: 15px;
            &:focus {
                outline: none;
            }
        }
        &__button{
            height: 60px;
            width: 15%;
            float: left;
            border: 1px solid $primary-color-three;
            background-color: $white;
            color: $primary-color-three;
            font-family: $font-family;
            font-size: 20px;
            font-weight: $bold;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover{
                transform: scale(1.02);
            }
        }
    }
}

@media (max-width: 768px) {
    .search_container{
        .cmp-search{
            &__searchInput{}
            &__button{width: 25%;}
        }
    }
}