.cmp-text {
  color: $black;
  font-family: $font-family;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 30px;
  p{
    font-weight: 300;
  }
}
.cmp-text--color__white{
	.cmp-text {
		color: $white;
	}
}
