.video--teaser{
    width: 100%;
    margin: 55px auto;
    position: relative;
    .video-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $black;
    }
    .video{
        width: 100%;
    }
    .playpause {
        background-image:url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/icons/icon-play.svg');
        background-repeat:no-repeat;
        width:45px;
        height:45px;
        position:absolute;
        left:0%;
        right:0%;
        top:0%;
        bottom:0%;
        margin:auto;
        background-size:contain;
        background-position: center;
    }
    .content{
        text-align: center;
        position: initial;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        flex-direction: column;
        z-index: 1;
        color: $black;
        text-transform: uppercase;
        padding: 5%;
        .cmp-teaser__title{
            font-family: "Libre Baskerville";
            font-size: 25px;
            font-weight: 700;
        }
        .cmp-teaser__description p{
            font-weight: 300;
        }
    }
}

@media (min-width: 546px) {
    .video--teaser{
        .content{
            .cmp-teaser__title{
                font-size: 35px;
            }
        }
    }
}

@media (min-width: 1200px) {
    .video--teaser{
        width: 70%;
        .video{
            transition: .5s ease;
        }
        .playpause {
            display: none;
        }
        .content{
            position: absolute;
            display:none;
            color: $white;
            bottom: 55px;
            .cmp-teaser__title{
                font-size: 24px;
            }
        }
        &:hover>{
            .content{
                opacity: 1;
                display: flex;
                background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.3) 50%, rgba(0,0,0,0.3) 100%);
                //background: rgba(0,0,0,.3);
            }
            .video{
                opacity: 0.3;
            }
        } 
    }
}