//efpia

#cmp-efpia {
    #efpia-button-report {
        cursor: pointer;
    }

    #modalEfpia {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        align-items: center;
        justify-content: center;

        .modal-content {
            background-color: #fff;
            padding: 20px;
            border: 1px solid #888;
            border-radius: 5px;
            width: 95%;
            position: relative;
            height: 600px;
            overflow: hidden;
            overflow-y: scroll;
            overflow-x: scroll;


            &-text {
                display: flex;
                flex-direction: row;
                position: relative;

                .year-container {
                    width: 200px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    h3 {
                        cursor: pointer;
                        margin-bottom: 0px;
                        font-size: $title-extra-small-font-size;
                        border: 1px solid $color-corporate;
                        padding: 5px 10px;
                        box-shadow: 1px 1px 1px 1px $color-third;
                        transition: background-color .5s;
                        &:hover {
                            background-color: $color-corporate;
                            color: $white;
                        }
                    }
                    .image-container {
                        display: none;
                    }
                    &.active {
                        h3{
                            background-color: $color-corporate;
                            color: $white;
                        }
                        .image-container {
                            display: flex;
                            flex-direction: column;
                            position: absolute;
                            left: 0px;
                            top: 50px;
                            width: 1280px;
                        }
                    }
                }                
            }

            #modalEfpiaClose {
                position: absolute;
                top: 12px;
                right: 12px;
                $font-family-oswald: Oswald, Tahoma, Arial, Helvetica, sans-serif;
                font-weight: $font-light;
                font-size: 20px;
                cursor: pointer;
                border: 1px solid $color-corporate;
                border-radius: 50%;
                padding: 0px 8.33px;
                transition: background-color .5s;
                background-color: $white;
                z-index: 10;
                &:hover {
                    background-color: $color-corporate;
                    color: $white;
                }
            }
        } 
        @media screen and (min-width: 992px) {
            .modal-content {
                width: 60%;
            }
        }
    }
}