
/* Font */

$font-family:           "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size:             16px;
$title-font-size:		40px;
$title-big-font-size:	60px;
$font-height:           1.5;

/* Color */

/* Normal mode*/
$color-foreground:      #202020;
$color-background:      #ECECEC;
$color-link:            #2020E0;
$color-navbar: 			#ffffff;

/* Dark mode*/
$color-foreground-dark: invert($color-foreground);
$color-background-dark: invert($color-background);
$color-link-dark:       invert($color-link);

/* Menarini Corporate*/
$color-background-corporate: #143F59;
$color-text: #484542;
$color-link-primary-corporate: #F5333F;
$color-link-primary-corporate-hover: #D32D39;
$color-link-secondary-corporate: #0783FF;
$color-link-secondary-corporate-hover: #0066ff;
$font-light: 200;
$font-regular: 400;
$font-bold: 500;
$font-bolder: 600;
$font-family-georgia: georgia;
$font-family-oswald: Oswald, Tahoma, Arial, Helvetica, sans-serif;
$font-family-arimo: 'Arimo', sans-serif;
$border-right: 1px solid rgba(0,0,0,.1);

/* Berlin-chemie*/
$color-background-berlin: #007881;
$color-link-berlin: #025d64;

/* Header */
$color-background-menu-second: #F7F6F4;
