.cmp-breadcrumb {}
.cmp-breadcrumb__list {
    padding-left: 0px;
    text-wrap: nowrap;

    @include media-breakpoint-down(lg) {
     text-wrap: wrap;
    }
}
.cmp-breadcrumb__item {
}
.cmp-breadcrumb__item--active {
    text-transform: uppercase;

}
.cmp-breadcrumb__item-link {
    color: $body-color;
    text-decoration: none;
    text-transform: uppercase;
    
}