.title{
    h2{
        font-family: $font-default;

    }
    &--blue{
        h3{
            font-size: $heading-h3-font-size;
        }
        h2, h3, h4, h5, h6{
            color: $secondary;
            font-weight: $font-regular;
        }
    }
    &--red{
        h2{
            font-size: $heading-h2-font-size;
        }
        h2, h3, h4, h5, h6{
            color: $primary;
            font-weight: $font-default-light;
        }
    }
}
