footer {
  .cmp-list {
    list-style: none;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    @include media-breakpoint-up(lg) {
      -moz-column-count: 3;
      -moz-column-gap: 1em;
      -webkit-column-count: 3;
      -webkit-column-gap: 1em;
      column-count: 3;
      column-gap: 3em;
    }
    &__item {
      padding-top: 10px;
      padding-bottom: 10px;
      display: inline-block;
      width: 100%;
    }
    &__item-link {
      color: $white;
      text-decoration: none;
      display: flex;
      &::after {
        content: "";
        width: 10px;
        background: url($resources-path + "/icons/arrow.svg") no-repeat center;
        margin-left: 8px;
      }
    }
  }
  .cmp-button-social {
    height: 37px;
    width: 37px;
    gap: 18px;
    &.cmp-button-social-linkedin {
      background: url($resources-path + "/icons/linkedin-footer.svg") no-repeat center;
    }
    &.cmp-button-social-youtube {
      background: url($resources-path + "/icons/youtube-footer.svg") no-repeat center;
    }
  }
}
