.cmp-languagenavigation {
  &.is-open {
    .toggle-icon {
      transform: rotate(180deg);
      transition: $standard-transition;
    }
    .cmp-languagenavigation__group {
      visibility: visible;
      transition: $standard-transition;
      position: relative;
    }
  }
  & > .cmp-languagenavigation__group {
   visibility: hidden;
    transition-delay: 0.3s;
    width: 100%;
    padding: 0 0.5rem;
    border-top: 0;
    background-color: transparent;
    text-align: end;
    .cmp-languagenavigation__item--level-0 {
      .cmp-languagenavigation__item-link {
        
        text-decoration: none;
        &:hover {
        }
      }
    }
  }
}
.cmp-languagenavigation__label {
  /* display: flex;
  text-transform: uppercase;
  gap: 0.3rem;
  align-items: center; */
  .cmp-languagenavigation__label-text {
  }
}

.cmp-languagenavigation__group {
 
}
.cmp-languagenavigation__item {
}
.cmp-languagenavigation__item--active {
}
.cmp-languagenavigation__item-link {
}
.cmp-languagenavigation__item-title {
}

.cmp-languagenavigation__item--level-0 {
  .cmp-languagenavigation__item-link {
  }
  .cmp-languagenavigation__item--level-1 {
    display: inline;
  }
}

/*
  
  **MEDIA QUERIES DA UTILIZZARE**
  
  
  @include respond-to(small-devices) {}
  
  @include respond-to(mobile) {}
  
  @include respond-to(tablet) {}
  
  @include respond-to(laptop) {}
  
  @include respond-to(desktop) {}
  
  */
