.upload-file {
  .cmp-form-text {
    label {
      margin-bottom: 0rem;
    }
    .buttonText {
      background-color: $midnightBlue;
      color: $white;
      cursor: pointer;
      font-family: $title-medium;
      font-size: $font-size;
      text-transform: uppercase;
      padding: 1.5rem 2.5rem;
      text-align: center;
      display: inline-block;
      border-radius: 0px;
      border: 1px solid transparent;
      line-height: 20px;
      margin-top: 70px;
      span {
        font-size: $title-size;
        padding: 0;
        margin: 0;
        line-height: inherit;
        vertical-align: top;
        margin-right: -1px;
        font-weight: 100;
      }
    }

    #myfile {
      visibility: hidden;
    }
    #myFiles {
      display: flex;
      justify-content: space-between;

      .cmp-close__icon {
        margin-right: 1rem;

        &::after {
          content: "X";
          font-size: $font-size;
          color: $midnightBlue;
          cursor: pointer;
        }
      }
    }

    .buttonText:after {
      content: none;
    }
  }
}
