.cmp-form {
  margin: 0 auto;
  .required-field {
    &:after {
      content: "*";
      margin: 0 .5rem;
      color: $midnightBlue;
    }
  }
  input {
    &:focus {
      border-color: $midnightBlue;
      outline: 0;
    }
  }
  span.text-danger {
    font-size: 1rem;
    color: $midnightBlue;
    display: block;
  }
}

