.cmp-form-text {
  display: block;
  height: 5rem;
  margin-bottom: 0rem;
  padding: 0 1rem;

  position: relative;

  label {
    display: block;
    margin-bottom: 0rem;
    position: absolute;

    left: 1rem;
    bottom: 2.5rem;

    font-size: 1.25rem;
    font-family: $title-light;
    color: $midnightBlue;
    text-transform: uppercase;

    cursor: text;

    transition: $standard-transition;
  }

  &.textAdded {
    label {
      bottom: 4.5rem;
    }
  }
}

.cmp-form-text__help-block {}

.cmp-form-text__textarea {
  height: auto;
  max-height: 100vh;
  width: 100%;
  margin-top: 3rem;
  padding: 1rem;
  box-sizing: border-box;
  border: 0.063rem solid $midnightBlue;

  &:focus {
    border-color: $midnightBlue;
    outline: 0;
  }
}

.cmp-form-text__text {
  display: block;
  width: 100%;
  height: 3.5rem;
  padding: 0.5rem 1rem;
  margin-top: 1.5rem;

  font-size: $font-size;
  font-family: $title-light;
  color: $midnightBlue;
  line-height: 1.42857143;

  background: $white;
  background-color: $white;
  background-image: none;

  border: 0rem;
  border-bottom: 0.063rem solid $midnightBlue;
  border-radius: 0rem;
  box-shadow: none;

  transition: $standard-transition;

  &:focus {
    border-color: $midnightBlue;
    outline: 0;
  }

}
