
//== Font


$font-family-Libre:     'Libre Baskerville';
$font-family:           'Montserrat', sans-serif;
$font-size:             16px;
$font-height:           1.5;
$black:                 900;
$extra-bold:            800;
$bold:                  700;
$semi-bold:             600;
$medium:                500;
$regular:               400;
$light:                 300;
$extra-light:           200;
$thin:                  100;

//== Color
$primary-color:        #680F0C;
$primary-color-two:    #881715;
$primary-color-three:  #B62623;
$primary-color-four:   #AE0F0A;
$primary-color-opacity: rgb(104 15 12 / 50%);

$secondary-color:      #012B64;
$secondary-color-two:  #113F7C;
$secondary-color-three:#012B64;
$secondary-color-four: #134686;
$secondary-color-five: #266CB8;

$white:                #FFFFFF;
$black:                #000000;

// Normal mode
$color-foreground:     #202020;
$color-foreground-two: #D8D8D8;
$color-background:     #EDEFF3;
$color-background-two: #FEFEFE;


