/*******************/
/*Libre Baskerville*/
/*******************/

@font-face {
    font-family: 'Libre Baskerville';
    src: url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/LibreBaskerville-Italic.eot');
    src: local('Libre Baskerville Italic'), local('LibreBaskerville-Italic'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/LibreBaskerville-Italic.eot?#iefix') format('embedded-opentype'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/LibreBaskerville-Italic.woff2') format('woff2'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/LibreBaskerville-Italic.woff') format('woff'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/LibreBaskerville-Italic.ttf') format('truetype');
    font-weight: $regular;
    font-style: italic;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/LibreBaskerville-Regular.eot');
    src: local('Libre Baskerville'), local('LibreBaskerville-Regular'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/LibreBaskerville-Regular.eot?#iefix') format('embedded-opentype'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/LibreBaskerville-Regular.woff2') format('woff2'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/LibreBaskerville-Regular.woff') format('woff'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/LibreBaskerville-Regular.ttf') format('truetype');
    font-weight: $regular;
    font-style: normal;
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/LibreBaskerville-Bold.eot');
    src: local('Libre Baskerville Bold'), local('LibreBaskerville-Bold'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/LibreBaskerville-Bold.eot?#iefix') format('embedded-opentype'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/LibreBaskerville-Bold.woff2') format('woff2'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/LibreBaskerville-Bold.woff') format('woff'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/LibreBaskerville-Bold.ttf') format('truetype');
    font-weight: $bold;
    font-style: normal;
}

/*******************/
/****Montserrat*****/
/*******************/

@font-face {
    font-family: 'Montserrat';
    src: url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-ExtraLight.eot');
    src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-ExtraLight.woff2') format('woff2'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-ExtraLight.woff') format('woff'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-ExtraLight.ttf') format('truetype');
    font-weight: $extra-light;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-MediumItalic.eot');
    src: local('Montserrat Medium Italic'), local('Montserrat-MediumItalic'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-MediumItalic.woff2') format('woff2'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-MediumItalic.woff') format('woff'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-MediumItalic.ttf') format('truetype');
    font-weight: $medium;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-Italic.eot');
    src: local('Montserrat Italic'), local('Montserrat-Italic'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-Italic.eot?#iefix') format('embedded-opentype'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-Italic.woff2') format('woff2'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-Italic.woff') format('woff'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-Italic.ttf') format('truetype');
    font-weight: $regular;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-Regular.eot');
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-Regular.woff2') format('woff2'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-Regular.woff') format('woff'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: $regular;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-ThinItalic.eot');
    src: local('Montserrat Thin Italic'), local('Montserrat-ThinItalic'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-ThinItalic.woff2') format('woff2'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-ThinItalic.woff') format('woff'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-ThinItalic.ttf') format('truetype');
    font-weight: $thin;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-Bold.eot');
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-Bold.woff2') format('woff2'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-Bold.woff') format('woff'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: $bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-Light.eot');
    src: local('Montserrat Light'), local('Montserrat-Light'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-Light.woff2') format('woff2'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-Light.woff') format('woff'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-Light.ttf') format('truetype');
    font-weight: $light;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-Black.eot');
    src: local('Montserrat Black'), local('Montserrat-Black'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-Black.woff2') format('woff2'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-Black.woff') format('woff'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-Black.ttf') format('truetype');
    font-weight: $black-size;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-Medium.eot');
    src: local('Montserrat Medium'), local('Montserrat-Medium'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-Medium.woff2') format('woff2'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-Medium.woff') format('woff'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: $medium;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-ExtraLightItalic.eot');
    src: local('Montserrat ExtraLight Italic'), local('Montserrat-ExtraLightItalic'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-ExtraLightItalic.woff2') format('woff2'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-ExtraLightItalic.woff') format('woff'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-ExtraLightItalic.ttf') format('truetype');
    font-weight: $extra-light;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-BlackItalic.eot');
    src: local('Montserrat Black Italic'), local('Montserrat-BlackItalic'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-BlackItalic.woff2') format('woff2'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-BlackItalic.woff') format('woff'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-BlackItalic.ttf') format('truetype');
    font-weight: $black-size;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-ExtraBoldItalic.eot');
    src: local('Montserrat ExtraBold Italic'), local('Montserrat-ExtraBoldItalic'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-ExtraBoldItalic.woff') format('woff'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-ExtraBoldItalic.ttf') format('truetype');
    font-weight: $extra-bold;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-SemiBoldItalic.eot');
    src: local('Montserrat SemiBold Italic'), local('Montserrat-SemiBoldItalic'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-SemiBoldItalic.woff2') format('woff2'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-SemiBoldItalic.woff') format('woff'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-SemiBoldItalic.ttf') format('truetype');
    font-weight: $semi-bold;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-ExtraBold.eot');
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-ExtraBold.woff2') format('woff2'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-ExtraBold.woff') format('woff'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: $extra-bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-BoldItalic.eot');
    src: local('Montserrat Bold Italic'), local('Montserrat-BoldItalic'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-BoldItalic.woff2') format('woff2'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-BoldItalic.woff') format('woff'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-BoldItalic.ttf') format('truetype');
    font-weight: $bold;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-LightItalic.eot');
    src: local('Montserrat Light Italic'), local('Montserrat-LightItalic'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-LightItalic.woff2') format('woff2'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-LightItalic.woff') format('woff'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-LightItalic.ttf') format('truetype');
    font-weight: $light;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-SemiBold.eot');
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-SemiBold.woff') format('woff'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: $semi-bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-Thin.eot');
    src: local('Montserrat Thin'), local('Montserrat-Thin'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-Thin.eot?#iefix') format('embedded-opentype'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-Thin.woff2') format('woff2'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-Thin.woff') format('woff'),
        url('/etc.clientlibs/mhos/clientlibs/clientlib-site/resources/fonts/Montserrat-Thin.ttf') format('truetype');
    font-weight: $thin;
    font-style: normal;
}

