<div class="cmp-signupform container">
    <h2 class="cmp-signupform__title">Create your Fondazione Menarini account</h2>
    <p class="cmp-signupform__subtitle">Fields marked with <span>*</span> are mandatory to process your queries</p>

    <div class="cmp-signupform__formwrapper w-100">
        <form class="cmp-signupform__formItemWrapper">
            <div class="row g-4 m-0 p-0">
                <div class="col-6 ps-0">
                    <div class="cmp-signupform__formItemTitle">
                        First Name <span>*</span>
                    </div>
                    <div>
                        <input placeholder="Insert First Name" type="text"
                            class="form-control cmp-signupform__textField mt-2" id="firstName"
                            aria-describedby="firstNamelHelp">
                    </div>
                </div>
                <div class="col-6 pe-0">
                    <div class="cmp-signupform__formItemTitle">
                        Last Name <span>*</span>
                    </div>
                    <div>
                        <input placeholder="Insert Last Name" type="text"
                            class="form-control cmp-signupform__textField mt-2" id="lastName"
                            aria-describedby="lastNamelHelp">
                    </div>
                </div>
            </div>

            <div class="row g-4 m-0 p-0 mt-2">
                <div class="col-6 ps-0">
                    <div class="cmp-signupform__formItemTitle">
                        Profession <span>*</span>
                    </div>
                    <div>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle mt-2 text-start" type="button"
                                id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                <div class="w-100 h-100 d-flex align-items-center">Select Profession</div>
                            </button>
                            <ul class="dropdown-menu pt-0 pb-0" aria-labelledby="dropdownMenuButton1">
                                <li class="d-flex align-items-center"><a class="dropdown-item d-flex align-items-center"
                                        href="#">Biologist</a></li>
                                <li class="d-flex align-items-center"><a class="dropdown-item d-flex align-items-center"
                                        href="#">Diagnostic Laboratory Technician</a></li>
                                <li class="d-flex align-items-center"><a class="dropdown-item d-flex align-items-center"
                                        href="#">Doctor</a></li>
                                <li class="d-flex align-items-center"><a class="dropdown-item d-flex align-items-center"
                                        href="#">Healthcare Worker</a></li>
                                <li class="d-flex align-items-center"><a class="dropdown-item d-flex align-items-center"
                                        href="#">No Healthcare</a></li>
                                <li class="d-flex align-items-center"><a class="dropdown-item d-flex align-items-center"
                                        href="#">Nurse</a></li>
                                <li class="d-flex align-items-center"><a class="dropdown-item d-flex align-items-center"
                                        href="#">Nurse's Assistant</a></li>
                                <li class="d-flex align-items-center"><a class="dropdown-item d-flex align-items-center"
                                        href="#">Obstetrician</a></li>
                                <li class="d-flex align-items-center"><a class="dropdown-item d-flex align-items-center"
                                        href="#">Pharmacist</a></li>
                                <li class="d-flex align-items-center"><a class="dropdown-item d-flex align-items-center"
                                        href="#">Psichologist</a></li>
                                <li class="d-flex align-items-center"><a class="dropdown-item d-flex align-items-center"
                                        href="#">Student</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-6 pe-0">
                    <div class="cmp-signupform__formItemTitle">
                        Gender
                    </div>
                    <div>
                        <input placeholder="Insert Gender" type="text"
                            class="form-control cmp-signupform__textField mt-2" id="gender"
                            aria-describedby="genderHelp">
                    </div>
                </div>
            </div>

            <div class="row g-4 m-0 p-0 mt-2">
                <div class="col-6 ps-0">
                    <div class="cmp-signupform__formItemTitle">
                        Date of Birth <span>*</span>
                    </div>
                    <div class="position-relative">
                        <!-- <input placeholder='Please select a date' id="dateOfBirth"
                            class="form-control mt-2 cmp-signupform__datepicker" type="date" /> -->
                        <input class="form-control mt-2 cmp-signupform__datepicker" type="text"
                            placeholder="Insert mm/dd/yyyy" onfocus="(this.type='date')"
                            onblur="if(this.value==''){this.type='text'}">

                    </div>
                </div>
                <div class="col-6 pe-0">
                    <div class="cmp-signupform__formItemTitle">
                        Telephone
                    </div>
                    <div>
                        <input placeholder="Insert Telephone" type="number"
                            class="form-control cmp-signupform__textField mt-2" id="telephone"
                            aria-describedby="telephoneHelp">
                    </div>
                </div>
            </div>

            <div class="row g-4 m-0 p-0 mt-2">
                <div class="col-6 ps-0">
                    <div class="cmp-signupform__formItemTitle">
                        Country <span>*</span>
                        <div class="cmp-signupform__formItemLabel">Lorem ipsum dolor amet</div>
                    </div>
                    <div>
                        <input placeholder="Insert Country" type="text"
                            class="form-control cmp-signupform__textField mt-2" id="country"
                            aria-describedby="countryHelp">
                    </div>
                </div>
                <div class="col-6 pe-0 cmp-signupform__customMultiSelect">
                    <div class="cmp-signupform__formItemTitle">
                        Area of Interest <span>*</span>
                        <div class="cmp-signupform__formItemLabel">Select a minimum of one interest up to a maximum of
                            three</div>
                    </div>
                    <div class="mt-2">
                        <div class="custom-dropdown">
                            <button class="dropdown-toggle" type="button" id="dropdownMenuButton">
                                Select Area of Interest
                            </button>
                            <ul class="dropdown-menu" id="interestList">
                                <li class="d-flex align-items-center"><label
                                        class="dropdown-item d-flex align-items-center"><input type="checkbox"
                                            class="form-check-input" value="Algology"> Algology</label></li>
                                <li class="d-flex align-items-center"><label
                                        class="dropdown-item d-flex align-items-center"><input type="checkbox"
                                            class="form-check-input" value="Allergology and Clinical Immunology">
                                        Allergology and Clinical Immunology</label></li>
                                <li class="d-flex align-items-center"><label
                                        class="dropdown-item d-flex align-items-center"><input type="checkbox"
                                            class="form-check-input" value="Anaestesia and Intensive Care"> Anaestesia
                                        and Intensive Care</label></li>
                                <li class="d-flex align-items-center"><label
                                        class="dropdown-item d-flex align-items-center"><input type="checkbox"
                                            class="form-check-input" value="Analyst"> Analyst</label></li>
                                <li class="d-flex align-items-center"><label
                                        class="dropdown-item d-flex align-items-center"><input type="checkbox"
                                            class="form-check-input" value="Andrology"> Andrology</label></li>
                                <li class="d-flex align-items-center"><label
                                        class="dropdown-item d-flex align-items-center"><input type="checkbox"
                                            class="form-check-input" value="Biochemistry"> Biochemistry</label></li>
                                <li class="d-flex align-items-center"><label
                                        class="dropdown-item d-flex align-items-center"><input type="checkbox"
                                            class="form-check-input" value="Cardiology"> Cardiology</label></li>
                                <li class="d-flex align-items-center"><label
                                        class="dropdown-item d-flex align-items-center"><input type="checkbox"
                                            class="form-check-input" value="Dentistry"> Dentistry</label></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row g-4 m-0 p-0 mt-2">
                <div class="col-6 ps-0">
                    <div class="cmp-signupform__formItemTitle">
                        Email <span>*</span>
                    </div>
                    <div>
                        <input placeholder="Insert Email" type="email"
                            class="form-control cmp-signupform__textField mt-2" id="email"
                            aria-describedby="emaillHelp">
                    </div>
                </div>
                <div class="col-6 pe-0">
                    <div class="cmp-signupform__formItemTitle">
                        Email Confirmation <span>*</span>
                    </div>
                    <div>
                        <input placeholder="Insert Email Confirmation" type="email"
                            class="form-control cmp-signupform__textField mt-2" id="emailConfirmation"
                            aria-describedby="emailConfirmationlHelp">
                    </div>
                </div>
            </div>

            <div class="row g-4 m-0 p-0">
                <div class="col-6 ps-0">
                    <div class="cmp-signupform__formItemTitle">
                        Password <span>*</span>
                    </div>
                    <div>
                        <input placeholder="Insert Password" type="password"
                            class="form-control cmp-signupform__textField mt-2" id="password"
                            aria-describedby="passwordHelp">
                    </div>
                </div>
                <div class="col-6 pe-0">
                    <div class="cmp-signupform__formItemTitle">
                        Password Confirmation <span>*</span>
                    </div>
                    <div>
                        <input placeholder="Insert Pasword Confirmation" type="password"
                            class="form-control cmp-signupform__textField mt-2" id="passwordConfirmation"
                            aria-describedby="passwordConfirmationHelp">
                    </div>
                </div>
            </div>

            <div class="cmp-signupform__privacywrapper mt-4">
                <div class="cmp-signupform__privacytitle">Privacy, Newsletter</div>

                <div>
                    <p>
                        Having read the <a href="#">privacy information notice</a> I consent to the processing of
                        personal data
                        including sensitive personal data, for the purposes of managing my request pursuant to the GDPR
                        <span>*</span>
                    </p>

                    <fieldset class="ps-0">
                        <label class="me-3">
                            <input type="radio" name="privacy" value="yes" class="ms-2 me-2">
                            Yes
                        </label>
                        <label>
                            <input type="radio" name="privacy" value="no" class="ms-2 me-2">
                            No
                        </label>
                    </fieldset>
                </div>

                <div class="mt-3">
                    <p>
                        Pursuant To Art. 6.1.A Of The Regulation, I Agree To The Processing Of My Personal Data For The
                        Purpose
                        Of Allowing Fondazione To Improve Its Services And To Offer Personalised Content Based On My
                        Interests,
                        Needs And Preferences ("Profiling")
                    </p>

                    <fieldset class="ps-0">
                        <label class="me-3">
                            <input type="radio" name="personalDataProcessing" value="yes" class="ms-2 me-2">
                            Yes
                        </label>
                        <label>
                            <input type="radio" name="personalDataProcessing" value="no" class="ms-2 me-2">
                            No
                        </label>
                    </fieldset>
                </div>

                <div class="mt-3">
                    <p>
                        I Agree to Receive the Newsletter <span>*</span>
                    </p>

                    <fieldset class="ps-0">
                        <label class="me-3">
                            <input type="radio" name="receiveNewsletter" value="yes" class="ms-2 me-2">
                            Yes
                        </label>
                        <label>
                            <input type="radio" name="receiveNewsletter" value="no" class="ms-2 me-2">
                            No
                        </label>
                    </fieldset>
                </div>

                <div class="mt-5">Security Code <span>*</span></div>

                <script src="https://www.google.com/recaptcha/api.js" async defer>
                </script>
                <div class="g-recaptcha mt-3" data-sitekey="6LcMoyEqAAAAAA59HyT4MkX3MIPL7HmrWcpTjbQG"
                    data-callback="onRecaptchaSuccess" data-expired-callback="onRecaptchaResponseExpiry"
                    data-error-callback="onRecaptchaError">
                </div>

                <div class="mt-4">
                    <button class="cta-fondazione-primary" type="submit">SIGN UP</button>
                </div>
            </div>
        </form>
    </div>
</div>