.cq-Editable-dom {
  &.newpar {
    display: block;
  }
}
/* Edit Mode */
.aem-AuthorLayer-Edit {
  .cmp-experiencefragment--footer {
    #footerFirstContainer {
      .buildingblock:nth-child(2) {
        .xf-master-building-block {
          .container:nth-child(1) {
            .cmp-container {
              > div:first-of-type {
                display: block;
              }
            }
          }

          .container:last-child {
            .cmp-container {
              > div:first-of-type {
                display: block;
              }
            }
          }
          .cmp-languagenavigation {
            .cmp-languagenavigation__label {
            }
          }
        }
      }
    }
  }

  .cmp-shape--container {
    display: block;
    .cmp-container {
      display: block;
    }
  }
  .cmp-wrapper_banner--container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    .cmp-banner--content {
      display: inline-block;

      height: fit-content;
      position: relative;
      transform: none !important;
      &.cmp-banner--content--shapes {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1rem;
        .shape_container {
          border: 0.375rem solid $teal-blue;
          padding: 1rem;
          position: relative;
          height: 100%;
          min-height: 20rem;
          .cmp-shape--container {
            position: relative;
            top: auto;
            left: auto;
            bottom: auto;
            right: auto;
            transform: none !important;
            width: 100%;
            height: 100%;
            border: 0.375rem solid $deep-blue;
          }
        }
      }
      &.cmp-banner--content--typo {
        border: 0.375rem solid $deep-blue;
      }
    }
	&.cmp-wrapper_banner--container-central {
	  grid-template-columns: 1fr;
	  display: grid;
	  justify-content: space-around;
	  align-items: center;
	  align-content: space-around;
	  .cmp-banner--content--shapes {
		grid-template-columns: 1fr 1fr;
	  }
	}
  }
}

/* Preview Mode */
.aem-AuthorLayer-Preview {
  /* body {
    background: blue;
  } */
}

/* Layout Mode */
.aem-AuthorLayer-Layouting {
  /* body {
    background: green;
  } */
}

/* Developer Mode */
.aem-AuthorLayer-Developer {
  /* body {
    background: yellow;
  } */
}
/* Structure Mode */
.aem-AuthorLayer-structure {
  #lower-shape {
    display: none;
  }
  header.experiencefragment {
    position: relative;
  }
  .cmp-experiencefragment--shape {
    display: block;
    position: relative;
    z-index: 0;
  }
}
/* Initial Content Mode */
.aem-AuthorLayer-initial {
  /* body {
    background: purple;
  } */
}
/* Container Experience Fragment*/
.xf-web-container {
  /*  body {
    background: chocolate;
  } */
}
