.cq-Editable-dom {
  &.newpar {
    display: block;
  }
}
/* Edit Mode */
.aem-AuthorLayer-Edit {
  .cmp-experiencefragment--footer {
    #footerFirstContainer {
      .buildingblock:nth-child(2) {
        .xf-master-building-block {
          .container:nth-child(1) {
            .cmp-container {
              > div:first-of-type {
                display: block;
              }
            }
          }

          .container:last-child {
            .cmp-container {
              > div:first-of-type {
                display: block;
              }
            }
          }
          .cmp-languagenavigation {
            .cmp-languagenavigation__label {
            }
          }
        }
      }
    }
  }
  .shape_container {
    padding: 1rem;
    .cmp-shape--container {
      .cmp-container {
        display: block;
      }
    }
  }
}

/* Preview Mode */
.aem-AuthorLayer-Preview {
  /* body {
    background: blue;
  } */
}

/* Layout Mode */
.aem-AuthorLayer-Layouting {
  /* body {
    background: green;
  } */
}

/* Developer Mode */
.aem-AuthorLayer-Developer {
  /* body {
    background: yellow;
  } */
}
/* Structure Mode */
.aem-AuthorLayer-structure {
  #lower-shape {
    display: none;
  }
  header.experiencefragment {
    position: relative;
  }
  .cmp-experiencefragment--shape {
    display: block;
    position: relative;
    z-index: 0;
  }
}
/* Initial Content Mode */
.aem-AuthorLayer-initial {
  /* body {
    background: purple;
  } */
}
/* Container Experience Fragment*/
.xf-web-container {
  /*  body {
    background: chocolate;
  } */
}
