
//== Container main content style, used on page template

main.container {
    padding: .5em 1em;
}

.section{
	container-type: inline-size;
	container-name: section-container;
}

.wrapper{
	width: clamp(20rem, 100%, 90rem);
	margin: 0 auto;
	container-type: inline-size;
	container-name: wrapper-container;
}

/*

**MEDIA QUERIES DA UTILIZZARE**


@include respond-to(small-devices) {}

@include respond-to(mobile) {}

@include respond-to(tablet) {}

@include respond-to(laptop) {}

@include respond-to(desktop) {}

*/