//== Container main content style, used on page template

main.container {
  padding: 0.5em 1em;
}

.section {
  container-type: inline-size;
  container-name: section-container;
}

.wrapper {
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
  container-type: inline-size;
  container-name: wrapper-container;
}

@container wrapper-container (min-width: 600px) {
  .wrapper {
    max-width: 720px;
  }
}

@container wrapper-container (min-width: 768px) {
  .wrapper {
    max-width: 960px;
  }
}

@container wrapper-container (min-width: 1024px) {
  .wrapper {
    max-width: 1140px;
  }
}

@container wrapper-container (min-width: 1440px) {
  .wrapper {
    max-width: 1440px;
  }
}

@container wrapper-container (min-width: 1920px) {
  .wrapper {
    max-width: 1600px;
  }
}

/***MEDIA QUERIES DA UTILIZZARE***/

/* Media Queries */

@include respond-to(mobile) {
  .wrapper {
    max-width: 37.5rem;
  }
}

@include respond-to(tablet) {
  .wrapper {
    max-width: 60rem;
  }
}

@include respond-to(laptop) {
  .wrapper {
    max-width: 71.25rem;
  }
}

@include respond-to(desktop) {
  .wrapper {
    max-width: 90rem;
  }
}
