
//== XF Footer style, used on page template

.cmp-experiencefragment--footer {
    padding: .5em 1em;
    
    .cmp-separator__horizontal-rule {
        margin: 0;
        border: 0;
    }
	#footer-mobile{
		display: none;
	}

	@media (max-width: 48rem){
		#footer-mobile{
			display: block;
		}
		#footer-desktop{
			display: none;
		}
	}
}