//== XF Footer style, used on page template

.cmp-experiencefragment--footer {
  //padding: 0.5em 1em;
}

.footer-desktop {
  display: none;
}
@include respond-to(tablet) {
  .footer-mobile {
    display: none;
  }
  .footer-desktop {
    display: block;
  }
}

/*

**MEDIA QUERIES DA UTILIZZARE**


@include respond-to(small-devices) {}

@include respond-to(mobile) {}

@include respond-to(tablet) {}

@include respond-to(laptop) {}

@include respond-to(desktop) {}

*/
