.aem-AuthorLayer-Edit {

    .cmp-header-navigation,
    .cmp-tabs__tabpanel,
    .cmp-container__general-megamenu {
        position: relative !important;
        z-index: 1000;
        top: auto !important;
    }

    .cmp-tabs {
        height: auto !important;
        margin-top: 20px;
    }

    .cmp-header-navigation {
        margin-top: 20px;
    }

    .cmp-header-navigation__menu {
        margin-top: 20px;
    }
}