// Top navigation 
.cq-Editable-dom {
    .top_header {
        background-color: $secondary;
        position: relative;
        max-height: none;
    }

    .cmp-header-navigation {
        position: relative;
        max-width: 100%;
        min-width: 100%;
        top: 0;
    }

    .cmp-tabs__tabpanel {
        position: relative;
    }
}