.cmp-heroslim {

    .cmp-hero-slim-quote-height {
        min-height: 365px;
        height: auto;
        @include media-breakpoint-up(md) {
            height: 365px;
        }
    }

    &.cmp-hero-slim-text-height {
        height: 380px;
    }

    .cmp-overlay {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(178deg, $secondary 0.49%, rgba(20, 63, 89, 0) 99.52%);
        z-index: 1;
    }

    .cmp-heroslim__quote {
        align-items: center;

        @include media-breakpoint-down(md) {
            align-items: end;
        }


    }

    .cmp-heroslim__imgWrapper {

        img {
            background-size: contain;
            object-fit: cover;
        }
    }

    .cmp-heroslim__contentWrapper {
        color: $white;
        z-index: 1;
        .cmp-heroslim__title {
            @extend %h1-extralight;
            @include media-breakpoint-down(md) {
                font-size: 2.0625rem;
            }
        }

        .cmp-quote-text p {
            @extend %h2-extralight;
            color: $white;
            line-height: 45px;
            @include media-breakpoint-up(lg) {
                width: 75%;
            }
        }

        .h1,
        .h2,
        .h3,
        .h4,
        .h5 {
            font-weight: 200;
        }
    }
}
