<sly data-sly-test="${properties.cardType == 'standard'}"
     data-sly-use.cardStandardTemplate="card-standard.html"
     data-sly-call="${cardStandardTemplate.cardStandard}"></sly>
<sly data-sly-test="${properties.cardType == 'hover'}"
     data-sly-use.cardHoverTemplate="card-hover.html"
     data-sly-call="${cardHoverTemplate.cardHover}"></sly>
<sly data-sly-test="${properties.cardType == 'avatar'}"
     data-sly-use.cardAvatarTemplate="card-avatar.html"
     data-sly-call="${cardAvatarTemplate.cardAvatar}"></sly>
<sly data-sly-test="${properties.cardType == 'round'}"
     data-sly-use.cardRoundTemplate="card-round.html"
     data-sly-call="${cardRoundTemplate.cardRound}"></sly>
<sly data-sly-test="${properties.cardType == 'label'}"
     data-sly-use.cardLabelTemplate="card-label.html"
     data-sly-call="${cardLabelTemplate.cardLabel}"></sly>

<div data-sly-test="${!properties.cardType}" data-emptytext="Card v2" class="cq-placeholder"></div>

