/*!***************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[1].use[2]!./node_modules/sass-loader/dist/cjs.js!./node_modules/glob-import-loader/index.js??ruleSet[1].rules[1].use[4]!./src/main/webpack/site/main.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************/
/* $color-foreground-dark: invert($color-foreground);
$color-background-dark: invert($color-background);
$color-link-dark:       invert($color-link); */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-size: 17px;
  font-family: "ArimoVariable", sans-serif;
  line-height: 1.5;
  color: #000000;
  background: #ffffff;
  /* @media (prefers-color-scheme: dark) {
  	  color:       $color-foreground-dark;
  	  background:  $color-background-dark;
    } */
}

a {
  color: #000000;
  /*  @media (prefers-color-scheme: dark) {
  	  color: $color-link-dark;
    } */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
}

.cmp-link__screen-reader-only {
  position: absolute;
  width: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}

.cmp-color--azure {
  color: #00adf2;
}

.cmp-color--blue {
  color: #38344d;
}

.cmp-color--default {
  color: #000000;
}

.cmp-font-weight--light {
  font-weight: 200;
}

@media (min-width: 320px) {
  body {
    font-size: calc(16px + 8 * (100vw - 390px) / 1530);
  }
}
@media (min-width: 1440px) {
  body {
    font-size: 24px;
  }
}
.m-0 {
  margin: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.m-auto {
  margin: auto !important;
}

.mx-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.mx-1 {
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important;
}

.mx-2 {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.mx-3 {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}

.mx-4 {
  margin-left: 1.5rem !important;
  margin-right: 1.5rem !important;
}

.mx-5 {
  margin-left: 3rem !important;
  margin-right: 3rem !important;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.my-0 {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.my-1 {
  margin-bottom: 0.25rem !important;
  margin-top: 0.25rem !important;
}

.my-2 {
  margin-bottom: 0.5rem !important;
  margin-top: 0.5rem !important;
}

.my-3 {
  margin-bottom: 1rem !important;
  margin-top: 1rem !important;
}

.my-4 {
  margin-bottom: 1.5rem !important;
  margin-top: 1.5rem !important;
}

.my-5 {
  margin-bottom: 3rem !important;
  margin-top: 3rem !important;
}

.my-auto {
  margin-bottom: auto !important;
  margin-top: auto !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 0.25rem !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.mt-auto {
  margin-top: auto !important;
}

.me-0 {
  margin-right: 0 !important;
}

.me-1 {
  margin-right: 0.25rem !important;
}

.me-2 {
  margin-right: 0.5rem !important;
}

.me-3 {
  margin-right: 1rem !important;
}

.me-4 {
  margin-right: 1.5rem !important;
}

.me-5 {
  margin-right: 3rem !important;
}

.me-auto {
  margin-right: auto !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.ms-0 {
  margin-left: 0 !important;
}

.ms-1 {
  margin-left: 0.25rem !important;
}

.ms-2 {
  margin-left: 0.5rem !important;
}

.ms-3 {
  margin-left: 1rem !important;
}

.ms-4 {
  margin-left: 1.5rem !important;
}

.ms-5 {
  margin-left: 3rem !important;
}

.ms-auto {
  margin-left: auto !important;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.px-1 {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important;
}

.px-2 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.px-3 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.px-4 {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
}

.px-5 {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}

.py-0 {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.py-1 {
  padding-bottom: 0.25rem !important;
  padding-top: 0.25rem !important;
}

.py-2 {
  padding-bottom: 0.5rem !important;
  padding-top: 0.5rem !important;
}

.py-3 {
  padding-bottom: 1rem !important;
  padding-top: 1rem !important;
}

.py-4 {
  padding-bottom: 1.5rem !important;
  padding-top: 1.5rem !important;
}

.py-5 {
  padding-bottom: 3rem !important;
  padding-top: 3rem !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: 0.25rem !important;
}

.pt-2 {
  padding-top: 0.5rem !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

.pt-4 {
  padding-top: 1.5rem !important;
}

.pt-5 {
  padding-top: 3rem !important;
}

.pe-0 {
  padding-right: 0 !important;
}

.pe-1 {
  padding-right: 0.25rem !important;
}

.pe-2 {
  padding-right: 0.5rem !important;
}

.pe-3 {
  padding-right: 1rem !important;
}

.pe-4 {
  padding-right: 1.5rem !important;
}

.pe-5 {
  padding-right: 3rem !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: 0.25rem !important;
}

.pb-2 {
  padding-bottom: 0.5rem !important;
}

.pb-3 {
  padding-bottom: 1rem !important;
}

.pb-4 {
  padding-bottom: 1.5rem !important;
}

.pb-5 {
  padding-bottom: 3rem !important;
}

.ps-0 {
  padding-left: 0 !important;
}

.ps-1 {
  padding-left: 0.25rem !important;
}

.ps-2 {
  padding-left: 0.5rem !important;
}

.ps-3 {
  padding-left: 1rem !important;
}

.ps-4 {
  padding-left: 1.5rem !important;
}

.ps-5 {
  padding-left: 3rem !important;
}

.cmp-helloworld__item-label {
  margin-bottom: 0;
}

.cmp-helloworld__item-output {
  margin-top: 0;
}

.cmp-navigation__item--level-0:hover > .cmp-navigation__group {
  background: #ECECEC;
}

header.experiencefragment {
  position: relative;
  z-index: 5;
  position: fixed;
  /* @media (prefers-color-scheme: dark) {
        border-bottom-color: $color-foreground-dark;
    } */
}
header.experiencefragment a {
  text-decoration: none;
  /* @media (prefers-color-scheme: dark) {
  color: $color-foreground-dark;
    } */
}
header.experiencefragment a:hover, header.experiencefragment a:focus {
  color: #17151f;
  text-decoration: none;
  /* @media (prefers-color-scheme: dark) {
  color: $color-link-dark;
    } */
}
header.experiencefragment .cmp-experiencefragment--header .container.responsivegrid:nth-child(1) {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background-color: transparent;
}
header.experiencefragment .cmp-container {
  display: grid;
}
header.experiencefragment .cmp-navigation__item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  font-size: 1rem;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #ffffff;
}
header.experiencefragment .cmp-navigation__group {
  list-style: none;
}
header.experiencefragment .cmp-navigation__item--active > .cmp-navigation__item-link {
  font-weight: bold;
}
header.experiencefragment .cmp-navigation__item--level-0 {
  font-size: 1.25rem;
}
header.experiencefragment .cmp-navigation__item--level-0:has(.cmp-navigation__group) .cmp-navigation__group {
  display: none; /* Initial state hidden */
}
header.experiencefragment .cmp-navigation__item--level-0:has(.cmp-navigation__group) .cmp-navigation__group.is-visible {
  display: block; /* Show group when is-visible class is added */
}
header.experiencefragment .cmp-navigation__item--level-0:has(.cmp-navigation__group) .cmp-navigation__item-link {
  gap: 0.5rem;
  position: relative; /* Needed for absolute positioning of toggle icon */
  font-family: "OswaldVariable", sans-serif;
  font-weight: 400;
}
header.experiencefragment .cmp-navigation__item--level-0:has(.cmp-navigation__group) .cmp-navigation__item-link .toggle-icon {
  content: " ";
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  background: url("/etc.clientlibs/laboratorio-guidotti/clientlibs/clientlib-site/resources/icons/icon-accordion-arrow-v1-white.svg") center center no-repeat;
  background-size: contain;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
header.experiencefragment .cmp-navigation__item--level-0:has(.cmp-navigation__group) .cmp-navigation__item-link.is-open .toggle-icon {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); /* Rotate arrow when open */
}
header.experiencefragment .cmp-navigation__item--level-0:has(.cmp-navigation__group) .cmp-navigation__item--level-1 .cmp-navigation__item-link::after {
  content: " ";
  display: none;
}
header.experiencefragment.scrolled .cmp-experiencefragment--header .container.responsivegrid:nth-child(1) {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background-color: #ffffff;
}
header.experiencefragment.scrolled .cmp-experiencefragment--header .container.responsivegrid:nth-child(1) .button .cmp-button {
  border-color: #000000;
}
header.experiencefragment.scrolled .cmp-experiencefragment--header .container.responsivegrid:nth-child(1) .button .cmp-button .cmp-button__text {
  color: #000000;
}
.header-desktop {
  display: none;
}

#navbarMobile {
  display: none;
}

#navbarMobile.is-visible {
  display: block;
}

.header-mobile a {
  text-decoration: none;
}
.header-mobile a:hover, .header-mobile a:focus {
  color: #00adf2 !important;
  background-color: #ffffff !important;
}
.header-mobile.scrolled #btnMenuMobile {
  padding: clamp(1rem, 1vw + 0.5rem, 1.5rem) clamp(0.25rem, 1vw + 0.25rem, 2rem);
}
.header-mobile.scrolled #btnMenuMobile .cmp-button__icon--hamburger {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background: url("/etc.clientlibs/laboratorio-guidotti/clientlibs/clientlib-site/resources/icons/icon-hamburger-deep-blue.svg") center center no-repeat;
}
.header-mobile .cmp-experiencefragment--header {
  z-index: 2;
}
.header-mobile .cmp-experiencefragment--header .cmp-navigation__group {
  margin: 0;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-mobile .cmp-experiencefragment--header .cmp-navigation__item {
  border-top: 0.125rem solid #ffffff;
  width: 100%;
  text-align: center;
  display: grid;
}
.header-mobile .cmp-experiencefragment--header .cmp-navigation__item-link {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header-mobile .cmp-experiencefragment--header .cmp-navigation__item--level-1 {
  border-top: 0.25rem solid #00adf2;
}
.header-mobile .cmp-experiencefragment--header .cmp-navigation__item--level-1 .cmp-navigation__item-link {
  background-color: #ffffff;
  color: #00adf2;
}
.header-mobile .cmp-experiencefragment--header .cmp-navigation__item--level-0 {
  border-top: 0.125rem solid #ffffff;
}
.header-mobile .cmp-experiencefragment--header .cmp-navigation__item--level-0:first-of-type {
  border-top: none;
}
.header-mobile .cmp-experiencefragment--header .container.responsivegrid:nth-child(1) {
  position: relative;
  padding: clamp(1.5rem, 4vw, 2.5rem);
}
.header-mobile .cmp-experiencefragment--header .container.responsivegrid:nth-child(1) .cmp-image {
  width: clamp(11.875rem, 1.5vw, 16.25rem);
}
.header-mobile .cmp-experiencefragment--header .container.responsivegrid:nth-child(1) .button {
  height: 100%;
}
.header-mobile .cmp-experiencefragment--header .container.responsivegrid:nth-child(1) .button .cmp-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0;
  border: none;
  width: 100%;
}
.header-mobile .cmp-experiencefragment--header .container.responsivegrid:nth-child(2) {
  position: fixed;
}
.header-mobile .cmp-experiencefragment--header .container.responsivegrid:nth-child(2) .button {
  border-top: 0.125rem solid #ffffff;
}
.header-mobile .cmp-experiencefragment--header .container.responsivegrid:nth-child(2) .button .cmp-button {
  border: 0.063rem solid #ffffff;
  margin: 1.25rem auto;
}

@media (min-width: 992px) {
  .header-mobile {
    display: none;
  }
  .header-desktop {
    display: block;
  }
  header.experiencefragment #navbar {
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  header.experiencefragment #navbar .xf-master-building-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 0.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header.experiencefragment #navbar .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header.experiencefragment #navbar .button .cmp-button__text {
    font-family: "OswaldVariable", sans-serif;
    border: 0.07rem solid #ffffff;
    padding: 0.7vw 1vw;
    text-align: center;
    border-radius: 5rem;
    font-size: 17px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  header.experiencefragment #navbar .button .cmp-button__text:hover {
    background-color: #ffffff;
    color: #00adf2;
    -webkit-box-shadow: 2px 2px 5px lightgray;
            box-shadow: 2px 2px 5px lightgray;
  }
  header.experiencefragment .container.responsivegrid:nth-child(1) {
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    padding: 0px clamp(0.7rem, 4vw, 1.7rem) 0px clamp(0.7rem, 4vw, 1.7rem);
  }
  header.experiencefragment .container.responsivegrid:nth-child(2) .cmp-navigation > .cmp-navigation__group {
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  header.experiencefragment .container.responsivegrid:nth-child(2) .cmp-navigation > .cmp-navigation__group .cmp-navigation__item-link {
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  header.experiencefragment.scrolled #navbar {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  header.experiencefragment.scrolled #navbar .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header.experiencefragment.scrolled #navbar .button .cmp-button__text {
    border: 0.07rem solid #00adf2;
    color: #000000;
  }
  header.experiencefragment.scrolled #navbar .button .cmp-button__text:hover {
    background-color: #00adf2;
    color: #ffffff;
    -webkit-box-shadow: 2px 2px 5px lightgray;
            box-shadow: 2px 2px 5px lightgray;
  }
  header.experiencefragment.scrolled .container.responsivegrid:nth-child(1) {
    padding: 0px clamp(1rem, 1vw, 2rem) 0px clamp(1rem, 1vw, 2rem);
  }
  header.experiencefragment.scrolled .container.responsivegrid:nth-child(2) .cmp-navigation > .cmp-navigation__group {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
  }
  header.experiencefragment.scrolled .languagenavigation .cmp-languagenavigation .cmp-languagenavigation__label {
    color: #000000;
  }
  header.experiencefragment.scrolled .languagenavigation .cmp-languagenavigation .cmp-languagenavigation__label .cmp-languagenavigation__label-text {
    color: #000000;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  header.experiencefragment.scrolled .languagenavigation .cmp-languagenavigation .cmp-languagenavigation__label .toggle-icon {
    width: 0.7rem;
    cursor: pointer;
    background: url("/etc.clientlibs/laboratorio-guidotti/clientlibs/clientlib-site/resources/icons/icon-accordion-arrow-v1-black.svg") center center no-repeat;
  }
  header.experiencefragment.scrolled .languagenavigation .cmp-languagenavigation > .cmp-languagenavigation__group {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    top: unset;
  }
  header.experiencefragment.scrolled .languagenavigation .cmp-languagenavigation > .cmp-languagenavigation__group .cmp-languagenavigation__item--level-0 .cmp-languagenavigation__item-link {
    color: #000000;
  }
  header.experiencefragment.scrolled .languagenavigation .cmp-languagenavigation > .cmp-languagenavigation__group .cmp-languagenavigation__item--level-0 .cmp-languagenavigation__item-link:hover {
    color: #00adf2;
  }
  header.experiencefragment .cmp-experiencefragment--header {
    position: relative;
    z-index: 2;
  }
  header.experiencefragment .cmp-experiencefragment--header #navbar > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header.experiencefragment .cmp-experiencefragment--header .languagenavigation {
    font-family: "ArimoVariable", sans-serif;
    font-size: 17px;
    font-weight: 300;
    letter-spacing: -1px;
  }
  header.experiencefragment .cmp-experiencefragment--header .container.responsivegrid:nth-child(1) {
    position: relative;
  }
  header.experiencefragment .cmp-experiencefragment--header .container.responsivegrid:nth-child(1) .cmp-image {
    width: clamp(10rem, 1.5vw, 16.25rem);
  }
  header.experiencefragment .cmp-experiencefragment--header .container.responsivegrid:nth-child(1) .cmp-image .cmp-image__image {
    padding-top: 10px;
  }
  header.experiencefragment .cmp-experiencefragment--header .container.responsivegrid:nth-child(2) {
    position: relative;
  }
  header.experiencefragment .cmp-experiencefragment--header .container.responsivegrid:nth-child(2) .button {
    border-top: 0.125rem solid #ffffff;
  }
  header.experiencefragment .cmp-experiencefragment--header .container.responsivegrid:nth-child(2) .button .cmp-button {
    border: 0.063rem solid #ffffff;
    margin: 1.25rem auto;
  }
  header.experiencefragment .cmp-navigation {
    background-color: rgba(255, 255, 255, 0.7);
  }
  header.experiencefragment .cmp-navigation__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border: none;
    margin: 0;
    max-height: 4.5rem;
    font-family: "OswaldVariable", sans-serif;
    -webkit-font-smoothing: antialiased;
  }
  header.experiencefragment .cmp-navigation__item-link {
    color: #38344d;
    font-size: 1.12rem;
    padding: 1.2rem 1rem;
    font-weight: 400;
  }
  header.experiencefragment .cmp-navigation__item--level-0 {
    position: relative;
  }
  header.experiencefragment .cmp-navigation__item--level-0:has(.cmp-navigation__group) .cmp-navigation__item-link .toggle-icon {
    width: 0.7rem;
    background: url("/etc.clientlibs/laboratorio-guidotti/clientlibs/clientlib-site/resources/icons/icon-accordion-arrow-v1-black.svg") center center no-repeat;
  }
  header.experiencefragment .cmp-navigation__item--level-0:has(.cmp-navigation__group) .cmp-navigation__group {
    position: relative;
  }
  header.experiencefragment .cmp-navigation__item--level-0:has(.cmp-navigation__group) .cmp-navigation__group .cmp-navigation__item {
    position: relative;
  }
  header.experiencefragment .cmp-navigation__item--level-0:has(.cmp-navigation__group) .cmp-navigation__group.is-visible {
    position: absolute;
    left: 1rem;
    top: 3.3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    gap: 0.2rem;
    padding: 0;
  }
  header.experiencefragment .cmp-navigation__item--level-1 {
    background-color: #00adf2;
  }
  header.experiencefragment .cmp-navigation__item--level-1 .cmp-navigation__item-link {
    color: #ffffff;
    font-size: 17px;
    padding: 0.3rem 0.5rem;
  }
  header.experiencefragment .cmp-languagenavigation {
    position: relative;
  }
  header.experiencefragment .cmp-languagenavigation .toggle-icon {
    width: 0.7rem;
    cursor: pointer;
    background: url("/etc.clientlibs/laboratorio-guidotti/clientlibs/clientlib-site/resources/icons/icon-accordion-arrow-v1-white.svg") center center no-repeat;
  }
  header.experiencefragment .cmp-languagenavigation .cmp-languagenavigation__label {
    color: #ffffff;
  }
  header.experiencefragment .cmp-languagenavigation .cmp-languagenavigation__label .cmp-languagenavigation__label-text {
    color: #ffffff;
  }
  header.experiencefragment .cmp-languagenavigation > .cmp-languagenavigation__group {
    visibility: hidden;
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
    position: absolute;
    top: 2.125rem;
    width: 100%;
    padding: 0 0.5rem;
    border-top: 0;
    background-color: transparent;
    text-align: end;
  }
  header.experiencefragment .cmp-languagenavigation > .cmp-languagenavigation__group .cmp-languagenavigation__item--level-0 .cmp-languagenavigation__item-link {
    color: #ffffff;
  }
  header.experiencefragment .cmp-languagenavigation > .cmp-languagenavigation__group .cmp-languagenavigation__item--level-0 .cmp-languagenavigation__item-link:hover {
    color: #cccccc;
  }
  header.experiencefragment .cmp-languagenavigation.is-open .cmp-languagenavigation__group {
    visibility: visible;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  header.experiencefragment .cmp-languagenavigation__item--level-1 {
    display: inline;
  }
}
footer {
  z-index: 1;
}

.footer-desktop {
  display: none;
}

.cmp-experiencefragment--footer {
  position: relative;
}
.cmp-experiencefragment--footer .cmp-text p {
  color: #636363;
  margin: 0.5rem auto;
  font-size: 0.9rem;
}
.cmp-experiencefragment--footer .cmp-text p a {
  text-decoration: none;
}
.cmp-experiencefragment--footer .cmp-text p a:hover {
  color: black;
}
.cmp-experiencefragment--footer .cmp-list {
  text-align: center;
  padding: 0;
}
.cmp-experiencefragment--footer .cmp-list .cmp-list__item {
  list-style-type: none;
  margin-bottom: 0.5rem;
}
.cmp-experiencefragment--footer .cmp-list .cmp-list__item:hover {
  color: #00adf2;
}

/*

**MEDIA QUERIES DA UTILIZZARE**


@include respond-to(small-devices) {}

@include respond-to(mobile) {}

@include respond-to(tablet) {}

@include respond-to(laptop) {}

@include respond-to(desktop) {}

*/
#footerMobileFirstContainer > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#footerMobileFirstContainer > div .cmp-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
#footerMobileFirstContainer > div .cmp-button .cmp-button__icon {
  width: 3rem;
  height: 3rem;
}
#footerMobileFirstContainer > div .cmp-languagenavigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

#footerMobileSecondContainer .cmp-text p {
  font-size: 0.8rem;
}
#footerMobileSecondContainer .xf-master-building-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 992px) {
  .footer-mobile {
    display: none;
  }
  .footer-desktop {
    display: block;
    margin-top: 3rem;
  }
  .cmp-experiencefragment--footer #footerFirstContainer .buildingblock:first-child .xf-master-building-block .image {
    margin-bottom: 2.5rem;
  }
  .cmp-experiencefragment--footer #footerFirstContainer .buildingblock:first-child .xf-master-building-block .text:nth-child(2) .cmp-text p {
    font-size: 0.7rem;
  }
  .cmp-experiencefragment--footer #footerFirstContainer .buildingblock:nth-child(2) .xf-master-building-block .container:nth-child(1) .cmp-container > div:first-of-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .cmp-experiencefragment--footer #footerFirstContainer .buildingblock:nth-child(2) .xf-master-building-block .container:nth-child(1) .cmp-container > div:first-of-type .image {
    max-height: 6rem;
    max-width: 10rem;
  }
  .cmp-experiencefragment--footer #footerFirstContainer .buildingblock:nth-child(2) .xf-master-building-block .container:nth-child(1) .cmp-container > div:first-of-type .image:first-of-type .cmp-image__image {
    max-width: 6rem;
  }
  .cmp-experiencefragment--footer #footerFirstContainer .buildingblock:nth-child(2) .xf-master-building-block .container:nth-child(2) .cmp-text P a:hover {
    color: #00adf2;
  }
  .cmp-experiencefragment--footer #footerFirstContainer .buildingblock:nth-child(2) .xf-master-building-block .container:last-child .cmp-container > div:first-of-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    gap: 0.5rem;
  }
  .cmp-experiencefragment--footer #footerFirstContainer .buildingblock:nth-child(2) .xf-master-building-block .container:last-child .cmp-container > div:first-of-type .button {
    max-width: 3rem;
  }
  .cmp-experiencefragment--footer #footerFirstContainer .buildingblock:nth-child(2) .xf-master-building-block .container:last-child .cmp-container > div:first-of-type .button .cmp-button {
    margin: 0;
    padding: 0;
  }
  .cmp-experiencefragment--footer #footerFirstContainer .buildingblock:nth-child(2) .xf-master-building-block .container:last-child .cmp-container > div:first-of-type .button .cmp-button .cmp-button__icon {
    width: 3rem;
    height: 3rem;
  }
  .cmp-experiencefragment--footer #footerFirstContainer .buildingblock:nth-child(2) .xf-master-building-block .cmp-languagenavigation {
    position: relative;
  }
  .cmp-experiencefragment--footer #footerFirstContainer .buildingblock:nth-child(2) .xf-master-building-block .cmp-languagenavigation .cmp-languagenavigation__label {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    font-size: clamp(0.8rem, 1vw, 1rem);
  }
  .cmp-experiencefragment--footer #footerFirstContainer .buildingblock:nth-child(2) .xf-master-building-block .cmp-languagenavigation .cmp-languagenavigation__label .toggle-icon {
    cursor: pointer;
  }
  .cmp-experiencefragment--footer #footerSecondContainer {
    margin: 2rem auto;
  }
  .cmp-experiencefragment--footer #footerSecondContainer .cmp-container div:first-of-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cmp-experiencefragment--footer #footerSecondContainer .cmp-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: clamp(1rem, 1vw, 3.5rem);
    padding: 0;
    margin: 0;
    padding-right: 0.5rem;
  }
  .cmp-experiencefragment--footer #footerSecondContainer .cmp-list .cmp-list__item-link {
    text-decoration: none;
    font-size: clamp(0.8rem, 1vw, 1rem);
  }
  .cmp-experiencefragment--footer #footerSecondContainer .cmp-list .cmp-list__item-link:hover {
    color: #00adf2;
  }
}
@font-face {
  font-family: "OswaldVariable";
  src: url("/etc.clientlibs/laboratorio-guidotti/clientlibs/clientlib-site/resources/fonts/Oswald-VariableFont_wght.ttf") format("woff2-variations");
  font-weight: 200 700; /* Intervallo dei pesi */
}
@font-face {
  font-family: "ArimoVariableItalic";
  src: url("/etc.clientlibs/laboratorio-guidotti/clientlibs/clientlib-site/resources/fonts/Arimo-Italic-VariableFont_wght.ttf") format("woff2-variations");
  font-weight: 100 900; /* Intervallo dei pesi */
}
@font-face {
  font-family: "ArimoVariable";
  src: url("/etc.clientlibs/laboratorio-guidotti/clientlibs/clientlib-site/resources/fonts/Arimo-VariableFont_wght.ttf") format("woff2-variations");
  font-weight: 100 900; /* Intervallo dei pesi */
}
.library {
  position: relative;
  width: 100%;
  margin: 5% auto;
  max-width: 90rem;
}

.maximum-heigth {
  height: 100%;
}

.maximum-width {
  width: 100%;
}

img.cq-LinkChecker.cq-LinkChecker--invalid {
  height: auto !important;
}

.maindocs {
  height: inherit;
}
.maindocs header.cmp-experiencefragment--header {
  position: relative;
}
.maindocs header.cmp-experiencefragment--header .cmp-navbar {
  padding: 0 1em;
}
.maindocs .library {
  max-width: 1500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 4%;
}
.maindocs .cmp-accordion--docs {
  display: block;
  margin: 0;
  padding: 0;
}
.maindocs .cmp-accordion__item {
  position: relative;
}
.maindocs .cmp-accordion__button {
  position: relative;
  border: 0;
  border-bottom: 0.0625rem solid;
  padding: 0.5rem 0;
  background: 0;
  border-color: #000000;
  color: #000000;
  font: inherit;
  cursor: pointer;
}
.maindocs .cmp-accordion__button--disabled {
  cursor: default;
}
.maindocs .cmp-accordion__button--expanded {
  color: #636363;
}
.maindocs .cmp-accordion__button:hover {
  color: #a26c6c;
}
.maindocs .cmp-accordion__button:not(.cmp-accordion__button--expanded) .cmp-accordion__icon:before {
  content: "+";
}
.maindocs .cmp-accordion__button .cmp-accordion__icon {
  position: absolute;
  top: 0.625rem;
  right: 0.5rem;
  width: 18px;
  height: 18px;
  font-size: 20px;
}
.maindocs .cmp-accordion__button .cmp-accordion__icon:before {
  content: "-";
}
.maindocs .cmp-accordion__panel {
  padding: 0.75rem 0;
  position: relative;
}
.maindocs .footer-docs {
  position: relative;
  bottom: 0;
  margin-top: 2rem;
  max-width: inherit;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.maindocs .cmp-accordion--custom-style .cmp-accordion .cmp-accordion__item .cmp-accordion__button {
  position: unset;
}
.maindocs .cmp-accordion--custom-style .cmp-accordion .cmp-accordion__item .cmp-accordion__button:not(.cmp-accordion__button--expanded) .cmp-accordion__icon:before {
  content: unset;
}
.maindocs .cmp-accordion--custom-style .cmp-accordion .cmp-accordion__item .cmp-accordion__button .cmp-accordion__icon {
  top: unset;
  right: unset;
}
.maindocs .cmp-accordion--custom-style .cmp-accordion .cmp-accordion__item .cmp-accordion__button .cmp-accordion__icon::before {
  content: unset;
}
.maindocs .cmp-accordion--custom-style .cmp-accordion .cmp-accordion__item .cmp-accordion__panel--expanded .container {
  padding: unset;
}

main.container {
  padding: 0.5em 1em;
}

footer.experiencefragment {
  padding: 0.5em 1em;
  border-top: 1px solid #636363;
}
@media (prefers-color-scheme: dark) {
  footer.experiencefragment {
    border-color: #636363;
  }
}
footer.experiencefragment .cmp-separator__horizontal-rule {
  margin: 0;
  border: 0;
}

header.experiencefragment {
  padding: 0.5em 1em;
  border-bottom: 1px solid #636363;
}
@media (prefers-color-scheme: dark) {
  header.experiencefragment {
    border-bottom-color: #636363;
  }
}
header.experiencefragment a {
  color: #636363;
  text-decoration: none;
}
@media (prefers-color-scheme: dark) {
  header.experiencefragment a {
    color: #636363;
  }
}
header.experiencefragment a:hover, header.experiencefragment a:focus {
  color: #00adf2;
  text-decoration: underline;
  /*  @media (prefers-color-scheme: dark) {
       color: $color-link-dark;
   } */
}
header.experiencefragment .cmp-container {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
}
header.experiencefragment .cmp-navigation__group {
  margin: 0;
  padding: 0;
  list-style: none;
}
header.experiencefragment .cmp-navigation__item--level-0 {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
header.experiencefragment .cmp-navigation__item--level-0 > .cmp-navigation__group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
header.experiencefragment .cmp-navigation__item-link {
  display: block;
}
header.experiencefragment .cmp-navigation__item--active > .cmp-navigation__item-link {
  font-weight: bold;
}
header.experiencefragment .cmp-languagenavigation {
  position: relative;
}
header.experiencefragment .cmp-languagenavigation::before {
  content: " ";
  display: block;
  height: 1.5em;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="rgb(99,99,99)" d="M12.1,0.2h-0.1c-3.1,0-6.1,1.3-8.3,3.5C1.4,6,0.2,8.9,0.2,12.1c0,3.1,1.3,6.1,3.5,8.3c2.2,2.2,5.1,3.4,8.3,3.4 c0,0,0,0,0.1,0c6.5,0,11.7-5.3,11.7-11.8C23.7,5.5,18.5,0.3,12.1,0.2z M18.3,11.5c-0.1-1.4-0.3-2.8-0.7-4.1C18.5,7,19.4,6.5,20.3,6 c1.1,1.6,1.9,3.5,2,5.5H18.3z M22.2,12.5c-0.1,2.1-0.8,4-2,5.5c-0.8-0.6-1.7-1-2.6-1.4c0.3-1.1,0.6-2.2,0.7-3.3c0-0.3,0-0.5,0-0.8 H22.2z M19.6,5.2c-0.8,0.5-1.6,0.9-2.4,1.3c-0.6-1.4-1.4-2.7-2.3-3.8c-0.2-0.2-0.4-0.4-0.6-0.6C16.4,2.5,18.3,3.7,19.6,5.2z M12.8,22.2c-0.1,0-0.2,0-0.3,0v-5.7c1.3,0,2.6,0.3,3.8,0.7C15.6,19.1,14.3,20.8,12.8,22.2z M9.9,20.8c-0.9-1.1-1.7-2.3-2.2-3.6 c1.2-0.4,2.5-0.6,3.8-0.7v5.7c-0.1,0-0.2,0-0.3,0C10.7,21.8,10.3,21.3,9.9,20.8z M11.4,1.8c0,0,0.1,0,0.1,0v5.7 c-1.3,0-2.6-0.3-3.8-0.7C8.5,4.9,9.7,3.2,11.4,1.8z M14.1,3.3c0.9,1.1,1.6,2.3,2.2,3.5c-1.2,0.4-2.5,0.6-3.8,0.7V1.8 c0.1,0,0.1,0,0.2,0C13.2,2.2,13.7,2.7,14.1,3.3z M16.7,7.7c0.4,1.2,0.6,2.5,0.7,3.8h-4.8V8.4C13.9,8.4,15.3,8.2,16.7,7.7z M11.5,8.4 v3.1H6.7C6.7,10.2,7,9,7.4,7.7C8.7,8.2,10.1,8.4,11.5,8.4z M11.5,12.5v3.1c-1.4,0-2.8,0.3-4.2,0.7c-0.4-1.2-0.6-2.5-0.7-3.8H11.5z M12.5,15.6v-3.1h4.8c0,0.2,0,0.5,0,0.7c-0.1,1.1-0.3,2.1-0.6,3.1C15.3,15.8,13.9,15.6,12.5,15.6z M9.6,2C8.4,3.3,7.4,4.8,6.8,6.5 C5.9,6.1,5.1,5.7,4.4,5.2c0.1-0.1,0.2-0.3,0.4-0.4C6.1,3.4,7.8,2.5,9.6,2z M5.7,11.5H1.8c0.1-2,0.8-3.9,1.9-5.5 C4.6,6.5,5.5,7,6.4,7.4C6,8.7,5.7,10.1,5.7,11.5z M6.4,16.6C5.5,17,4.6,17.5,3.7,18c-1.2-1.6-1.9-3.5-1.9-5.5h3.9 C5.7,13.9,5.9,15.3,6.4,16.6z M4.4,18.8c0.8-0.5,1.5-0.9,2.4-1.3c0.6,1.4,1.4,2.7,2.4,3.9c0.1,0.2,0.3,0.3,0.4,0.5 c-1.8-0.4-3.4-1.3-4.7-2.7C4.6,19.1,4.5,19,4.4,18.8z M14.5,21.9c1.2-1.3,2.1-2.8,2.8-4.4c0.8,0.3,1.6,0.8,2.4,1.2 C18.3,20.3,16.5,21.4,14.5,21.9z"/></svg>');
  background-repeat: no-repeat;
}
@media (prefers-color-scheme: dark) {
  header.experiencefragment .cmp-languagenavigation::before {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="rgb(99,99,99)" d="M12.1,0.2h-0.1c-3.1,0-6.1,1.3-8.3,3.5C1.4,6,0.2,8.9,0.2,12.1c0,3.1,1.3,6.1,3.5,8.3c2.2,2.2,5.1,3.4,8.3,3.4 c0,0,0,0,0.1,0c6.5,0,11.7-5.3,11.7-11.8C23.7,5.5,18.5,0.3,12.1,0.2z M18.3,11.5c-0.1-1.4-0.3-2.8-0.7-4.1C18.5,7,19.4,6.5,20.3,6 c1.1,1.6,1.9,3.5,2,5.5H18.3z M22.2,12.5c-0.1,2.1-0.8,4-2,5.5c-0.8-0.6-1.7-1-2.6-1.4c0.3-1.1,0.6-2.2,0.7-3.3c0-0.3,0-0.5,0-0.8 H22.2z M19.6,5.2c-0.8,0.5-1.6,0.9-2.4,1.3c-0.6-1.4-1.4-2.7-2.3-3.8c-0.2-0.2-0.4-0.4-0.6-0.6C16.4,2.5,18.3,3.7,19.6,5.2z M12.8,22.2c-0.1,0-0.2,0-0.3,0v-5.7c1.3,0,2.6,0.3,3.8,0.7C15.6,19.1,14.3,20.8,12.8,22.2z M9.9,20.8c-0.9-1.1-1.7-2.3-2.2-3.6 c1.2-0.4,2.5-0.6,3.8-0.7v5.7c-0.1,0-0.2,0-0.3,0C10.7,21.8,10.3,21.3,9.9,20.8z M11.4,1.8c0,0,0.1,0,0.1,0v5.7 c-1.3,0-2.6-0.3-3.8-0.7C8.5,4.9,9.7,3.2,11.4,1.8z M14.1,3.3c0.9,1.1,1.6,2.3,2.2,3.5c-1.2,0.4-2.5,0.6-3.8,0.7V1.8 c0.1,0,0.1,0,0.2,0C13.2,2.2,13.7,2.7,14.1,3.3z M16.7,7.7c0.4,1.2,0.6,2.5,0.7,3.8h-4.8V8.4C13.9,8.4,15.3,8.2,16.7,7.7z M11.5,8.4 v3.1H6.7C6.7,10.2,7,9,7.4,7.7C8.7,8.2,10.1,8.4,11.5,8.4z M11.5,12.5v3.1c-1.4,0-2.8,0.3-4.2,0.7c-0.4-1.2-0.6-2.5-0.7-3.8H11.5z M12.5,15.6v-3.1h4.8c0,0.2,0,0.5,0,0.7c-0.1,1.1-0.3,2.1-0.6,3.1C15.3,15.8,13.9,15.6,12.5,15.6z M9.6,2C8.4,3.3,7.4,4.8,6.8,6.5 C5.9,6.1,5.1,5.7,4.4,5.2c0.1-0.1,0.2-0.3,0.4-0.4C6.1,3.4,7.8,2.5,9.6,2z M5.7,11.5H1.8c0.1-2,0.8-3.9,1.9-5.5 C4.6,6.5,5.5,7,6.4,7.4C6,8.7,5.7,10.1,5.7,11.5z M6.4,16.6C5.5,17,4.6,17.5,3.7,18c-1.2-1.6-1.9-3.5-1.9-5.5h3.9 C5.7,13.9,5.9,15.3,6.4,16.6z M4.4,18.8c0.8-0.5,1.5-0.9,2.4-1.3c0.6,1.4,1.4,2.7,2.4,3.9c0.1,0.2,0.3,0.3,0.4,0.5 c-1.8-0.4-3.4-1.3-4.7-2.7C4.6,19.1,4.5,19,4.4,18.8z M14.5,21.9c1.2-1.3,2.1-2.8,2.8-4.4c0.8,0.3,1.6,0.8,2.4,1.2 C18.3,20.3,16.5,21.4,14.5,21.9z"/></svg>');
  }
}
header.experiencefragment .cmp-languagenavigation > .cmp-languagenavigation__group {
  visibility: hidden;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  position: absolute;
  top: 34px;
  width: 20em;
  padding: 0 8px;
  border: 1px solid #636363;
  border-top: 0;
  background: #ffffff;
  /*  @media (prefers-color-scheme: dark) {
       border-color: $color-text-grey;
       background: $color-background-dark;
   } */
}
header.experiencefragment .cmp-languagenavigation:hover > .cmp-languagenavigation__group {
  visibility: visible;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
header.experiencefragment .cmp-languagenavigation__group {
  margin: 0;
  padding: 0;
  list-style: none;
}
header.experiencefragment .cmp-languagenavigation__item-title {
  font-size: x-small;
  text-transform: uppercase;
}
header.experiencefragment .cmp-languagenavigation__item--level-0 {
  margin-bottom: 0.5em;
}
header.experiencefragment .cmp-languagenavigation__item--level-1 {
  display: inline;
}
header.experiencefragment .cmp-languagenavigation__item--level-1:not(:first-child)::before {
  content: " | ";
}
header.experiencefragment .cmp-languagenavigation__item--active > .cmp-languagenavigation__item-link {
  font-weight: bold;
}
header.experiencefragment .cmp-search__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -3px 0;
}
header.experiencefragment .cmp-search__input {
  height: 26px;
}
