// Base
html,
body {
    margin: 0;
    font-size: $font-size;
    line-height: $text-line-height;
    font-weight: $font-regular;
    color: $body-color;
    background: $white;

    // @media (prefers-color-scheme: dark) {
    //     color: $color-foreground-dark;
    //     background: $color-background-dark;
    // }
}

// Headings
h1,
.h1 {
    @extend %h1;

    &.h1-light {
        @extend %h1-extralight;
    }
}

h2,
.h2 {
    @extend %h2;

    &.h2-light {
        @extend %h2-extralight;
    }
}

h3,
.h3 {
    @extend %h3;

    &.h3-light {
        @extend %h3-extralight;
    }
}

h4,
.h4 {
    @extend %h4;

    &.h4-light {
        @extend %h4-extralight;
    }
}

h5,
.h5 {
    @extend %h5;

    &.h5-light {
        @extend %h5-extralight;
    }
}

h6,
.h6 {
    @extend %h6;

    &.h6-light {
        @extend %h6-extralight;
    }
}

// Text 

p,
.text {
    @extend %text;
}

.text-bold {
    @extend %text-bold;
}

.text-small-bold {
    @extend %text-small-bold;
}

.text-small-light {
    @extend %text-small-light;
}

.text-super-small-bold {
    @extend %text-super-small-bold;
}

.text-super-small-light {
    @extend %text-super-small-light;
}

// Links

a {
    color: $color-link;

    // @media (prefers-color-scheme: dark) {
    //     color: $color-link-dark;
    // }
}

// Buttons
button,
input,
optgroup,
select,
textarea {
    font: inherit;
}

// Radio Button
input[type=radio] {
    accent-color: $fm-color-blue-link;
}

// Sign up form

.cmp-signupform__cta, .cmp-signinform__cta {
    padding: 10px 50px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    font-family: $headings-font-family;

    @include media-breakpoint-down(lg) {
        width: 100%;
    }
}