//== Base

html,
body {
    margin: 0;
    font-size:   $font-size;
    font-family: $font-family;
    line-height: $font-height;
    color:       $color-foreground;
    background:  $color-background;
    
    @media (prefers-color-scheme: dark) {
        color:       $color-foreground-dark;
        background:  $color-background-dark;
    }
}

h2 {
    font-size: 40px;
    font-weight: 250;
    line-height: 45px;
}


a {
    color: $color-link;

    @media (prefers-color-scheme: dark) {
        color: $color-link-dark;
    }
}

button,
input,
optgroup,
select,
textarea {
    font: inherit;
}


.cta-fondazione-primary {
    color: $white;
    background-color: $color-fondazione-red;
    padding: 10px 50px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    border: none;
}


// INIZIO RADIO BUTTON
input[type=radio] {
    accent-color: $color-fondazione-form-link;
}
// FINE RADIO BUTTON
