@font-face {
    font-family: 'Oswald';
    src: url('./../resources/fonts/Oswald-VariableFont_wght.ttf');
    font-weight: 200 700;
}

@font-face {
    font-family: 'Oswald';
    src: url('./../resources/fonts/Arimo-VariableFont_wght.ttf');
    font-weight: 100 900;
}



@font-face {
    font-family: 'OswaldVariable';
    src: url('/etc.clientlibs/fondazione/clientlibs/clientlib-site/resources/fonts/Oswald-VariableFont_wght.ttf') format('woff2-variations');
    font-weight: 200 700; /* Intervallo dei pesi */
}

@font-face {
    font-family: 'ArimoVariableItalic';
    src: url('/etc.clientlibs/fondazione/clientlibs/clientlib-site/resources/fonts/Arimo-Italic-VariableFont_wght.ttf') format('woff2-variations');
    font-weight: 100 900; /* Intervallo dei pesi */
}

@font-face {
    font-family: 'ArimoVariable';
    src: url('/etc.clientlibs/fondazione/clientlibs/clientlib-site/resources/fonts/Arimo-VariableFont_wght.ttf') format('woff2-variations');
    font-weight: 100 900; /* Intervallo dei pesi */
}