.button {
    display: flex;

    &.justify-content-right {
        .cmp-button {
            justify-content: end;
            margin-right: 1rem;
        }
    }
    &.justify-content-left {
        .cmp-button {
            justify-content: start;
            margin-left: 1rem;
        }
    }
}

.cmp-title--primary {
	.cmp-button {
		background-color: $color-primary;

		&:hover {
			background-color: $color-primary-hover;
			color: $white;
		}
	}
}

.cmp-title--secondary {
	.cmp-button {
		background-color: $color-secondary;
		
		&:hover {
			background-color: $color-secondary-hover;
			color: $white;
		}
	}
}
.cmp-button--navbar{
	.cmp-button {
		padding: 10px 30px;
		font-size: 15px;
		border: 1px solid $white;
		max-width: 200px;
		margin: 0 auto;
		&:hover{
			color: $white;
			cursor: pointer;
		}
	}
}

.cmp-button--small {
	.cmp-button {
		padding: 7px 25px;
		font-size: 15px;
	}
}

.cmp-button {
	padding: 18px 35px;
	color: $white;
	text-decoration: none;
	transition: 0.5s;
	display: flex;
	font-size: 16px;
	border: 0px;

	.cmp-button__text {
		text-transform: uppercase;
		font-family: $font-family-oswald;
		font-weight: $font-medium;
	}

	.cmp-button__icon {
		&--search{
			background-image: url($resources-path + '/images/icons/search.svg');
			background-repeat: no-repeat;
			width: 25px;
			height: 25px;
			display: block;
			order: 2;
			margin-left: 10px;
		}
	}
}

.cmp-text-center .cmp-button .cmp-button__text {
	margin: 0px auto;
}
