.container {
	max-width: 100%;
	padding: 0;
}

.cmp-container--standard_width {
	margin: 0 auto;
	float: inherit !important;
	padding: 0 25px;

}

.cmp-container--border {
	border: 1px solid $color-third;
	padding: 3%;

	.cmp-title__text {
		font-size: 30px;
		font-weight: $font-extra-light !important;
		color: $color-corporate;
		line-height: 1.2;
		margin: 0 0 20px;
	}
}

.cmp-container {
	&--text-image {
		.cmp-image__image {
			width: 100%;
			height: auto;
			max-width: 100%;
			vertical-align: middle;
			border-style: none;
			border: 0;
			position: relative;
			min-height: 0px;
		}

		.image,
		.text {
			margin-top: 10px;
			margin-bottom: 10px;

			@media (max-width: 768px) {
				width: 100% !important;
			}

			.cmp-text {
				font-weight: $font-regular;
				font-family: $font-family-arimo;
				font-size: 18px;
				line-height: 25px;
				color: $color-text;
				padding-right: 30px;

				@media (max-width: 768px) {
					padding-right: 0;
				}
			}
		}

	}

}

@media (max-width: 768px) {
	.containerTestComponent {
		padding: 0.3rem !important;

		.cmp-accordion__panel {
			padding: 0.3rem !important;
			;
		}
	}
}

@media (min-width: 1440px) {
	.cmp-container--standard_width {
		max-width: 864pt;//1152px
	}
}
@media (min-width: 1600px) {
	.cmp-container--standard_width {
		max-width: 966pt;//1288px
	}
}
@media (min-width: 1800px) {
	.cmp-container--standard_width {
		max-width: 1080pt;//1440px
	}
}

@media (min-width: 1920px) {
	.cmp-container--standard_width {
		max-width: 1200pt;//1600px
	}
}
