.cmp-navbar {
	background-color: $color-corporate;
	max-height: 40px;
	&.cq-Editable-dom {
		max-height: 100%;
		.text {
			margin-bottom: 1em;
		}
	}
	.text{
		margin: 5px 0;
	}
	&.buildingblock {
		&-mobile {
			top: 100px;
			position: fixed;
			height: calc(100vh - 100px);
			width: 100vw;
			border-radius: 0px;
			left: 100%;
			transition: left 0.8s ease-in;
			border: 0px;
			background-color: $color-six;
			display: block;
			overflow-y: auto;
			padding-top: 1.5em;
			margin-top: 0px;
			z-index: 999;
			&--active {
				left: 0%;
			}
		}
	}
	&-overlayer {
		position: fixed;
		display: none;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 88;
		cursor: pointer;
	}
	
	.cmp-text {
		font-family: $font-family-georgia;
		font-style: italic;
		font-weight: normal;
		color: $white;
		position: relative;
		top: 5px;
		p {
			margin: 0;
			a {
				display: block;
				margin: 0;
				font-family: $font-family-oswald;
				font-weight: $font-regular;
				color: $white;
				font-style: normal;
				text-decoration: none;
				&:hover {
					background-color: transparent;
					color: $white;
					text-decoration: underline;
				}
			}
		}
	}
	&--text-mobile {
		display: none;
	}
}

@media (max-width: 1200px) {
	.cmp-navbar {
		.buildingblock {
			.cmp-text {
				visibility: hidden;
			}
		}
		&--text-mobile {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 100%;
			background-color: $color-six;
			padding-top: 10px;
			padding-bottom: 10px;
			margin-top: 50px;
			.cmp-text {
				text-transform: uppercase;
				font-size: 16px;
				font-family: Oswald, Tahoma, Arial, Helvetica, sans-serif;
				color: $color-text !important;
				text-align: center;
				p {
					text-align: center !important;
					a{
						color: $color-text !important;
						text-decoration: none;
					}
				}
			}
		}
	}
}
@media (max-width: 375px) {
	.cmp-navbar{
		max-height: 60px;
	}
}
