.news-archive {
  ul {
	display: flex;
	flex-direction: column;
	gap: 10px;
    .cmp-list__item {
		display: inline-flex;
      list-style-type: none;
      &-link {
        font-family: $font-family-oswald;
        font-weight: 100;
        text-align: left;
        color: $color-corporate;
        font-size: 30px;
        line-height: 38px;
        float: left;
        margin-left: 20px;
      }

      &::before {
        float: left;
        display: inline;
        padding-right: 20px;
        content: " ";
        width: 36px;
        height: 0px;
        border: 1px solid $color-corporate;
        margin-top: 20px;
        font-weight: 100;
      }
	  &::after{
		content: "";
		display: block;
		position: relative;
		background-image: url('/etc.clientlibs/menarinimaster/clientlibs/clientlib-site/resources/images/icons/freccia_right.svg');
		background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
		width: 30px;
		height: 40px;
		margin: 0 5px;
	  }
    }
  }
}
