.cmp-product-leaflet {
	padding: 0px !important;
	margin-bottom: 25px;

	.cmp-container {
		border: solid 1px $color-fourth;
		display: flex;
		padding: 25px;
		.cmp-text{
			font-weight: $font-regular;
			font-family: $font-family-arimo;
			font-size: 18px;
			line-height: 25px;
			color: $color-text;
			padding-right: 30px;
			text-align: center;
			margin: 0;
		}

		div {
			flex-direction: column;
			display: flex;
			gap: 20px;
			align-items: center;
			justify-content: space-between;
		}

		.button {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			.cmp-button__text{
				font-size: 14px;
			}
		}
	}
}


@media (min-width: 768px) {
	.productleafleft {
		max-width: 768px;
		.cmp-product-leaflet {
			.cmp-container {
				div {
					flex-direction: row;
					justify-content: center;
					gap: 10px;
					.cmp-button__text{
						font-size: $font-size;
					}
					.image{
						flex-direction: column;
						align-items: flex-start;
					}
				}
				.button.addMargin {
					align-self: flex-end;
   					margin-bottom: 35px;
				}
			}
		}
	}
}