.cmp-search {}
.cmp-search__form {}
.cmp-search__field {}
.cmp-search__icon {}
.cmp-search__input {}
.cmp-search__loading-indicator {}
.cmp-search__clear {}
.cmp-search__clear-icon {}
.cmp-search__results {}
.cmp-search__item {}
.cmp-search__item--is-focused {}
.cmp-search__item-mark {}
.cmp-search__item-title {}

.searchGlobal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    #search-input {
        border: 0px;
        border-bottom: 1px solid $color-corporate;
        width: 100%;
        box-sizing: border-box;
        height: 50px;
        font-size: 25px;
        color: $color-text;

        &:focus-visible {
            outline: unset;
        }
    }

    #search-button {
        width: fit-content;
        box-sizing: border-box;
        margin: 0px;
        background: unset;
        border: unset;
        cursor: pointer;
        background-color: $color-primary;
        text-transform: uppercase;
        font-family: $font-family-oswald;
        font-weight: $font-semi-bold;
        padding: 7px 25px;
        color: $white;
        text-decoration: none;
        transition: 0.5s;
        display: flex;
        align-items: center;

        &:hover {
            background-color: $color-primary-hover;
        }
    }
}

#search-results {
    margin-top: 40px;

    ul {
        list-style: none;
        padding-left: 0px;
        margin: 0px 0px 0px 0px;

        li {
            margin-bottom: 25px;

            a {
                text-decoration: unset;
                font-family: $font-family-oswald;
                font-weight: $font-semi-bold;
                color: $color-corporate;
                font-size: 20px;
                transition: 0.2s;

                &:hover {
                    color: $color-secondary;
                }
            }

            p {
                color: $color-text;
                margin: 0px;
                font-family: $font-family-arimo;
                font-size: 18px;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }

    }

}

.loading-spinner {
    border: 6px solid #f3f3f3;
    border-top: 6px solid $color-primary;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
