.cmp-share {
	&-desktop {
		display: block;
		max-width: 24px;
		max-height: 26px;
		margin-left: auto;
		margin-block-end: 1em;
		margin-block-start: 1em;
		padding: 0.5rem 0;
		float: right !important;
		position: relative;
		cursor: pointer;
	}
	&-mobile {
		bottom: -60px;
		display: none !important;
	}

	.cmp-button {
		position: absolute;
		border: none;
		background-color: transparent;
		padding: 0px;
		width: 22px;
		height: 24px;
		background-image: url($resources-path + '/images/icons/icon_share.svg');
		background-position: center center;
		background-size: contain;
		background-repeat: no-repeat;
	}
	&__container {
		display: none;
		position: absolute;
		right: -2em;
		width: max-content;
		top: 3em;
		border-radius: 0 0 30px 30px;
		padding: 15px 40px;
		background-color: $color-six;
		border-top: 0px;
	}
	&-menu_title {
		display: block;
		font-weight: 300;
		font-family: $font-family-oswald;
		font-size: 15px;
		text-transform: uppercase;
		text-align: center;
		color: $color-corporate;
		margin-bottom: 10px;
		padding-left: 15px;
		padding-right: 15px;
		i {
			a {
				font-size: 14px;
				font-weight: 400 !important;
				font-family: $font-family-oswald;
				text-transform: uppercase;
				line-height: 2;
				color: $color-corporate !important;
				text-decoration: none;
				font-style: normal;
			}
		}
	}
}
.cmp-share-menu_icon-facebook {
	font-size: 1.33333333em;
	line-height: 0.75em;
	&::before {
		content: "";
		position: relative;
		background: url($resources-path + '/images/icons/facebook-f-brands.svg');
		background-position: center;
		background-repeat: no-repeat;
		width: 15px;
		height: 20px;
		display: inline-block;
	}
}
.cmp-share-menu_icon-twitter {
	font-size: 1.33333333em;
	line-height: 0.75em;
	&::before {
		content: "";
		position: relative;
		background: url($resources-path + '/images/icons/twitter-brands.svg');
		background-position: center;
		background-repeat: no-repeat;
		width: 25px;
		height: 20px;
		display: inline-block;
	}
}
.aem-AuthorLayer-Edit,
.cq-Editable-dom {
	.cmp-share-mobile {
		display: none !important;
	}
}

@media (max-width: 1200px) {
	.cmp-share {
		&-desktop {
			display: none !important;
		}
		&-mobile {
			display: block;
			position: fixed;
			width: 100%;
			left: 0px;
			transition: bottom 0.6s ease-in;
			margin: 0;
			background-color: $color-six;
			padding: 0 20px;
			z-index: 99;
			.cmp-button {
				display: none;
			}
			.cmp-share__container-mobile {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				padding: 0;
				margin: 7px 0;
				.scroll_to_top_link {
					background-image: url($resources-path + "/images/icons/scroll_to_top_arrow.svg");
					background-position: right center;
					background-repeat: no-repeat;
					background-size: auto 145%;
					padding-right: 32px;
					text-decoration: none;
					.cmp-share-menu_title__scroll {
						font-size: 11px;
						line-height: 2;
						text-transform: uppercase;
						font-family: Arial, Helvetica, sans-serif;
						font-weight: normal;
						padding-right: 5px;
					}
				}
				.cmp-share-menu_title {
					margin: 0;
					font-family: $font-family-oswald;
					font-size: 18px;
					font-weight: 300;
					text-transform: uppercase;
					align-self: center;
					a {
						font-family: $font-family-oswald;
						font-size: 16px;
						font-weight: 300 !important;
						color: $color-text;
						text-transform: capitalize;
						word-wrap: break-word;
					}
				}
			}
		}
	}
	.h-overflow {
		.cmp-share-mobile {
			bottom: 0px;
			display: block !important;
		}
	}
	.scrolled-page {
		.cmp-share-mobile {
			bottom: 0px;
			display: block !important;
		}
	}
}
@media (max-width: 768px) {
	.cmp-share-menu_title__scroll {
		display: none;
	}
}
@media (max-width: 425px) {
	.cmp-share-mobile {
		.cmp-share__container-mobile {
			.cmp-share-menu_title {
				font-size: 12px;
			}
		}
	}
}
