.cmp-text{
	font-family: $font-family-arimo;
	&--color__white{
		color: $white;
	}
	&--minHeightProduct{
		min-height: 350px;
	}
	&--minHeightCountry {
		min-height: 200px;
	}
	&--minHeightBox {
		min-height: 130px;
	}
}
.text {
	&.cmp-cut-2 {
		.cmp-text {
			display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
			overflow: hidden;
		}
	}

	&.cmp-cut-3 {
		.cmp-text {
			display: -webkit-box;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
			overflow: hidden;
		}
	}
}

.cmp-text__paragraph {}