.trusted-partner{
	.cmp-container{
		display: flex;
		flex-wrap: wrap;
		.image {
			width: 180px;
			display: inline-flex;
			align-items: center;
			flex-direction: row;		  
		}
		.cmp-image{
			display: block;
			.cmp-image__image{
				object-fit: scale-down;
			}
		}
	}
}