.cmp-form {
  //background-color: $white;
  padding: 60px 0;
  margin: 0 auto;

  .label_required,
  .label_error {
    margin-top: 4px;
    color: $red;
    font-family: $font-family-arimo;
    font-weight: $arimo-weight-light;
    font-size: 1rem;
    text-align: left;
  }
  .no_error_label {
    height: 22px;
    display: block;
  }

  .button {
    .cmp-form-button:hover {
      -webkit-transform: none;
      transform: none;
    }
  }

  #myFiles {
    width: 100%;
    padding: 1%;
    margin: 0px;
    display: inline-block;

    &:not(:empty) {
      background: $lightGray;
      margin-bottom: 1%;
    }
  }
}
