.cmp-form {
	//max-width: 66%;
	margin: 0 auto;
	.required-field {
		&:after {
			content: " *";
			color: #f94e52;
			font-weight: $font-bolder;
		}
	}
	input {
		&:focus {
			border-color: #66afe9;
			outline: 0;
		}
	}
	span.text-danger{
		font-size: 16px;
		color: #dc3545;
		display: block;
	}
}
