// Define style maps for headings and text
$headlines: (
    'h1': (
        'size': $heading-h1-font-size,
        'line-height': $heading-h1-line-height,
        'weight': $font-regular
    ),
    'h1-extralight': (
        'size': $heading-h1-font-size,
        'line-height': $heading-h1-line-height,
        'weight': $font-extra-light
    ),
    'h2': (
        'size': $heading-h2-font-size,
        'line-height': $heading-h2-line-height,
        'weight': $font-regular
    ),
    'h2-extralight': (
        'size': $heading-h2-font-size,
        'line-height': $heading-h2-line-height,
        'weight': $font-extra-light
    ),
    'h3': (
        'size': $heading-h3-font-size,
        'line-height': $heading-h3-line-height,
        'weight': $font-regular
    ),
    'h3-extralight': (
        'size': $heading-h3-font-size,
        'line-height': $heading-h3-line-height,
        'weight': $font-extra-light
    ),
    'h4': (
        'size': $heading-h4-font-size,
        'line-height': $heading-h4-line-height,
        'weight': $font-regular
    ),
    'h4-extralight': (
        'size': $heading-h4-font-size,
        'line-height': $heading-h4-line-height,
        'weight': $font-extra-light
    ),
    'h5': (
        'size': $heading-h5-font-size,
        'line-height': $heading-h5-line-height,
        'weight': $font-regular
    ),
    'h5-extralight': (
        'size': $heading-h5-font-size,
        'line-height': $heading-h5-line-height,
        'weight': $font-extra-light
    ),
    'h6': (
        'size': $heading-h6-font-size,
        'line-height': $heading-h6-line-height,
        'weight': $font-regular
    ),
    'h6-extralight': (
        'size': $heading-h6-font-size,
        'line-height': $heading-h6-line-height,
        'weight': $font-extra-light
    )
);


$texts: (
    'text': (
        'size': $text-size,
        'line-height': $text-line-height,
        'weight': $font-regular
    ),
    'text-bold': (
        'size': $text-size,
        'line-height': $text-bold-line-height,
        'weight': $font-bold
    ),
    'text-small-bold': (
        'size': $small-text-size,
        'line-height': $text-small-line-height,
        'weight': $font-bold
    ),
    'text-small-light': (
        'size': $small-text-size,
        'line-height': $text-small-line-height,
        'weight': $font-regular
    ),
    'text-super-small-bold': (
        'size': $super-small-text-size,
        'line-height': $text-super-small-line-height,
        'weight': $font-bold
    ),
    'text-super-small-light': (
        'size': $super-small-text-size,
        'line-height': $text-super-small-line-height,
        'weight': $font-regular
    )
);

@mixin headline-type($key) {
    @if map-has-key($headlines, $key) {
        $styles-map: map-get($headlines, $key);
        font-family: $font-default;
        font-size: map-get($styles-map, 'size');
        line-height: map-get($styles-map, 'line-height');
        font-weight: map-get($styles-map, 'weight');
    }

    @else {
        @warn "Undefined key in \$texts map: #{$key}";
    }
}

@mixin text-type($key) {
    @if map-has-key($texts, $key) {
        $styles-map: map-get($texts, $key);
        font-family: $font-arimo;
        font-size: map-get($styles-map, 'size');
        line-height: map-get($styles-map, 'line-height');
        font-weight: map-get($styles-map, 'weight');
    }

    @else {
        @warn "Undefined key in \$texts map: #{$key}";
    }
}
