//== Base

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-size: $font-size;
  font-family: $font-family-arimo;
  line-height: $font-height;
  color: $color-text;
  background: $color-background;

  /* @media (prefers-color-scheme: dark) {
        color:       $color-foreground-dark;
        background:  $color-background-dark;
    } */
}

a {
  color: $color-text;

  /*  @media (prefers-color-scheme: dark) {
        color: $color-link-dark;
    } */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
}

.cmp-link__screen-reader-only {
  position: absolute;
  width: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
}

.cmp-color--azure {
  color: $vibrant-azure;
}
.cmp-color--blue {
  color: $deep-blue;
}
.cmp-color--default {
  color: $black;
}
.cmp-font-weight--light {
  font-weight: $oswald-weight-light;
}



/*

**MEDIA QUERIES DA UTILIZZARE**


@include respond-to(small-devices) {}

@include respond-to(mobile) {}

@include respond-to(tablet) {}

@include respond-to(laptop) {}

@include respond-to(desktop) {}

*/