.cmp-editprofileform {

    .cmp-editprofileform__subtitle {
        color: $body-color;

        span {
            color: $primary;
        }
    }

    .cmp-editprofileform__tabsWrapper {

        .active {
            border-bottom: solid $secondary 4px !important;
            color: $secondary;

        }

        .cmp-editprofileform__tabsButton {
            background-color: transparent;

            .cmp-editprofileform__tabsButtonText {
                font-weight: 200;
            }
        }
    }

    .cmp-editprofileform__editProfileTitle {
        font-weight: 200 !important;
        color: $secondary;
    }

    .cmp-signupform__countryTitle {
        margin-bottom: 37px;

        @include media-breakpoint-down(lg) {
            margin-bottom: 12px;
        }
    }

    .cmp-signupform__privacywrapper {

        p {
            font-size: 15px;
            font-weight: 400;
            line-height: 25px;
            letter-spacing: 0.25px;

            a {
                color: $blue-link;
            }

            span {
                color: $primary;
            }
        }

        label {
            font-weight: 400;
            font-size: 1rem;
            line-height: 25px;
        }

        span {
            color: $primary;
        }
    }

    .cmp-signupform__customError {
        color: #dc3545;
        font-size: .875em;
    }

    .cmp-signupform__borderRed {
        border-color: #dc3545 !important;
    }

    .cmp-signupform__borderGreen {
        border-color: #198754 !important;
    }
}