.business_card {
}

.cmp-business_card {
  position: relative;
  border: 0.19rem solid $vibrant-azure;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  padding-left: clamp(2.75rem, 1vw, 3.75rem);
  padding-right: 1rem;
  min-height: clamp(6rem, 1vw, 8.125rem);
  width: clamp(18.5rem, 1vw, 25rem);
  margin: 1rem auto;
  .cmp-link {
    width: 100%;
  }
}
.cmp-business_card--event {
  .cmp-business_card--content {
    display: block;
    width: 100%;

    .cmp-business_card--title {
      .cmp-title {
        .cmp-title__text {
          color: $color-text;
          text-transform: none;
          font-size: clamp(1rem, 1vw + 0.5rem, 1.5rem);
          font-family: $font-family-arimo;
          font-weight: $arimo-weight-bold;
        }
      }
    }
    .cmp-business_card-event__info {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
      justify-content: space-evenly;
      span {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        font-size: clamp(0.9rem, 1vw, 1.125rem);
      }
    }
  }
}
.cmp-business_card--download {
  .cmp-link {
    text-decoration: none;
    &:hover {
      .cmp-business_card--text {
        text-decoration: underline;
      }
    }
  }
}
.cmp-business_card--icon {
  position: absolute;
  left: 0;
  transform: translateX(-50%);
  max-width: clamp(3.75rem, 1vw, 6rem);
}
.cmp-business_card--content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  .cmp-business_card--title {
    .cmp-title {
      .cmp-title__text {
        color: $teal-blue;
        font-size: clamp(1.5rem, 1vw, 2rem);
        font-family: $font-family-oswald;
        font-weight: $oswald-weight-medium;
        text-transform: uppercase;
        margin: 0;
      }
    }
  }
  .cmp-business_card--text {
    .cmp-text {
      font-family: $font-family-arimo;
      font-size: clamp(1rem, 1vw, 1.5rem);
      p {
        margin: 0;
      }
    }
  }
}

@include respond-to(high-definition) {
  .cmp-business_card {
    width: clamp(22rem, 60%, 25rem);
    height: 8rem;
    padding: 0.5rem 1rem 0.5rem 3.75rem;
  }
  .cmp-business_card--download {
    width: clamp(12rem, 50%, 20rem);
  }

  .cmp-business_card--icon {
    max-width: clamp(3.75rem, 50%, 6rem);
  }
}
/*

**MEDIA QUERIES DA UTILIZZARE**


@include respond-to(small-devices) {}

@include respond-to(mobile) {}

@include respond-to(tablet) {}

@include respond-to(laptop) {}

*/
