.button {
  &.cmp-text-center {
    display: flex;
    justify-content: center;
  }
  &.cmp-button--small {
    .cmp-button {
      scale: 0.6;
    }
  }
  &.cmp-button--start {
    display: flex;
    justify-content: start;
  }
  &.cmp-button--center {
    display: flex;
    justify-content: center;
  }
  &.cmp-button--end {
    display: flex;
    justify-content: end;
  }
}

.cmp-button {
  display: flex;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  font-family: $font-family-oswald;
  font-weight: $oswald-weight-regular;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  background-color: transparent;
  padding: clamp(1.25rem, 0.313vw + 1.188rem, 1.563rem) clamp(1.875rem, 2.813vw + 1.313rem, 4.688rem);
  font-size: clamp(1rem, 1.5vw + 0.5rem, 1.375rem);
  width: -moz-fit-content;
  width: fit-content;
  //max-width: 23rem;
  margin: 1rem 0;
  &:hover {
    box-shadow: 2px 2px 5px lightgray;
  }
}
.cmp-button--first-style {
  .cmp-button {
    transition: $standard-transition;
    background-color: $vibrant-azure;
    &:hover {
      background-color: darken($vibrant-azure, 10%);
    }
    &:active {
      background-color: darken($vibrant-azure, 20%);
    }
  }
}
.cmp-button--second-style {
  .cmp-button {
    border: 0.125rem solid $vibrant-azure;
    transition: $standard-transition;
    &:hover {
      background-color: $vibrant-azure;
      color: $color-background;
      .cmp-button__text {
        color: $white;
      }
    }
    &:active {
      background-color: darken($vibrant-azure, 20%);
    }
    .cmp-button__text {
      color: $black;
    }
  }
}
.cmp-button--link-style {
  .cmp-button {
    border: unset;
    background-color: unset;
    color: $vibrant-azure;
    transition: $standard-transition;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0;
    .cmp-button__text {
      color: $vibrant-azure;
      text-decoration: underline;
      cursor: pointer;
    }
    &:hover {
      background-color: unset;
      color: darken($vibrant-azure, 20%);
      box-shadow: unset;
      .cmp-button__text {
        color: darken($vibrant-azure, 20%);
      }
    }
    &:active {
      color: darken($vibrant-azure, 20%);
    }
  }
}
.cmp-button__text {
  color: $color-background;
}
.cmp-button__icon {
  display: block;
  width: 2rem;
  height: 2rem;
  transition: $standard-transition;
  &--facebook {
    background: url(/etc.clientlibs/laboratorio-guidotti/clientlibs/clientlib-site/resources/icons/icon-facebook.svg)
      center center no-repeat;
    &:hover {
      background: url(/etc.clientlibs/laboratorio-guidotti/clientlibs/clientlib-site/resources/icons/icon-facebook-black.svg)
        center center no-repeat;
    }
  }
  &--linkedin {
    background: url(/etc.clientlibs/laboratorio-guidotti/clientlibs/clientlib-site/resources/icons/icon-linkedin.svg)
      center center no-repeat;
    &:hover {
      background: url(/etc.clientlibs/laboratorio-guidotti/clientlibs/clientlib-site/resources/icons/icon-linkedin-black.svg)
        center center no-repeat;
    }
  }
  &--hamburger {
    background: url(/etc.clientlibs/laboratorio-guidotti/clientlibs/clientlib-site/resources/icons/icon-hamburger.svg)
      center center no-repeat;
  }
}

@include respond-to(tablet) {
  .button {
    &.cmp-button--start {
      justify-content: start;
    }
    &.cmp-button--center {
      justify-content: center;
    }
    &.cmp-button--end {
      justify-content: end;
    }
  }
}

@include respond-to(high-definition) {
  .cmp-button {
    //width: clamp(16.875rem, 100%, 23rem);
    width: max-content;
  }
}
//.cmp-button__icon--myIcon {}

/*
  
  **MEDIA QUERIES DA UTILIZZARE**
  
  
  @include respond-to(small-devices) {}
  
  @include respond-to(mobile) {}
  
  @include respond-to(tablet) {}
  
  @include respond-to(laptop) {}
  
  @include respond-to(desktop) {}
  
  */
