.cmp-button {
  display: block;
  text-align: center;
  text-decoration: none;
  font-family: $font-family-oswald;
  font-weight: $oswald-weight-regular;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  background-color: transparent;
  padding: clamp(1rem, 1vw + 0.5rem, 1.5rem) clamp(0.25rem, 1vw + 0.5rem, 2rem);
  font-size: clamp(1rem, 1.5vw + 0.5rem, 1.375rem);
  width: clamp(16.875rem, 1.5vw + 0.5rem, 22rem);
  margin: 1rem 0;
}
.cmp-button--first-style {
  .cmp-button {
    background-color: $vibrant-azure;
    &:hover {
      background-color: darken($vibrant-azure, 10%);
    }
    &:active {
      background-color: darken($vibrant-azure, 20%);
    }
  }
}
.cmp-button--second-style {
  .cmp-button {
    border: 0.125rem solid $vibrant-azure;
    &:hover {
      background-color: $vibrant-azure;
      color: $white;
    }
    &:active {
      background-color: darken($vibrant-azure, 20%);
    }
    .cmp-button__text {
      color: $black;
    }
  }
}

.cmp-button__text {
  color: $white;
}
.cmp-button__icon {
  content: " ";
  display: block;
  width: 3.125rem;
  height: 3.125rem;
  &--facebook {
    background: url(../resources/icons/icon-facebook.svg) center center
      no-repeat;
  }
  &--linkedin {
    background: url(../resources/icons/icon-linkedin.svg) center center
      no-repeat;
  }
  &--hamburger {
    background: url(../resources/icons/icon-hamburger.svg) center center
      no-repeat;
  }
}


//.cmp-button__icon--myIcon {}

/*
  
  **MEDIA QUERIES DA UTILIZZARE**
  
  
  @include respond-to(small-devices) {}
  
  @include respond-to(mobile) {}
  
  @include respond-to(tablet) {}
  
  @include respond-to(laptop) {}
  
  @include respond-to(desktop) {}
  
  */
