.message-viewer{
    .cmp-text{
        color: $black;
        font-family: $font-family-arimo;
        font-size: 18px;
        font-weight: $arimo-weight-regular;
        line-height: 25px;
        padding-right: 30px;
    }
}