.shape_container {
  position: relative;
  overflow: visible;
  padding: 0.2rem;
}

.cmp-shape--container {
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;

  .cmp-container {
    height: 100%;
    min-height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// Uso di un selettore comune per le varie maschere
@for $i from 1 through 7 {
  .cmp-shape--style-#{$i} {
    .cmp-shape--container {
      -webkit-mask-image: url("/etc.clientlibs/laboratorio-guidotti/clientlibs/clientlib-site/resources/images/shapes/svg/shape-style-#{$i}.svg#shapeStyle#{$i}");
      mask-image: url("/etc.clientlibs/laboratorio-guidotti/clientlibs/clientlib-site/resources/images/shapes/svg/shape-style-#{$i}.svg#shapeStyle#{$i}");
    }
  }
}

.cmp-shape--container-big {
  .cmp-shape--container {
    transform: scale(1.2);
  }
}

.cmp-shape--container-regular {
  .cmp-shape--container {
    transform: scale(1);
  }
}

.cmp-shape--container-small {
  .cmp-shape--container {
    transform: scale(0.5);
  }
}

/*

**MEDIA QUERIES DA UTILIZZARE**


@include respond-to(small-devices) {}

@include respond-to(mobile) {}

@include respond-to(tablet) {}

@include respond-to(laptop) {}

@include respond-to(desktop) {}

*/
