
.cmp-title__text {}
.cmp-title__link {}
.title {
	.cmp-title {
		font-family: $font-family-oswald;
		font-weight: $oswald-weight-bold;
		line-height: 1;
		h1 { font-size: 3rem; }
		h2 { font-size: 1.875rem; }
		h3 { font-size: 1.5rem; }
		h4 { font-size: 1.125rem; }
		h5 { font-size: 0.938rem; }
		h6 { font-size: 0.938rem; }
		h1,h2,h3,h4,h5,h6 {margin: auto;}
	}
	&.cmp-font-weight--regular {
		.cmp-title .cmp-title__text { font-weight: $oswald-weight-regular; }
	}
	&.cmp-font-weight--light {
		.cmp-title .cmp-title__text { font-weight: $oswald-weight-light; }
	}
	&.text-center {
		.cmp-title .cmp-title__text { text-align: center; }
	}
	&.text-right {
		.cmp-title .cmp-title__text { text-align: right; }
	}
}

@include respond-to(small-devices) {
	.title {
		.cmp-title {
			h1 { font-size: calc(48px + (100 - 48) * ((100vw - 390px) / (1920 - 390))); }
			h2 { font-size: calc(30px + (60 - 30) * ((100vw - 390px) / (1920 - 390))); }
			h3 { font-size: calc(24px + (42 - 24) * ((100vw - 390px) / (1920 - 390))); }
			h4 { font-size: calc(18px + (35 - 18) * ((100vw - 390px) / (1920 - 390))); }
			h5 { font-size: calc(15px + (25 - 15) * ((100vw - 390px) / (1920 - 390))); }
			h6 { font-size: calc(15px + (20 - 15) * ((100vw - 390px) / (1920 - 390))); }
		}
	}
}

@include respond-to(desktop) {
	.title {
		.cmp-title {
			h1 { font-size: 6.25rem; }
			h2 { font-size: 3.7rem; }
			h3 { font-size: 2.625rem; }
			h4 { font-size: 2.188rem; }
			h5 { font-size: 1.563rem; }
			h6 { font-size: 1.25rem; }
		}
	}
}
@include respond-to(high-definition) {
	.title {
		.cmp-title {
			h1 { font-size: 6rem; }
			h2 { font-size: 3.5rem; }
			h3 { font-size: 2.5rem; }
			h4 { font-size: 2.188rem; }
			h5 { font-size: 1.563rem; }
			h6 { font-size: 1.25rem; }
		}
	}
}

/*

**MEDIA QUERIES DA UTILIZZARE**


@include respond-to(small-devices) {}

@include respond-to(mobile) {}

@include respond-to(tablet) {}

@include respond-to(laptop) {}

@include respond-to(desktop) {}

*/