.cmp-popup {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgb(0 0 0 / 30%);
    height: 100%;
    width: 100%;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: $standard-transition;

    &.show {
        opacity: 1;
        visibility: visible;
        display: flex;
    }

    .cmp-container {
        background-color: $white;
        padding: 1.563rem;
        border-radius: 0.625rem;
        border: 0.125rem solid $vibrant-azure;
        overflow: auto;
        max-height: 80%;
        width: 70%;
        max-width: 48rem;


        &::-webkit-scrollbar {
            width: 0.438rem;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: transparent;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: $vibrant-azure;
            border-radius: 0.75rem;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: $vibrant-azure;
            border-radius: 0.75rem;
        }
    }
}

html.no-scroll {
    overflow: hidden;
}

.aem-AuthorLayer-Edit,
.cq-Editable-dom {
    &.no-scroll {
        overflow: auto;
    }
    .cmp-popup {
        background-color: unset !important;
        align-items: end !important;
    }
}