<sly data-sly-test="${properties.bannerType == 'central-shape'}"
     data-sly-use.bannerCentralTemplate="central-shape.html"
     data-sly-call="${bannerCentralTemplate.bannerCentralShape}"></sly>

<sly data-sly-test="${properties.bannerType == 'mono-shape'}"
     data-sly-use.bannerMonoTemplate="mono-shape.html"
     data-sly-call="${bannerMonoTemplate.bannerMonoShape}"></sly>

<sly data-sly-test="${properties.bannerType == 'bi-shape'}"
     data-sly-use.bannerDoubleTemplate="bi-shape.html"
     data-sly-call="${bannerDoubleTemplate.bannerBiShape}"></sly>

<sly data-sly-test="${properties.bannerType == 'tri-shape'}"
     data-sly-use.bannerTrebleTemplate="tri-shape.html"
     data-sly-call="${bannerTrebleTemplate.bannerTriShape}"></sly>

<div data-sly-test="${!properties.bannerType}" data-emptytext="Wrapper Banner" class="cq-placeholder"></div>

