.image {
    &.cmp-small-icon {
        .cmp-image {
            .cmp-image__image {
                display: flex;
                margin: 0 auto;
                text-align: center;
                max-width: 3rem;
            }
        }
    }
} 