* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

html,
body {
	margin: 0;
	font-size: $font-size;
	font-family: $font-family;
	line-height: $font-height;
	color: $color-text;
	background: $white;
	overflow-x: hidden;
}

a {
	color: $color-link;
	text-decoration: none;
}

h1 {

	&.cmp-title__text,
	.cmp-title__link {
		font-family: $font-family-oswald;
		font-weight: $font-regular;
		font-size: 50px;
		line-height: 55px;
	}
}

h2 {

	&.cmp-title__text,
	.cmp-title__link {
		font-family: $font-family-oswald;
		font-weight: $font-extra-light;
		font-size: 40px;
		line-height: 50px;
	}
}

h3 {

	&.cmp-title__text,
	.cmp-title__link {
		font-family: $font-family-oswald;
		font-weight: $font-regular;
		font-size: 40px;
		line-height: 55px;
		text-transform: uppercase;
	}
}

h4 {

	&.cmp-title__text,
	.cmp-title__link {
		font-family: $font-family-oswald;
		font-weight: $font-light;
		font-size: 30px;
		line-height: 45px;
	}
}

h5 {

	&.cmp-title__text,
	.cmp-title__link {
		font-family: $font-family-oswald;
		font-weight: $font-regular;
		font-size: 20px;
		line-height: 50px;
		text-transform: uppercase;
	}
}	

h6 {

	&.cmp-title__text,
	.cmp-title__link {
		font-family: $font-family-oswald;
		font-weight: $font-light;
		font-size: 20px;
		line-height: 30px;
	}
}

button,
input,
optgroup,
select,
textarea {
	font: inherit;
}

.h-overflow {
	overflow-y: hidden;
}

.hidden {
	display: none !important;
}

.xf-web-container {
	background-color: lightgray;
}

#loading {
	width: 4rem;
	height: 4rem;
	border: 4px solid $color-six;
	border-top: 4px solid $color-corporate;
	border-radius: 100%;
	margin: auto;
	visibility: hidden;
	animation: spin 1s infinite linear;
}

#loading.display {
	visibility: visible;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}