
.cmp-teaser__image-placeholder {
	height: 300px;
	width: 100%;
	background: rgb(2, 93, 100);
	background: linear-gradient(90deg, rgb(2, 93, 100, 1) 20%, rgb(2, 93, 100, 1) 68%,,rgb(2, 103, 100, 1) 100%);
}