.cmp-share {
	.cmp-button {
		background-image: url('/etc.clientlibs/menarinimaster/clientlibs/clientlib-berlinchemie/resources/images/icons/icon_share.svg');
	}
}
.cmp-share-menu_icon-facebook {
	&::before {		
		background: url('/etc.clientlibs/menarinimaster/clientlibs/clientlib-berlinchemie/resources/images/icons/facebook-f-brands.svg');
	}
}
.cmp-share-menu_icon-linkedin {
	&::before {
		background: url('/etc.clientlibs/menarinimaster/clientlibs/clientlib-berlinchemie/resources/images/icons/linkedin-brands.svg');
	}
}
.cmp-share-menu_icon-x {
	&::before {
		background: url('/etc.clientlibs/menarinimaster/clientlibs/clientlib-berlinchemie/resources/images/icons/x-brands.svg');
	}
}