<sly data-sly-use.runmode="com.adiacent.menarini.guidotti.lab.core.models.RunModeModel" data-sly-test="${runmode.publishMode}">
    <!-- OneTrust Cookies Consent Notice start for Guidotti -->
    <script type="text/javascript" src="https://cdn.cookielaw.org/consent/${inheritedPageProperties.oneTrustId}/OtAutoBlock.js" ></script>
    <script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js" data-document-language="true" type="text/javascript" charset="UTF-8" data-domain-script="${inheritedPageProperties.oneTrustId}" ></script>
    <script type="text/javascript">
    function OptanonWrapper() { }
    </script>
    <!-- OneTrust Cookies Consent Notice end for Guidotti -->
</sly>
