scripts=[
        "
    create service user menarini-user
    set ACL on /content\nallow jcr:read, rep:write, jcr:modifyProperties, jcr:versionManagement, jcr:lockManagement for menarini-user\nend
    create path (sling:OrderedFolder) /content/dam/menarinimaster
    create path (nt:unstructured) /content/dam/menarinimaster/jcr:content
    set properties on /content/dam/menarinimaster/jcr:content\n  set cq:conf{String} to /conf/menarinimaster\n  set jcr:title{String} to \"Menarini Master Template\"\nend


    ############################## DENY ALL GROUP #############################################################
    create group deny-all
    set ACL for deny-all
    deny jcr:read on /content restriction(rep:glob,*/*)
    allow jcr:read on /content restriction(rep:glob,*/dam)

    deny jcr:read on /content/dam restriction(rep:glob,*/*)
    allow jcr:read on /content/dam restriction(rep:glob,*/jcr:content)

    deny jcr:read on /content/cq:tags restriction(rep:glob,*/*)
    deny jcr:read on /var/workflow/models restriction(rep:glob,*/*)

    deny jcr:read on /content/experience-fragments restriction(rep:glob,*/*)

    deny jcr:read on /conf restriction(rep:glob,*/*)

    end

    ############################## METADATA-ASSET GROUP #############################################################
    create group metadata-assets
    #set ACL for metadata-assets
    #      allow jcr:versionManagement, jcr:modifyProperties, jcr:read, jcr:lockManagement on /conf/global/settings/dam/adminui-extension/metadataschema
    #end


    #######################################################################################

    ############################# PT Site ##############################################
    ####################################################################################
    ## DAM - to ensure acl set ##
    create path /content/dam/menarini-pt(sling:OrderedFolder)
    create path /content/dam/logo/menarini-pt(sling:OrderedFolder)
    ## TAGS - to ensure acl set ##
    create path /content/cq:tags/menarini-pt(cq:Tag)
    ## Experience Fragments - to ensure acl set ##
    create path /content/experience-fragments/menarini-pt(sling:OrderedFolder)
    ## Template and policy folder - to ensure acl set ##
    create path /conf/menarini-pt(sling:Folder)
    ## Site folder - to ensure acl set ##
    create path /content/menarini-pt(cq:Page)
    create path /content/menarini-pt/jcr:content(nt:unstructured)
    set properties on /content/menarini-pt/jcr:content
    default sling:ResourceType{String} to menarinimaster/components/page
    default jcr:title{String} to \"Menarini pt\"
    end

    ############################# APAC Site ##############################################
    ####################################################################################
    ## DAM - to ensure acl set ##
    create path /content/dam/menarini-apac(sling:OrderedFolder)
    create path /content/dam/logo/menarini-apac(sling:OrderedFolder)
    ## TAGS - to ensure acl set ##
    create path /content/cq:tags/menarini-apac(cq:Tag)
    ## Experience Fragments - to ensure acl set ##
    create path /content/experience-fragments/menarini-apac(sling:OrderedFolder)
    ## Template and policy folder - to ensure acl set ##
    create path /conf/menarini-apac(sling:Folder)
    ## Site folder - to ensure acl set ##
    create path /content/menarini-apac(cq:Page)
    create path /content/menarini-apac/jcr:content(nt:unstructured)
    set properties on /content/menarini-apac/jcr:content
    default sling:ResourceType{String} to menarinimaster/components/page
    default jcr:title{String} to \"Menarini Apac\"
    end

    ############################## SET ACL APPROVER AND EDITOR MENARINI PT ##########################################
    create group approver-menarini-pt
    add approver-menarini-pt to group deny-all
    add approver-menarini-pt to group contributor
    add approver-menarini-pt to group workflow-users
    add approver-menarini-pt to group metadata-assets

    set ACL for approver-menarini-pt
    allow jcr:versionManagement, jcr:modifyAccessControl, jcr:read, crx:replicate, rep:write, jcr:lockManagement on /content/menarini-pt,/content/dam/menarini-pt, /content/cq:tags/menarini-pt,/content/experience-fragments/menarini-pt,/conf/menarini-pt
    allow jcr:removeChildNodes, jcr:removeNode, jcr:addChildNodes, jcr:nodeTypeManagement on /content/menarini-pt,/content/dam/menarini-pt restriction(rep:glob,*/jcr:content*)
    allow jcr:removeChildNodes, jcr:removeNode, jcr:addChildNodes, jcr:nodeTypeManagement on /content/cq:tags/menarini-pt,/content/experience-fragments/menarini-pt,/conf/menarini-pt restriction(rep:glob,*/*)
    allow jcr:read on home(approver-menarini-pt)
    end

    create group editor-menarini-pt
    add editor-menarini-pt to group deny-all
    add editor-menarini-pt to group contributor
    add editor-menarini-pt to group workflow-users
    add editor-menarini-pt to group metadata-assets

    set ACL for editor-menarini-pt
    allow jcr:versionManagement, jcr:modifyAccessControl, jcr:read, rep:write, jcr:lockManagement on /content/menarini-pt
    deny  crx:replicate on /content/menarini-pt
    allow jcr:removeChildNodes, jcr:removeNode, jcr:addChildNodes, jcr:nodeTypeManagement on /content/menarini-pt restriction(rep:glob,*/jcr:content*)
    allow jcr:versionManagement, jcr:read, rep:write, jcr:lockManagement on /content/dam/menarini-pt, /content/cq:tags/menarini-pt
    allow jcr:nodeTypeManagement on /content/menarini-pt,/content/dam/menarini-pt restriction(rep:glob,*/jcr:content*)
    allow jcr:nodeTypeManagement on /content/cq:tags/menarini-pt restriction(rep:glob,*/*)
    allow jcr:read on /content/experience-fragments/menarini-pt,/conf/menarini-pt
    allow jcr:read on /var/workflow/models restriction(rep:glob,*-pt*)
    allow jcr:read on home(editor-menarini-pt)
    end


############################## SET ACL APPROVER AND EDITOR MENARINI APAC ##########################################
    create group approver-menarini-apac
    add approver-menarini-apac to group deny-all
    add approver-menarini-apac to group contributor
    add approver-menarini-apac to group workflow-users
    add approver-menarini-apac to group metadata-assets

    set ACL for approver-menarini-apac
    allow jcr:versionManagement, jcr:modifyAccessControl, jcr:read, crx:replicate, rep:write, jcr:lockManagement on /content/menarini-apac,/content/dam/menarini-apac, /content/cq:tags/menarini-apac,/content/experience-fragments/menarini-apac,/conf/menarini-apac
    allow jcr:removeChildNodes, jcr:removeNode, jcr:addChildNodes, jcr:nodeTypeManagement on /content/menarini-apac,/content/dam/menarini-apac restriction(rep:glob,*/jcr:content*)
    allow jcr:removeChildNodes, jcr:removeNode, jcr:addChildNodes, jcr:nodeTypeManagement on /content/cq:tags/menarini-apac,/content/experience-fragments/menarini-apac,/conf/menarini-apac restriction(rep:glob,*/*)
    allow jcr:read on home(approver-menarini-apac)
    end

    create group editor-menarini-apac
    add editor-menarini-apac to group deny-all
    add editor-menarini-apac to group contributor
    add editor-menarini-apac to group workflow-users
    add editor-menarini-apac to group metadata-assets

    set ACL for editor-menarini-apac
    allow jcr:versionManagement, jcr:modifyAccessControl, jcr:read, rep:write, jcr:lockManagement on /content/menarini-apac
    deny  crx:replicate on /content/menarini-apac
    allow jcr:removeChildNodes, jcr:removeNode, jcr:addChildNodes, jcr:nodeTypeManagement on /content/menarini-apac restriction(rep:glob,*/jcr:content*)
    allow jcr:versionManagement, jcr:read, rep:write, jcr:lockManagement on /content/dam/menarini-apac, /content/cq:tags/menarini-apac
    allow jcr:nodeTypeManagement on /content/menarini-apac,/content/dam/menarini-apac restriction(rep:glob,*/jcr:content*)
    allow jcr:nodeTypeManagement on /content/cq:tags/menarini-apac restriction(rep:glob,*/*)
    allow jcr:read on /content/experience-fragments/menarini-apac,/conf/menarini-apac
    allow jcr:read on /var/workflow/models restriction(rep:glob,*-apac*)
    allow jcr:read on home(editor-menarini-apac)
    end

"
]