scripts=[
        "
    create service user menarini-user
    set ACL on /content\nallow jcr:read, rep:write, jcr:modifyProperties, jcr:versionManagement, jcr:lockManagement for menarini-user\nend
    create path (sling:OrderedFolder) /content/dam/menarinimaster
    create path (nt:unstructured) /content/dam/menarinimaster/jcr:content
    set properties on /content/dam/menarinimaster/jcr:content\n  set cq:conf{String} to /conf/menarinimaster\n  set jcr:title{String} to \"Menarini Master Template\"\nend


    ############################## DENY ALL GROUP #############################################################
    create group deny-all
    set ACL for deny-all
    deny jcr:read on /content restriction(rep:glob,*/*)
    allow jcr:read on /content restriction(rep:glob,*/dam)

    deny jcr:read on /content/dam restriction(rep:glob,*/*)
    allow jcr:read on /content/dam restriction(rep:glob,*/jcr:content)

    deny jcr:read on /content/cq:tags restriction(rep:glob,*/*)
    deny jcr:read on /var/workflow/models restriction(rep:glob,*/*)

    deny jcr:read on /content/experience-fragments restriction(rep:glob,*/*)

    deny jcr:read on /conf restriction(rep:glob,*/*)

    end

    ############################## METADATA-ASSET GROUP #############################################################
    create group metadata-assets
    #set ACL for metadata-assets
    #      allow jcr:versionManagement, jcr:modifyProperties, jcr:read, jcr:lockManagement on /conf/global/settings/dam/adminui-extension/metadataschema
    #end


    #######################################################################################

    ############################# PT Site ##############################################
    ####################################################################################
    ## DAM - to ensure acl set ##
    create path /content/dam/menarini-pt(sling:OrderedFolder)
    create path /content/dam/logo/menarini-pt(sling:OrderedFolder)
    ## TAGS - to ensure acl set ##
    create path /content/cq:tags/menarini-pt(cq:Tag)
    ## Experience Fragments - to ensure acl set ##
    create path /content/experience-fragments/menarini-pt(sling:OrderedFolder)
    ## Template and policy folder - to ensure acl set ##
    create path /conf/menarini-pt(sling:Folder)
    ## Site folder - to ensure acl set ##
    create path /content/menarini-pt(cq:Page)
    create path /content/menarini-pt/jcr:content(nt:unstructured)
    set properties on /content/menarini-pt/jcr:content
    default sling:ResourceType{String} to menarinimaster/components/page
    default jcr:title{String} to \"Menarini pt\"
    end
    ############################# Hos Site ##############################################
    ####################################################################################
    ## DAM - to ensure acl set ##
    create path /content/dam/mhos(sling:OrderedFolder)
    create path /content/dam/logo/mhos(sling:OrderedFolder)
    ## TAGS - to ensure acl set ##
    create path /content/cq:tags/mhos(cq:Tag)
    ## Experience Fragments - to ensure acl set ##
    create path /content/experience-fragments/mhos(sling:OrderedFolder)
    ## Template and policy folder - to ensure acl set ##
    create path /conf/mhos(sling:Folder)
    ## Site folder - to ensure acl set ##
    create path /content/mhos(cq:Page)
    create path /content/mhos/jcr:content(nt:unstructured)
    set properties on /content/mhos/jcr:content
    default sling:ResourceType{String} to menarinimaster/components/page
    default jcr:title{String} to \"Menarini House of Sciences\"
    end
    ############################## SET ACL APPROVER AND EDITOR MENARINI PT ##########################################
    create group approver-menarini-pt
    add approver-menarini-pt to group deny-all
    add approver-menarini-pt to group contributor
    add approver-menarini-pt to group workflow-users
    add approver-menarini-pt to group metadata-assets

    set ACL for approver-menarini-pt
    allow jcr:versionManagement, jcr:modifyAccessControl, jcr:read, crx:replicate, rep:write, jcr:lockManagement on /content/menarini-pt,/content/dam/menarini-pt, /content/dam/logo/menarini-pt, /content/cq:tags/menarini-pt,/content/experience-fragments/menarini-pt,/conf/menarini-pt
    allow jcr:removeChildNodes, jcr:removeNode, jcr:addChildNodes, jcr:nodeTypeManagement on /content/menarini-pt,/content/dam/menarini-pt, /content/dam/logo/menarini-pt restriction(rep:glob,*/jcr:content*)
    allow jcr:removeChildNodes, jcr:removeNode, jcr:addChildNodes, jcr:nodeTypeManagement on /content/cq:tags/menarini-pt,/content/experience-fragments/menarini-pt,/conf/menarini-pt restriction(rep:glob,*/*)
    allow jcr:read on home(approver-menarini-pt)
    end

    create group editor-menarini-pt
    add editor-menarini-pt to group deny-all
    add editor-menarini-pt to group contributor
    add editor-menarini-pt to group workflow-users
    add editor-menarini-pt to group metadata-assets

    set ACL for editor-menarini-pt
    allow jcr:versionManagement, jcr:modifyProperties, jcr:read, jcr:lockManagement on /content/menarini-pt
    deny  jcr:removeChildNodes, jcr:removeNode, jcr:addChildNodes, crx:replicate, jcr:nodeTypeManagement on /content/menarini-pt
    allow jcr:removeChildNodes, jcr:removeNode, jcr:addChildNodes, jcr:nodeTypeManagement on /content/menarini-pt restriction(rep:glob,*/jcr:content*)
    allow jcr:versionManagement, jcr:read, rep:write, jcr:lockManagement on /content/dam/menarini-pt, /content/dam/logo/menarini-pt, /content/cq:tags/menarini-pt
    allow jcr:nodeTypeManagement on /content/menarini-pt,/content/dam/menarini-pt, /content/dam/logo/menarini-pt restriction(rep:glob,*/jcr:content*)
    allow jcr:nodeTypeManagement on /content/cq:tags/menarini-pt restriction(rep:glob,*/*)
    allow jcr:read on /content/experience-fragments/menarini-pt,/conf/menarini-pt
    allow jcr:read on /var/workflow/models restriction(rep:glob,*pt*)
    allow jcr:read on home(editor-menarini-pt)
    end

############################## SET ACL APPROVER AND EDITOR MENARINI HOUSE OF SCIENCES ##########################################
    create group approver-mhos
    add approver-mhos to group deny-all
    add approver-mhos to group contributor
    add approver-mhos to group workflow-users
    add approver-mhos to group metadata-assets

    set ACL for approver-mhos
    allow jcr:versionManagement, jcr:modifyAccessControl, jcr:read, crx:replicate, rep:write, jcr:lockManagement on /content/mhos,/content/dam/mhos, /content/dam/logo/mhos, /content/cq:tags/mhos,/content/experience-fragments/mhos,/conf/mhos
    allow jcr:removeChildNodes, jcr:removeNode, jcr:addChildNodes, jcr:nodeTypeManagement on /content/mhos,/content/dam/mhos, /content/dam/logo/mhos restriction(rep:glob,*/jcr:content*)
    allow jcr:removeChildNodes, jcr:removeNode, jcr:addChildNodes, jcr:nodeTypeManagement on /content/cq:tags/mhos,/content/experience-fragments/mhos,/conf/mhos restriction(rep:glob,*/*)
    allow jcr:read on home(approver-mhos)
    end

    create group editor-mhos
    add editor-mhos to group deny-all
    add editor-mhos to group contributor
    add editor-mhos to group workflow-users
    add editor-mhos to group metadata-assets

    set ACL for editor-mhos
    allow jcr:versionManagement, jcr:modifyProperties, jcr:read, jcr:lockManagement on /content/mhos
    deny  jcr:removeChildNodes, jcr:removeNode, jcr:addChildNodes, crx:replicate, jcr:nodeTypeManagement on /content/mhos
    allow jcr:removeChildNodes, jcr:removeNode, jcr:addChildNodes, jcr:nodeTypeManagement on /content/mhos restriction(rep:glob,*/jcr:content*)
    allow jcr:versionManagement, jcr:read, rep:write, jcr:lockManagement on /content/dam/mhos, /content/dam/logo/mhos, /content/cq:tags/mhos
    allow jcr:nodeTypeManagement on /content/mhos,/content/dam/mhos, /content/dam/logo/mhos restriction(rep:glob,*/jcr:content*)
    allow jcr:nodeTypeManagement on /content/cq:tags/mhos restriction(rep:glob,*/*)
    allow jcr:read on /content/experience-fragments/mhos,/conf/mhos
    allow jcr:read on /var/workflow/models restriction(rep:glob,*mhos*)
    allow jcr:read on home(editor-mhos)
    end
        ############################# Stemline Site ##############################################
        ####################################################################################
        ## DAM - to ensure acl set ##
        #create path /content/dam/menarini-stemline(sling:OrderedFolder)
        #create path /content/dam/logo/menarini-stemline(sling:OrderedFolder)
        ## TAGS - to ensure acl set ##
        #create path /content/cq:tags/menarini-stemline(cq:Tag)
        ## Experience Fragments - to ensure acl set ##
        #create path /content/experience-fragments/menarini-stemline(sling:OrderedFolder)
        ## Template and policy folder - to ensure acl set ##
        #create path /conf/menarini-stemline(sling:Folder)
        ## Site folder - to ensure acl set ##
        #create path /content/menarini-stemline(cq:Page)
        #create path /content/menarini-stemline/jcr:content(nt:unstructured)
        #set properties on /content/menarini-stemline/jcr:content
        #default sling:ResourceType{String} to menarinimaster/components/page
        #default jcr:title{String} to \"Menarini stemline\"
        #end

        ############################# Biotech Site ##############################################
        ####################################################################################
        ## DAM - to ensure acl set ##
        #create path /content/dam/menarini-biotech(sling:OrderedFolder)
        #create path /content/dam/logo/menarini-biotech(sling:OrderedFolder)
        ## TAGS - to ensure acl set ##
        #create path /content/cq:tags/menarini-biotech(cq:Tag)
        ## Experience Fragments - to ensure acl set ##
        #create path /content/experience-fragments/menarini-biotech(sling:OrderedFolder)
        ## Template and policy folder - to ensure acl set ##
        #create path /conf/menarini-biotech(sling:Folder)
        ## Site folder - to ensure acl set ##
        #create path /content/menarini-biotech(cq:Page)
        #create path /content/menarini-biotech/jcr:content(nt:unstructured)
        #set properties on /content/menarini-biotech/jcr:content
        #default sling:ResourceType{String} to menarinimaster/components/page
        #default jcr:title{String} to \"Menarini biotech\"
        #end

    ##############################      END     ##########################################
    ######################################################################################
    ######################################################################################
        "
]