<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='menarinimaster.oneTrust'}"/>
</sly>

<sly data-sly-use.runmode="com.adiacent.menarini.menarinimaster.core.models.RunModeModel" data-sly-test="${runmode.publishMode}">
    <!-- OneTrust Cookies Consent Notice start for Menarini -->
    <script type="text/javascript" src="https://cdn.cookielaw.org/consent/${properties.oneTrustScriptId}/OtAutoBlock.js" ></script>
    <script src="https://cdn.cookielaw.org/scripttemplates/otSDKStub.js" data-document-language="true" type="text/javascript" charset="UTF-8" data-domain-script="${properties.oneTrustScriptId}" ></script>
    <script type="text/javascript">
    function OptanonWrapper() { }
    </script>
    <!-- OneTrust Cookies Consent Notice end for Menarini -->
</sly>
<div data-emptytext="OneTrust" class="cq-placeholder"></div>